/* This file exists solely to display the colours in the styleguide.
 * Don't mistake this for production code. */
$dimension: 150px;
$line-height: ($dimension * .75) / 3;

.color-block {
  float: left;
  max-width: 256px;
  padding: 1em;
  text-align: center;
}

.color-block__description {
  margin: 0;
}

.color-block__title {
  font-weight: 900;
}

.color-block__color {
  display: block;
  width: $dimension;
  height: $dimension;
  padding-top: ($dimension * .25) / 3;
  margin: 0 auto;
  border-radius: 100%;

  line-height: $line-height;
  color: $white;

  content: "";

  .color-block--light & {
    border: 5px solid $black;
    color: $black;
  }
}

.color-black {
  background-color: $black;
}

.color-white {
  background-color: $white;
}

.color-off-white {
  background-color: $off-white;
}

// Primary colors:
.color-ons-blue {
  background-color: $ons-blue;
}

.color-ons-green {
  background-color: $ons-green;
}

.color-ons-black {
  background-color: $ons-black;
}

// Accent colors:
.color-ons-green--light {
  background-color: $ons-green--light;
}

.color-blue-light {
  background-color: $blue-light;
}

.color-azure {
  background-color: $azure;
}

.color-green-dark {
  background-color: $green-dark;
}

.color-orange {
  background-color: $orange;
}

.color-red {
  background-color: $red;
}

.color-red-dark {
  background-color: $red-dark;
}

.color-pink {
  background-color: $pink;
}

// Utility colors :
.color-grey-warm {
  background-color: $grey-warm;
}

.color-grey-cold {
  background-color: $grey-cold;
}

.color-grey-light {
  background-color: $grey-light;
}

.color-blue-alt {
  background-color: $blue-alt;
}


// Other colors
.color-grey {
  background-color: $grey;
}
