body {
  line-height: 1.5; // 16 / 24
}

b,
strong {
  font-family: $font-bold;
  font-weight: normal;
}

%type-reset {
  margin-top: 0; // standardising this - making it 0
  font-family: $font-header;
  font-weight: 100;
}

%alpha {
  font-size: 2.7rem;
  line-height: 1.222222222; // 33
}

%beta {
  font-size: 2.4rem;
  line-height: 1.25;
}

%delta {
  font-size: 1.9rem;
  line-height: 1.105263158; // 21
}

%gamma {
  font-size: 1.6rem;
  line-height: 1.3125; // 21
}

%lede {
  font-size: 1.9rem;
  line-height: 1.421052632; // 27
}

%mini {
  font-size: 1.4rem;
  line-height: 1.5; // 21
}

%micro {
  font-size: 1.2rem;
  line-height: 1.5; // 18
}

%body-type {
  font-family: $font-regular;
}

%body-type--heavy {
  font-family: $font-bold;
}

%body-type--light {
  font-family: $font-light;
}

%headline-type {
  font-family: $font-header;
}

%description {
  color: $description-color;
}

h1,
h2,
h3,
h4,
h5,
h6,
.alpha,
.beta,
.delta,
.gamma {
  @extend %type-reset;
}

h1,
.alpha {
  @extend %alpha;

  @include respond-min($bp-tablet) {
    font-size: 4.2rem;
    line-height: 1.071428571; // 45
  }
}

h2,
.beta {
  @extend %beta;

  @include respond-min($bp-tablet) {
    font-size: 2.7rem;
    line-height: 1.333333333; // 36
  }
}

h3,
.delta {
  @extend %delta;
}

h4,
.gamma {
  @extend %gamma;
}

// Introductory paragraph:
.lead,
.lede {
  @extend %lede;

  @include respond-min($bp-tablet) {
    font-size: 2.1rem;
    line-height: 1.428571429; // 30
  }
}

.mini {
  @extend %mini;
}

.micro,
.small,
small {
  @extend %micro;
}

.body-type {
  @extend %body-type;
}

.body-type--heavy {
  @extend %body-type--heavy;
}

.headline-type {
  @extend %headline-type;
}

.description {
  @extend %description;
}

.headline-separated {
  padding-bottom: .75em;
  margin-bottom: .75em;
  border-bottom: 1px solid darken($grey-light, 10%);

  @include respond-min($bp-tablet) {
    padding-bottom: 1em;
    margin-bottom: 1em;
  }
}

.headline-spacious {
  line-height: 1.33;
}

a {
  color: $link-color;
  text-decoration: underline;

  &:visited {
    color: darken($link-color, 5%);
  }

  &:hover,
  &:focus {
    color: lighten($link-color, 15%);
  }

  // Prevent long emails from breaking out of containers
  &[href^="mailto:"] {
    word-wrap: break-word;
  }

}

.action-link {
  font-family: $font-bold;
  color: $orange;

  &:hover,
  &:focus {
    color: darken($orange, 15%);
  }
}

%link-muted {
  color: darken($grey, 10%);

  &:visited {
    color: $grey;
  }

  &:hover,
  &:focus {
    color: darken($grey, 20%);
  }
}

.link-muted {
  @extend %link-muted;
}
