.release-select {
    &__header {
        //
    }

    &__heading {
        float: left;
        margin-top: 21px;
    }

    &-search {
        float: right;
        width: 320px;

        &__input {
            width: 300px;
            float: left;
        }
    }

    &__body {
        padding: 0 16px 0 24px;
    }

    &__footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 63px;
        background: $gray-chateau;
    }

    &__animation {
        display: block;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        margin: 0 auto;
    }
}

.team-select {
    &__header {
        background: #343B59;
        color: #B2B6C4;
        padding: $lineheight 0;
    }

    &__heading {
        margin-top: 0;
        margin-bottom: 0;

    }

    &__left-column {
        float: left;
        margin: 64px 0 0 -4px;
        border-right: 1px solid #888888;

        h2 {
            margin: 0 0 0 20px;
        }
    }

    &__right-column {
        float: right;
        margin: 64px -4px 0 0;

        h2 {
            margin: 0 0 0 20px;
        }
    }

    &-search {
        float: right;
        margin-top: -56px;
        width: 320px;

        &__input {
            width: 300px;
            float: left;
        }
    }

    &__body {
        margin-top: -56px;
        padding: 0;
        display: block;
    }

    ul {
        overflow-y: scroll;
        margin: 16px 20px 0 20px;
        height: 552px;
    }

    li {
        list-style-type: none;
        margin: 0;
        padding: $lineheight;

        &:nth-child(even) {
            background-color: white;
        }

        &:hover {
            background-color: #E5E5E5;
        }
    }

    input {
        box-sizing: border-box;
        border: 3px solid #58585B;
        border-radius: 4px;
        margin: 18px 0 0 0;
        padding: 7px 20px;
    }

    .btn-team-list {
        margin: -8px 0 0 0;
        padding: 8px 16px;
        float: right;
    }

    .btn-team-add {
        background-color: $como;
        color: white;
    }
    .btn-team-remove {
        background-color: $tawny-port;
        color: white;
    }

    &__footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 63px;
        background: $gray-chateau;
    }
}

$color: #EFECCA;
$glass: rgba($color, 0.15);
$full: 0%;
$empty: 90%;
$time: 10s;
$size: 300px;

.over {
    background: rgba(255, 255, 255, 0.45);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 5000;
}

.hourglass {
    margin: 20px auto;
    height: $size * 2;
    width: $size;
    animation: flip $time ease infinite;
}

.top, .bottom {
    background-color: $glass;
    background-image: linear-gradient($color, $color);
    background-size: $size $size;
    background-repeat: no-repeat;
    width: $size;
    height: $size;
}

.top {
    background-position: 0 0;
    animation: top-do $time ease infinite;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
}

.bottom {
    background-position: 0 $size;
    animation: bottom-do $time ease infinite;
    -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    &:after {
        content: "";
        position: absolute;
        width: 2px;
        height: $size;
        left: ($size * 0.5) - 1px;
        background-image: linear-gradient($color, transparent);
    }
}

@keyframes top-do {
    95%, 100% {
        background-position: 0 $size;
    }
}

@keyframes bottom-do {
    95%, 100% {
        background-position: 0 0;
    }
}

@keyframes flip {
    0%, 95% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg);
    }
}