$black: #000000;
$white: #FFFFFF;
$mine-shaft: #323232;
$gray-chateau: #A1A3A5;
$grey-chateau: #A1A3A5;
$porcelain: #F5F6F7;
$quill-gray: #CCCCCB;
$quill-grey: #CCCCCB;
$pickled-bluewood: #343B59;
$slate-gray: #6A7290;
$slate-grey: #6A7290;
$iron: #E7E8E9;
$iron-dark: #D1D2D4;
$cadet-blue: #B2B6C4;
$astral: #337099;
$como: #49725D;
$concrete: #F2F2F2;
$emperor: #515151;
$scarpa-flow: #58585B;
$dusty-gray: #989898;
$dusty-grey: #989898;
$mirage: #1B2232;
$nevada: #6D6E70;
$nobel: #B3B3B3;
$night-shadz: #AA354C;
$ash: #C5C1B6;
$ship-gray: #404041;
$ship-grey: #404041;
$tea: #BBB6AA;
$gurkha: #9D9684;
$olive-haze: #8E8575;
$nappa: #AEA99C;
$kabul: #574F41;
$wild-sand: #F5F5F5;
$tawny-port: #6D272B;
$silver-sand: #BBBDC0;
$focus: #ffbf47;
