//table {
//	border: 3px solid $pickled-bluewood;
//	border-radius: 4px;
//	margin-top:-3px;
//	width: 100%;
//	border-spacing: 0px;
//
//	td, th {
//		padding-top: $lineheight;
//		padding-bottom: $lineheight;
//		padding-right: $gutter;
//		padding-left: $gutter;
//		text-align: left;
//		overflow-wrap: break-word;
//	}
//
//	thead {
//		tr {
//			background-color: $pickled-bluewood;
//			color: $cadet-blue;
//		}
//	}
//
//	tbody {
//		tr {
//			cursor: pointer;
//		}
//
//		tr:nth-child(odd) {
//			background-color: $white;
//			&:hover {
//				background-color: $quill-gray;
//			}
//		}
//
//		tr:nth-child(even) {
//			background-color: $iron;
//			&:hover {
//				background-color: $quill-gray;
//			}
//		}
//
//		tr.selected {
//			background-color: $astral;
//			cursor: default;
//			&:hover {
//				background-color: $astral;
//			}
//		}
//	}
//}

form {
    //position: relative; // Commented out to test where it is needed. Break all forms at the moment.
    //margin-top: - $lineheight; //Only needed on forms in collection/user workspace. Was breaking all other forms
}

::-webkit-input-placeholder {
    color: $dusty-gray;
}

:-moz-placeholder { /* Firefox 18- */
    color: $dusty-gray;
}

::-moz-placeholder { /* Firefox 19+ */
    color: $dusty-gray;
}

:-ms-input-placeholder {
    color: $dusty-gray;
}

input {
     box-sizing: border-box;
     border: 3px solid $scarpa-flow;
     border-radius: 4px;
     margin-top: -3px;
     display: inline-block;
     width: 100%;
     height: $lineheight * 2;
     margin: $lineheight 0;
     padding: 7px $gutter;
     background: $white;
 }

// this is used for JSON content force
#force-content-json-field {
    box-sizing: border-box;
    border: 3px solid $scarpa-flow;
    border-radius: 4px;
    width: 100%;
    margin: $lineheight 0;
    padding: 7px $gutter;
    background: $white;
}



// Focus styling
input[type="text"]:focus,
input[type="file"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
.table-builder input:focus,
textarea:focus {
    border: 3px solid $focus !important;
    border-radius: 4px;
}

select {
    // A lot of styles moved onto select-wrap instead, so it's been commented out until we know it isn't breaking anything - means we can add an arrow whilst keeping it click-able
    //box-sizing: border-box;
    //border: 3px solid $scarpa-flow;
    //border-radius: 4px;
    //margin-top:-3px;
    //display: inline-block;
    //margin: $lineheight 0;
    //height: $lineheight * 2;
    border: none; //reset default styling
    border-radius: 0;
    width: 100%;
    padding: 7px 62px 7px $gutter;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.select-wrap, .ui_tpicker_hour, .ui_tpicker_minute {
    //padding: 0 38px 0 0;
    //float: left;
    position: relative;
    height: $lineheight * 2;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    border: 3px solid $scarpa-flow;
    border-radius: 4px;
    background-color: $white;
    margin: 0 0 $lineheight 0;

    &:before {
        content: '';
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        width: 42px;
        height: 40px;
        position: absolute;
        top: -3px;
        right: -3px;
        background: $scarpa-flow url(../../img/sprite.png) no-repeat 6px -686px;
        background-size: 30px auto;
    }

    // Specifically for the select used in the browser/preview
    &--browser {
        display: none;
        height: 28px;
        width: 80%;
        margin-left: 20%;

        & select {
           padding: 0 $gutter;
        }

        &:before {
            transform: scale(0.6);
            top: -9px !important; //stops focus styling from overriding positioning
            right: -11px !important;
        }
    }

    &--small {
        width: 28%;
    }

    &--half {
        width: 50%;
    }

    &--focus {
        border-top: 3px solid $focus;
        border-bottom: 3px solid $focus;
        border-left: 3px solid $focus;
        border-right: 3px solid $scarpa-flow;

        &:before {
            border-left: 3px solid $focus;
            border-top: 1px solid $scarpa-flow;
            border-bottom: 1px solid $scarpa-flow;
            top: -3px;
            right: -3px;
        }
    }
}

.ui_tpicker_hour, .ui_tpicker_minute {
    width: 194px;
}

input[type="radio"] {
    position: absolute;
    width: $lineheight;
    height: $lineheight;
    margin: 0;
    -moz-opacity: 0;
    -webkit-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
}

input[type="radio"] + label {
    position: relative;
    padding: 0 $lineheight 0 $lineheight + 4;
    display: inline-block;
    margin: $lineheight 0;
}

input[type="radio"] + label:before {
    box-sizing: border-box;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: $lineheight;
    width: $lineheight;
    background: $white;
    border: 3px solid $scarpa-flow;
    box-shadow: inset 0px 0px 0px 2px white;
    -webkit-box-shadow: inset 0px 0px 0px 2px white;
    -moz-box-shadow: inset 0px 0px 0px 2px white;
    -o-box-shadow: inset 0px 0px 0px 2px white;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

input[type="radio"]:checked + label:before {
    background: $astral;
}






