/* global */

* {
  margin: 0;
  padding: 0;
}

body {
	background:#fff;
	padding: 0;
	margin: 0;
}

/* tags */
h1 {
	padding: 0;
}

h2 {
	padding: 0;
}

/*label, select {
	cursor: pointer;
}*/

li {
	margin: 0;
}

ol, ul {
	padding: 0;
}

p {
	padding: 0;
}
button {
	border: 0;
	cursor: pointer;
	outline: none;
}

textarea, input {
	padding: 0;
	outline: none;
}

select {
	/*cursor: pointer;*/
	padding: 0;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}




/*  print media  */
@media print
{
	/* global */
	body { 
		color: #000; 
		font-size: 9pt; 
	}

	/* links */
	a { 
		text-decoration:underline; color: #999; 
	}
}