/*
* This file is used for SCSS that you write knowing that it need refactoring - the shame file should be emptied regularly
*/

.florence-disable {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: black;
    opacity: 0.6;
    color: $white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 10000;
}

//Modal styling - probably need some refactoring but mainly needs correct location in sass files
.modal {
    display: block;

    &:before {
        content: "";
        display: block;
        opacity: 0.7;
        background-color: $black;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1000;
    }

    &-box {
        background: #fefefe;
        margin-left: -250px;
        position: fixed;
        left: 50%;
        top: 20%;
        z-index: 1001;
        width: 500px;
        height: $lineheight * 17;
    }

    &-box_t1 {
        background: #fefefe;
        margin-left: -250px;
        position: fixed;
        left: 50%;
        top: 12%;
        z-index: 1001;
        width: 500px;
        height: auto;
    }

    &-nav {
        box-sizing: border-box;
        position: absolute;
        bottom: 0;
        height: $lineheight * 4;
        width: 100%;
        padding-top: $lineheight * 0.5;
        padding-bottom: $lineheight * 0.5;
        background: $gray-chateau;
    }

    &-nav_t1 {
        box-sizing: border-box;
        position: absolute;
        height: $lineheight * 4;
        width: 100%;
        padding-top: $lineheight * 0.5;
        padding-bottom: $lineheight * 0.5;
        background: $gray-chateau;
    }

    .uri-input {
        margin: ($lineheight * 2) $lineheight $lineheight $lineheight;

        &__label {
            margin: $lineheight 0;
        }

    }

    .uri-textarea {
        margin: $lineheight 0 0 0;
        box-sizing: border-box;
        border: 3px solid #58585B;
        border-radius: 4px;
    }

    .select-wrap {
        margin: $lineheight 0 $lineheight 0;
    }

    .uri-browse {

        &__label {
            display: inline-block;
        }

        button {
            display: inline-block;
            margin-left: 0;
        }

    }

    .btn-uri-browse,
    .btn-uri-get {
        color: $concrete;
        background-color: $astral;
    }

    .latest {

        &__label {
            margin-left: $lineheight;
        }

        &__checkbox {
            margin: 0 0 0 ($lineheight * 0.5);
        }

    }

    .btn-wrap {
        margin-left: $lineheight;
    }

}

// Black background for related / internal links modal
.modal-background {
    opacity: 0.7;
    background-color: $black;
    top: 63px;
    position: absolute;
    z-index: 10;
}

// 'Tick' on chart/table copy function
.tick-animation {
    position: absolute;
    width: 40%;
    height: 40%;
    top: 15%;
    left: 31%;
}
.circ {
    opacity: 0;
    stroke-dasharray: 130;
    stroke-dashoffset: 130;
    -webkit-transition: all 1s;
    transition: all 1s;
}

.tick {
    stroke-dasharray: 50;
    stroke-dashoffset: 50;
    -webkit-transition: stroke-dashoffset 1s 0.5s ease-out;
    transition: stroke-dashoffset 1s 0.5s ease-out;
}

.drawn + svg .path {
    opacity: 1;
    stroke-dashoffset: 0;
}

// Loading animation
//$width: 100px;
//
//body {
//    background-color: $white;
//}
//
//.loader {
//    //display: none; //So it's only shown by Javascript
//    position: absolute;
//    width: $width;
//    height: $width;
//    left: 50%;
//    top: 20%;
//}
//
//.circular{
//    animation: rotate 2s linear infinite;
//    height: $width;
//    position: relative;
//    width: $width;
//}
//
//
//.path {
//    stroke-dasharray: 1,200;
//    stroke-dashoffset: 0;
//    animation:
//            dash 1.5s ease-in-out infinite,
//            color 6s ease-in-out infinite
//;
//    stroke-linecap: round;
//}
//
//@keyframes rotate{
//    100%{
//        transform: rotate(360deg);
//    }
//}
//@keyframes dash{
//    0%{
//        stroke-dasharray: 1,200;
//        stroke-dashoffset: 0;
//    }
//    50%{
//        stroke-dasharray: 89,200;
//        stroke-dashoffset: -35;
//    }
//    100%{
//        stroke-dasharray: 89,200;
//        stroke-dashoffset: -124;
//    }
//}
//@keyframes color{
//    100%, 0%{
//        stroke: $white;
//    }
//    //40%{
//    //    stroke: $scarpa-flow;
//    //}
//    //66%{
//    //    stroke: $pickled-bluewood;
//    //}
//    //80%, 90%{
//    //    stroke: $tawny-port;
//    //}
//}


// Loading animation
.loader {
    margin: 0 auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 3px solid rgba(255, 255, 255, 0.2);
    border-right: 3px solid rgba(255, 255, 255, 0.2);
    border-bottom: 3px solid rgba(255, 255, 255, 0.2);
    border-left: 3px solid #ffffff;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}

.loader,
.loader:after {
    border-radius: 50%;
    width: 21px;
    height: 21px;
}

// Large loader animation
.loader--large {
    border-width: 5px;
}
.loader--large,
.loader--large:after {
    width: 42px;
    height: 42px;
}

// Dark loader animation
.loader--dark {
    border-left-color: $pickled-bluewood;
    border-top-color: rgba(52,	59,	89, 0.2);
    border-right-color: rgba(52, 59, 89, 0.2);
    border-bottom-color: rgba(52, 59, 89, 0.2);
}

@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


.change-password-overlay {
    &__inner {
        background-color: #f5f5f5;
        //height: 490px;
        width: 30%;
        margin-top: 126px;
        margin-right: auto;
        margin-left: auto;
        overflow: hidden;
        position: relative;
        padding: $lineheight $lineheight ($lineheight *3) $lineheight;

        h1 {
            margin: ($lineheight * 2) 0;
        }
    }
}

.event-meta {

    margin: 0 0 $lineheight 0;

    &__item {
        margin: 0 0 0 ($lineheight * 2);
    }

}

.file-upload {

    width: 460px;

    &__title {
        width: 100% !important;
        margin-bottom: $lineheight * 0.5 !important;
    }

    &__filename {
        margin: 10px 0;
    }

}