.workspace {

    &-menu {
        background-color: $quill-gray;
        height: 100%;

        &__header {
            background-color: $pickled-bluewood;
            color: $porcelain;
            padding: 21px;

            h2 {
                margin: 0;
            }

        }

    }

    &-browse {
        background-color: $quill-gray;
        padding-left: $gutter;
    }

    &-browser {
        background-color: $mine-shaft;
        padding-bottom: ($gutter / 4) * 3;
    }

    &-create {
        h1 {
            margin-top: 0;
            font-size: $magicnumber1 * 3;
            padding-top: 10px;
            margin-bottom: 10px;
        }

        form {
            margin-top: 0;
            padding: 0 $gutter;
            position: relative;
        }

        label {
            box-sizing: border-box;
            padding-top: $lineheight / 2;
            padding-left: $gutter;
            margin-top: $lineheight;
            width: 24%;
            position: absolute;
            height: $lineheight * 2;
            background-color: $scarpa-flow;
            color: $porcelain;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
        }

        input {
            margin-left: 25%;
            width: 75%;
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
        }

        input.full {
            margin-left: 0;
            width: 100%;
        }
    }

    &-edit {
        box-sizing: border-box;
        background-color: $quill-gray;
        // padding-bottom: $lineheight * 4;
        // position: relative;

        //Temporarily used !important because refactoring panels puts it after workspace-edit in the CSS file, which means it gets overwritten, when workspace should have priority instead TODO make a modifier that fixes height and and scroll to overflow instead
        overflow-y: scroll !important;
        height: $panel-height-1-top-nav - ($lineheight * 4) !important;

        h1 {
            margin-top: 0;
            font-size: $magicnumber1 * 3;
            padding-top: 10px;
            padding-right: $gutter;
            margin-bottom: -10px;
        }

        p {
            margin-top: 0;
        }

        .edit-form {
            position: unset;
        }

        .edit-nav {
            box-sizing: border-box;
            position: absolute;
            bottom: 0;
            height: $lineheight * 4;
            width: $col--4;
            padding-top: $lineheight / 2;
            padding-bottom: $lineheight / 2;
            background: $gray-chateau;
        }

        .edit-section {
            background-color: $pickled-bluewood;
            color: $porcelain;
            margin: $lineheight $gutter;
            overflow: hidden;
            position: relative;
            //padding-bottom: $lineheight;

            textarea {
                // width: 100%;
                font-size: 12px;
                margin: 0;
                //width: 50%;
                height: $lineheight * 2;
                // line-height: $lineheight - 3;
            }

            input {
                border: 3px solid #fff;
                margin: 0;
                padding: 7px 5px;
                width: auto;
            }

            label {
                margin: 0 $gutter;
                display: block;
            }

            //input[type="file"] {
            //    float: left;
            //    margin-bottom: $lineheight / 2;
            //    border: 3px solid $scarpa-flow;
            //}

            // &.active {
            // 	cursor: auto;
            // 	&:before {
            // 		border-top: 0px solid transparent;
            // 		border-bottom: 10px solid $quill-gray;
            // 		border-left: 10px solid transparent;
            // 		border-right:10px solid transparent;
            // 	}
            // }

            // &:before {
            // 	content: '';
            // 	position: absolute;
            // 	width: 0;
            // 	height: 0;
            // 	top: $lineheight;
            // 	right: $gutter;
            // 	background-color: transparent;
            // 	border-top: 10px solid $quill-gray;
            // 	border-left: 10px solid transparent;
            // 	border-right:10px solid transparent;
            // 	/*cursor: pointer;*/
            // }

            &__head {
                outline: none;
                cursor: pointer;
                padding-bottom: $lineheight;

                &.ui-accordion-header-active {
                    //cursor: auto;
                    &:before {
                        border-top: 0px solid transparent;
                        border-bottom: 10px solid $quill-gray;
                        border-left: 10px solid transparent;
                        border-right: 10px solid transparent;
                    }
                }

                &:before {
                    content: '';
                    position: absolute;
                    width: 0;
                    height: 0;
                    top: $lineheight;
                    right: $gutter;
                    background-color: transparent;
                    border-top: 10px solid $quill-gray;
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                    /*cursor: pointer;*/
                }
            }

            &__content {
                padding: $lineheight 0;
                background-color: $slate-gray;
                border: 3px solid $pickled-bluewood;
                // display: none;

                .select-wrap {
                    //background-color: white;
                    margin: 0px 20px 21px 20px;
                    //width: 44%;
                }

                p {
                    margin: 0 0 0 $lineheight;
                }

                &--correction {

                    textarea {
                        width: 100% !important;
                        margin: 0 0 $lineheight 0 !important;
                    }

                    input {
                        width: 100% !important;
                        margin: 0 0 $lineheight 0 !important;
                    }

                    .edit-section__sortable-item {
                        text-align: left !important;
                    }
                }
            }

            &__file-name {
                margin: 10.5px 0 0 32px;
            }

            &__sortable-item {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                padding: $lineheight $gutter;
                position: relative;
                color: $mirage;
                //text-align: left;
                //text-align: right;
                word-wrap: break-word;
                background-color: $cadet-blue;
                padding-top: $lineheight / 2;
                padding-bottom: $lineheight / 2;
                padding-right: $gutter / 2;
                padding-left: ($gutter / 2) * 4;
                margin-bottom: $lineheight / 2;
                margin-right: $gutter;
                margin-left: $gutter;
                overflow: hidden;

                &--counter {
                    margin: 0 ($lineheight / 2) 0 ($lineheight / 2);
                    color: $scarpa-flow;
                    font-weight: bold;
                    font-size: 16px;
                    position: relative;

                    &:before {
                        content: '';
                        position: absolute;
                        //left: $gutter / 2;
                        //top: 12px;
                        left: -($gutter * 2);
                        top: -10px;
                        width: 30px;
                        height: $lineheight * 2;
                        cursor: move;
                        background: transparent url(../../img/sprite.png) no-repeat 0px -135px;
                        background-size: 30px auto;
                    }
                }

                input {
                    margin: 0;
                    width: 50%;
                    border: 3px solid $scarpa-flow;
                }

                .correction-alert {

                    margin: ($lineheight / 2) 0 0 auto;

                    label {
                        width: auto;
                    }

                    input {
                        margin-left: $lineheight / 2;
                        width: auto;
                        display: inline-block;
                    }
                }

                textarea {
                    width: 50%;
                    border: 3px solid $scarpa-flow;
                    // min-height: ($lineheight * 2) !important;
                    margin: 0;
                    // line-height: $lineheight - 3;
                    padding: 7px 5px;
                    float: left;
                    height: 41px;
                }

                button {
                    margin: 0 0 0 5px;
                    margin-left: auto;
                }
            }

            &__item {
                color: $mirage;
                display: flex;
                align-items: center;
                text-align: left;
                padding: $lineheight $gutter;
                position: relative;
                //text-align: right;
                background-color: $cadet-blue;
                padding-top: $lineheight / 2;
                padding-bottom: $lineheight / 2;
                //padding-right: $gutter;
                padding-left: $gutter - ($gutter / 2);
                margin-bottom: $lineheight / 2;
                margin-right: $gutter;
                margin-left: $gutter;
                overflow: hidden;

                button {
                    margin: 0 0 0 5px;
                    //margin-left: auto;
                }
            }

            &__title {
                width: 50%;
                margin: 0;
                padding: 7px 5px;
                float: left;
                color: $mirage;
                text-align: left;
                height: auto;
                font-size: 14px
            }

            &__buttons {
                margin-left: auto;
            }
        }

        #metadata-list {

            textarea {
                margin-bottom: $lineheight;
                width: 100%;
            }

            input {
                margin-bottom: $lineheight;
                display: block;
            }

            //TODO Select all checkbox labels without specifying their ID.
            //label + input[type="checkbox"] {
            //  display: inline-block !important;
            //}

            #natStat label,
            #natStat input,
            #releaseDateEnabled label,
            #releaseDateEnabled input,
            #articleType label,
            #articleType input {
                display: inline-block;
            }

            #finalised label,
            #finalised input {
                display: inline-block;
            }

            #migrated label,
            #migrated input {
                display: inline-block;
            }

            #cancelled label,
            #cancelled input {
                display: inline-block;
            }

            #isIndex label,
            #isIndex input {
                display: inline-block;
            }
        }
    }
}

//.markdown-editor {
//    display: none;
//    box-sizing: border-box;
//    position: absolute;
//    z-index: 900;
//    top: 0;
//    left: 0;
//    right: 0;
//    width: 100%;
//    height: 100%;
//    padding-top: $lineheight * 4;
//    padding-bottom: $lineheight * 4;
//    padding-right: $gutter * 4;
//    padding-left: $gutter * 4;
//    background-color: rgba($black, .85);
//
//    &__header {
//        height: $lineheight * 6;
//        background-color: $pickled-bluewood;
//
//        h1 {
//            margin: 0 $gutter;
//            padding-top: $lineheight / 2;
//            color: $cadet-blue;
//            font-family: 'Open Sans', sans-serif;
//            font-weight: 300;
//        }
//    }
//
//    &__content {
//        box-sizing: border-box;
//        padding: 0;
//        // height: 100%;
//        height: $lineheight * 24;
//    }
//
//    &__footer {
//        height: $lineheight * 4;
//        background-color: $pickled-bluewood;
//    }
//
//    .wmd-panel {
//        box-sizing: border-box;
//        height: 100%;
//    }
//
//    .wmd-preview {
//        width: 50%;
//        float: right;
//        background-color: $concrete;
//        overflow-y: scroll;
//    }
//
//    .wmd-edit {
//        width: 50%;
//        float: left;
//        background-color: $ash;
//        position: relative;
//        overflow: hidden;
//        padding-top: $lineheight * 2;
//
//        h2 {
//            margin: -($lineheight * 2) $gutter 0 $gutter;
//            padding: 0;
//            // color: $cadet-blue;
//            font-family: 'Open Sans', sans-serif;
//            font-weight: 600;
//            font-size: 14px;
//        }
//    }
//
//    .wmd-input {
//        box-sizing: border-box;
//        height: 100%;
//        border: none;
//        resize: none;
//        background-color: $ash;
//        color: $ship-gray;
//        // padding: 0 ($gutter / 2) 0 70px;
//        padding: 0 0 0 0;
//        margin-left: 10%;
//        font-family: 'Ubuntu Mono';
//        font-weight: normal;
//        font-size: 14px;
//        line-height: $lineheight;
//        width: 89%;
//
//        &:focus {
//            border: 0 !important;
//            outline: 0;
//        }
//    }
//
//    // .wmd-prompt-dialog {
//    // 	z-index: 9005;
//    // }
//
//    #wmd-button-row {
//        margin: 0;
//        padding: 0;
//        overflow: hidden;
//        height: auto;
//    }
//
//    #wmd-button-bar {
//
//        li {
//            box-sizing: border-box;
//            display: none;
//            float: left;
//            position: static;
//            margin: ($lineheight / 2) 0 0 $gutter;
//            // position: relative;
//        }
//
//        .wmd-button {
//            width: $gutter * 2;
//            height: $lineheight * 2;
//            // border: 2px solid $cadet-blue;
//        }
//
//        .wmd-button > span {
//            display: none;
//        }
//
//        #wmd-link-button {
//            display: inline-block;
//            &:before {
//                content: '';
//                width: 30px;
//                height: 30px;
//                display: block;
//                margin: 4px auto;
//                background: transparent url(../../img/sprite.png) no-repeat 0px -180px;
//                background-size: 30px auto;
//            }
//        }
//
//        #wmd-undo-button {
//            display: inline-block;
//            &:before {
//                content: '';
//                width: 30px;
//                height: 30px;
//                display: block;
//                margin: 4px auto;
//                background: transparent url(../../img/sprite.png) no-repeat 0px -221px;
//                background-size: 30px auto;
//            }
//        }
//
//        #wmd-redo-button {
//            display: inline-block;
//            &:before {
//                content: '';
//                width: 30px;
//                height: 30px;
//                display: block;
//                margin: 4px auto;
//                background: transparent url(../../img/sprite.png) no-repeat 0px -262px;
//                background-size: 30px auto;
//            }
//        }
//    }
//
//    .btn-markdown-editor-chart {
//        float: left;
//        width: 40px;
//        height: 42px;
//        background: $pickled-bluewood url(../../img/sprite.png) no-repeat 0px -475px;
//        background-size: 30px auto;
//        margin: 10.5px 0 0 20px;
//
//        &:hover:after {
//            background-color: transparent;
//        }
//    }
//
//    .btn-markdown-editor-table {
//        float: left;
//        width: 40px;
//        height: 42px;
//        background: $pickled-bluewood url(../../img/sprite.png) no-repeat 0px -515px;
//        background-size: 30px auto;
//        margin: 10.5px 0 0 20px;
//
//        &:hover:after {
//            background-color: transparent;
//        }
//    }
//
//    .btn-markdown-editor-image {
//        float: left;
//        width: 40px;
//        height: 42px;
//        background: $pickled-bluewood url(../../img/sprite.png) no-repeat 0px -653px;
//        background-size: 30px auto;
//        margin: 10.5px 0 0 20px;
//
//        &:hover:after {
//            background-color: transparent;
//        }
//    }
//
//    .btn-markdown-editor-embed {
//        float: left;
//        background-color: transparent;
//        margin: 10.5px 0 0 20px;
//        width: 40px;
//        height: 42px;
//
//        &:after {
//            font-size: 26px;
//            color: $cadet-blue;
//            width: 40px;
//            height: 42px;
//            top: 10px;
//            left: 0;
//            position: absolute;
//            content: '</>';
//            background-color: transparent;
//        }
//
//        &:hover {
//            float: left;
//            background-color: transparent;
//            margin: 10.5px 0 0 20px;
//            width: 40px;
//            height: 42px;
//            content: '</>';
//        }
//    }
//
//    .btn-markdown-editor-equation {
//        float: left;
//        background-color: transparent;
//        margin: 10.5px 0 0 20px;
//        width: 40px;
//        height: 42px;
//
//        &:before {
//            font-size: 36px;
//            color: $cadet-blue;
//            width: 40px;
//            height: 42px;
//            top: 10px;
//            left: 0;
//            position: absolute;
//            content: '√';
//            background-color: transparent;
//        }
//
//        &:after {
//            font-size: 20px;
//            color: $cadet-blue;
//            width: 40px;
//            height: 42px;
//            top: 10px;
//            left: 15px;
//            position: absolute;
//            content: 'x';
//            background-color: transparent;
//        }
//
//        &:hover {
//            float: left;
//            background-color: transparent;
//            margin: 10.5px 0 0 20px;
//            width: 40px;
//            height: 42px;
//            content: '√x';
//        }
//    }
//
//    .markdown-editor-line-numbers {
//        box-sizing: border-box;
//        width: 8%;
//        height: 100%;
//        padding-bottom: $lineheight * 2;
//        position: absolute;
//        top: $lineheight * 2;
//        background: $tea;
//        border-right: 1px solid $gurkha;
//        overflow: hidden;
//
//        li {
//            margin: 0 -10px 0 0;
//            list-style-position: inside;
//            font-family: 'Ubuntu Mono';
//            font-weight: normal;
//            font-size: 14px;
//            text-align: right;
//            color: $olive-haze;
//
//            &.active {
//                background-color: $nappa;
//                color: $kabul;
//            }
//        }
//    }
//
//    button {
//        margin-top: $lineheight;
//    }
//}

.dataset-buttons {
    display: inline-block;
    padding: 8px 0 0 0;
    margin-left: -5px;
    width: 100%;
}

.btn-dataset-autocsdb {
    color: #F2F2F2;
    background-color: #49725D;
    float: right;
    margin-right: -5px !important;
}

.embed {
    &__form {
        margin: ($lineheight * 2) $lineheight;
    }

    &__label {
        font-size: 16px;
    }

    &__textarea {
        width: 100%;
        border: 3px solid $scarpa-flow;
        background-color: $white;
        word-wrap: normal;
        resize: vertical;
        padding: 7px 20px;
        margin: 21px 0;
    }
}

.child-page {
    background-color: $scarpa-flow;
    color: $porcelain;
    padding: $lineheight 0;

    &__title {
        font-weight: bold;
    }

    &__content {
        margin: 0 $lineheight;
    }

    &__link {
        height: $lineheight * 2;
        margin: $lineheight $lineheight 0 $lineheight;
        padding: 0 $lineheight 0 ($lineheight * 2);
        cursor: pointer;
        display: flex;
        align-items: center;
        background-color: $silver-sand;
        color: $mine-shaft;
        position: relative;
        width: 30%;
        border-radius: 4px;

        &:hover {
            background: $gray-chateau;
        }

        &:before {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            left: 10px;
            top: 10px;
            border-top: 11px solid transparent;
            border-bottom: 11px solid transparent;
            border-right: 11px solid $mine-shaft;
        }

    }
}

.create-publishing-error {
    background-color: $night-shadz;
    color: white;
    margin: 0;
    padding: 10px 21px;
}


