# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/


# NPM
.sass-cache/
node_modules
npm-debug.log*

# Dev project files
src/assets/css/*
src/assets/js/main.js
src/assets/js/templates.js
