# Eclipse
.classpath
.project
.settings/

#VSCode
.vscode

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# NPM
.sass-cache/
node_modules
npm-debug.log*

#Golang
assets/debug.go
build/florence

#Jest
src/coverage