.add-remove {

    &__heading {
        background-color: $pickled-bluewood;
        color: $cadet-blue;
        text-align: left;
        padding: $lineheight $gutter * 2;
        margin-top: 0;
        margin-bottom: $lineheight;
    }

    &__col {
        &--border-left {
            border-left: 1px solid $ash;
        }
    }

    &__col-heading {
        padding-left: $gutter * 2;
        padding-right: $gutter * 2;
        margin-bottom: $lineheight;
    }

    &__loader {
        margin-left: $gutter * 2;
    }

    &__body {
        height: ($lineheight * 25);
        overflow-x: scroll
    }

    &__text {
        padding: ($lineheight * 0.5) ($gutter * 2);
    }

    &__item {
        padding: ($lineheight * 0.5) ($gutter * 2);
        display: flex;
        align-items: center;
        flex-direction: row;

        &:nth-child(even) {
            background-color: $iron;
        }
        
        &:nth-child(odd) {
            background-color: $white;
        }
    }

    &__item-title {
        flex-grow: 1;

        &.disabled {
            color: $dusty-grey;
        }
    }

    &__footer {
        background-color: $grey-chateau;
        padding: $lineheight $gutter * 2;
    }
}