.readonly-checkbox
{
    position: absolute;
    opacity: 0;

    & + label{
        position: relative;
    }

    & + label::before {
        content: "";
        background-color: $grey3;
        vertical-align: middle;
        border-radius: 1px;
        display: inline-block;
        margin-right: 7px;
        height: 20px;
        width: 20px;
    }
    &:checked + label::before{
        background-color:$spring-green;
    }

    &:checked + label::after {
       content: "";
       background:$white;
       height: 2px;
       width: 2px;
       position: absolute;
       top: 12px;
       left: 4px;
       box-shadow:-2px 0 0 $white, 2px 0 0$white, 4px 0 0 $white, 4px -2px 0 $white, 4px -4px 0 $white, 4px -6px 0 $white, 4px -8px 0 $white, 4px -10px 0 $white, 4px -12px 0 $white;
       transform: rotate(45deg);

    }
    &__wrapper{
        margin-top: 7px;
        margin-bottom: 7px;
     
    }
}