.content-action-bar {
  background-color: $grey5;

  &--bottom-fixed {
    list-style: none;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 3;
  }

  &__warn {
    align-self: center;
    vertical-align: middle;
    margin-left: $magicnumber1 * 2;

    &__text {
      margin-left: $magicnumber1;
    }
  }
}