.content-action-bar {
  background-color: $grey5;
  display: flex;
  padding-top: 21px;
  padding-bottom: 21px;
  padding-left: $gutter * 8 ;

  &--bottom-fixed {
    position: fixed;
    width: 100%;
    bottom: 0;
  }

  &__warn {
    align-self: center;
    vertical-align: middle;
    margin-left: $gutter;

    &__text {
      margin-left: $magicnumber1;
    }
  }
}