.drawer {
    position: fixed;
    top: 0;
    right: 0;
    padding-top: $lineheight * 3;
    -webkit-transform: translateX(103%);
    transform: translateX(103%);
    will-change: transform;
    width: 50%;
    background-color: $pickled-bluewood;
    height: calc(100vh - #{($lineheight * 3)});

    &.visible {
        -webkit-transform: none;
        transform: none;
    }

    &.animatable {
        transition: all 130ms ease-in;
    }

    &.visible.animatable {
        transition: all 330ms ease-out;
    }

    &__container {
        display: flex;
        flex-direction: column;
        height: 100%
    }

    &__heading {
        // padding-left: $gutter * 8;
        // padding-right: $gutter * 8;
        color: $cadet-blue;
        // margin-top: $lineheight * 3;
        // margin-bottom: $lineheight * 2;

        h2 {
            max-width: 600px; // prevents element growing so wide it pushes edit button onto next line
        }
    }

    &__banner {
        // padding: ($lineheight) ($gutter * 8);
        background-color: $grey-chateau;

        &--dark {
            background-color: $emperor;
            color: $iron;
        }

        &--large {
            font-size: 17px;
            padding-top: $lineheight * 1.5;
            padding-bottom: $lineheight * 1.5;
        }
    }

    &__body {
        // padding: ($lineheight) ($gutter * 8);
        background-color: $quill-grey;
        flex: 1;
        overflow-y: scroll;
    }

    &__loader {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: $lineheight;
    }

    &__footer {
        // padding: $lineheight ($gutter * 8);
    }
}