.global-nav {
    &__list {
        position: relative;
        z-index: 1;
        overflow: hidden;
        background: $mine-shaft;
        padding: 0 20px;
        color: $grey-chateau;
        height: $navbar-height;
        text-align: right;
        list-style: none;
    }

    &__item {
        display: inline-block;
    }

    &__link {
        color: $grey-chateau;
        text-decoration: none;
        padding: $lineheight $gutter;
        display: block;
        position: relative;

        &.selected {
            color: $white;
            &:before {
                content: '';
                display: block;
                position: absolute;
                width: 100%;
                height: 3px;
                left: 0;
                top: 0;
                background-color: $white;
            }
        }
    }

    &__preview-select {
        margin-top: 2px;
        float: left;
    }
}