.logs {
    margin-top: $lineheight;
}

.log {
    margin-bottom: $lineheight;

    &__type {
        &::first-letter {
            text-transform: uppercase;
        }
        font-weight: 600;
    }
}