.notifications {
    list-style: none;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 3;

    &__item {
        padding: $lineheight ($gutter * 8);
        background-color: $ship-grey;
        color: $iron;
        font-size: 18px;
        margin-top: $magicnumber2;
        -webkit-transform: translateY(103%);
        transform: translateY(103%);
        transition: all 100ms ease-out;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        &--warning {
            background-color: $night-shadz;
        }

        &--positive {
            background-color: $como;
        }
        
        &.visible {
            transform: none;
            transition: all 250ms ease-out;
        }
    }

    &__button {
        background-color: transparent;
        color: $iron;
        padding: 0;
        float: right;
        font-size: 16px;
        text-decoration: underline;

        &:first-of-type {
            margin-left: ($gutter * 2);
        }

        &:hover {
            text-decoration: underline;
        }
    }
}