.notifications {
    list-style: none;
    position: absolute;
    width: 100%;
    bottom: 0;

    &__item {
        padding: $lineheight ($gutter * 8);
        background-color: $nevada;
        color: $iron;
        margin-top: $magicnumber2;
        -webkit-transform: translateY(103%);
        transform: translateY(103%);
        transition: all 100ms ease-out;

        &--warning {
            background-color: $night-shadz;
        }
        
        &.visible {
            transform: none;
            transition: all 250ms ease-out;
        }
    }

    &__button {
        background-color: transparent;
        color: $iron;
        padding: 0;
        float: right;
        // font-size: ($magicnumber1 * 2.5);
        text-transform: uppercase;

        &:first-of-type {
            margin-left: ($gutter * 2);
        }

        &:hover {
            text-decoration: underline;
        }
    }
}