.preview {
    // $border-width: 4px;

    height: calc(100vh - #{$navbar-height});
    display: flex;
    flex-flow: column;

    &__header {
        background-color: $iron-dark;
    }

    &__iframe {
        width: 100%;
        height: 100%;
        border-width: 0;
    }

    &--half {
        height: calc(65vh - #{$navbar-height});
    }

    &--borders {
        border-top: 3px solid $iron-dark;
        border-bottom: 3px solid $iron-dark;
    }

}
