.progress {
    background-color: $ash;
    padding: 4px;
    width: 100%;

    &__bar {
        height: ($lineheight / 2);
        background-color: $como;
        transition: 0.4s linear;
        transition-property: width;

        &--error {
            background-color: $night-shadz;
        }
    }

    &__error {
        color: $night-shadz;
        font-weight: 600;
    }
}