.selectable-table {
    border: 3px solid $pickled-bluewood;
    border-radius: 4px;
    
    &__details {
        position: relative;
        padding-left: $gutter;
        padding-right: $gutter;
        
        &:not(:nth-last-of-type(1)) {
            border-bottom: 1px solid $iron-dark;
        }

        &[open] {
            background-color: $concrete;
        }

        &:before {
            position: absolute;
            top: $lineheight;
            right: $gutter;
            content: "";
            @extend .icon;
            @extend .icon-arrow-down--dark;
        }

        &[open]:before {
            @extend .icon-arrow-up--dark;
        }
    }

    &__summary {
        padding-top: $lineheight;
        padding-bottom: $lineheight;
        text-decoration: none;

        &:focus {
            outline: 0;
        }
    }

    &__heading {
        font-size: ($magicnumber1 * 2) + $magicnumber2;
        padding: $lineheight $gutter;
        background-color: $pickled-bluewood;
        color: $cadet-blue;
        font-weight: 700;
    }
}