@use "sass:math";

.selected-item-list {
    margin-bottom: $lineheight * 0.5;

    &__item {
        background-color: $slate-grey;
        color: $white;
        padding: $lineheight * 0.5;
        margin: 0 ($lineheight * 0.5) ($lineheight * 0.5) 0;
        display: inline-block;

        &:hover {
            background-color: lighten($slate-grey, 10%);
        }
        &--info {
            background-color: $porcelain;
            color: $mine-shaft;
            &:hover {
                background-color: darken($porcelain, 30%);
            }
        }
    }

    &__remove {
        background-color: transparent;
        color: $white;
        font-size: 18px;
        font-weight: 700;
        padding-left: math.div($lineheight, 3);

        &:hover {
            color: $night-shadz;
            font-weight: 700;
        }
        &--info {
            color: $mine-shaft;
            &:hover {
                color: lighten($mine-shaft, 30%);
            }
        }
    }
}
