.selectable-box {
    border: 3px solid $pickled-bluewood;
    border-radius: 4px;

    &__heading {
        font-size: ($magicnumber1 * 2) + $magicnumber2;
        padding-top: $lineheight;
        padding-bottom: $lineheight;
        background-color: $pickled-bluewood;
        color: $cadet-blue;
        font-family: $base-font-family;
        font-weight: 700;
        padding-right: $gutter;
        line-height: normal;

        &:first-of-type {
            padding-left: $gutter;
        }
    }

    &__status {
        float: right;
    }

    &__list {
        list-style: none;
        max-height: $lineheight * 27;
        overflow-y: scroll;
    }

    &__item {
        cursor: pointer;
        padding: $lineheight $gutter;
        word-break: break-word;

        &:nth-child(even) {
            background-color: $iron;
        }
        
        &:nth-child(odd) {
            background-color: $white;
        }

        &:hover {
            background-color: $quill-grey;
        }

        &.selected {
            background-color: $astral;
            color: $porcelain;
            cursor: default;
        }

        &.select:hover {
            background-color: $astral;
        }

        &.warning {
            position: relative;

            &:before {
                position: absolute;
                content: '';
                left: 0;
                top: 0;
                height: 100%;
                width: 7px;
                background-color: $night-shadz;
            }
        }

        &.neutral {
            position: relative;

            &:before {
                position: absolute;
                content: '';
                left: 0;
                top: 0;
                height: 100%;
                width: 7px;
                background-color: $nevada;
            }
        }
    }
}