.simple-select-list {

    border-top: $iron-dark solid 1px;

    &__item {
        border-bottom: $iron-dark solid 1px;
        padding: ($lineheight / 2) 0;
        display: flex;
        justify-content: space-between;
        gap: 1rem;


        // This is a bit of a hack to show radio buttons
        // as if they are simple-select-list items
        .radio {
            margin-bottom: 0;
        }
        .radio__label {
            @extend .simple-select-list__title;
            padding: 0;
        }
        .sub-label {
            font-size: 14px;
            font-family: "Open Sans", sans-serif;
            font-weight: 300;
            line-height: $lineheight * 0.5;
        }
        // end of radio button hack
        &:focus-within {
            outline: 3px solid $focus;
        }
    }

    &__col {
        &:last-of-type {
            text-align: right;
        }

        &:first-of-type {
            text-align: left;
        }
    }

    //To keep the column size consistent between rows in the list.
    &__cols {
        &-1 {
            width: 100%;
        }

        &-2 {
            width: 50%;
        }

        &-3 {
            width: 33%;
        }

        &-4 {
            width: 25%;
        }

        &-5 {
            width: 20%;
        }

        &-6 {
            width: 16.6%;
        }
    }

    &__title {
        font-size: 21px;
        font-family: "Roboto Slab", serif;
        font-weight: 400;
        line-height: 28px;

        &--disabled {
            color: $dusty-grey;
        }  
    }

    p {
        font-size: 18px;
    }
}
