.simple-select-list {

    border-top: $iron-dark solid 1px;

    &__item {
        border-bottom: $iron-dark solid 1px;
        padding: $lineheight 0;

        &--disabled {
            color: $dusty-grey;
        }
    }
}