.simple-select-list {

    border-top: $iron-dark solid 1px;

    &__item {
        border-bottom: $iron-dark solid 1px;
        padding: $lineheight 0;

        // This is a bit of a hack to show radio buttons
        // as if they are simple-select-list items
        .radio {
            margin-bottom: 0;
        }
        .radio__label {
            @extend .simple-select-list__title;
            padding: 0;
        }
        .sub-label {
            font-size: 14px;
            font-family: "Open Sans", sans-serif;
            font-weight: 300;
            line-height: $lineheight * 0.5;
        }
        // end of radio button hack
    }

    &__title {
        font-size: 24.5px;
        font-family: "Roboto Slab", serif;
        font-weight: 400;
        line-height: 36px;

        &--disabled {
            color: $dusty-grey;
        }  
    }
}