<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script>

        angular.module('appModule', [])
                .config(function ($httpProvider) {
                    $httpProvider.defaults.useXDomain = true;
                    $httpProvider.defaults.withCredentials = true;
                    $httpProvider.defaults.headers.common["Accept"] = "application/json";
                    $httpProvider.defaults.headers.common["Content-Type"] = "application/json";
                })
                .controller('dataController', ['$scope', '$http', function ($scope, $http) {

                    $scope.data = {};
                    $scope.data.owner = "carlhuk";
                    $scope.data.release = "release";
                    $scope.data.url = "";

                    var removeCookies = function() {
                        document.cookie = 'owner=; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
                        document.cookie = 'release=; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
                    }

                    var addCookies = function() {
                        document.cookie = "owner=" + $scope.data.owner;
                        document.cookie = "release=" + $scope.data.release;
                    }

                    $scope.load = function (data) {

                        removeCookies();

                        $.ajax({
                            url: "http://localhost:8080/data" + $scope.data.url,
                            xhrFields: {
                                withCredentials: true
                            },
                            dataType: 'json', // Notice! JSONP <-- P (lowercase)
                            crossDomain: true,
                            type: "GET",
                            contentType: "application/json; charset=utf-8"
                        }).done(function(data) {
                            console.log("Done! " + JSON.stringify(data, null, 3));
                            $scope.data.json = JSON.stringify(data, null, 3);
                        }).fail(function(jqXHR, textStatus) {
                            alert(textStatus);
                        })


//                        $http.get("http://localhost:8080/data" + data.url).
//                                success(function(data, status, headers, config) {
//                                    $scope.data.json = data;
//                                }).
//                                error(function(data, status, headers, config) {
//                                    console.log("Error!");
//                                });
                    };




                    $scope.save = function (data) {

                        addCookies();

                        $http.post("http://localhost:8081/data",
                                { json: JSON.stringify(JSON.parse(data.json), null, 3), id: $scope.data.url },
                                {withCredentials: true}).
                                success(function(data, status, headers, config) {
                                    removeCookies();
                                }).
                                error(function(data, status, headers, config) {
                                    console.log("Error!");
                                });
                    };

                    $scope.approve = function (data) {

                        addCookies();

                        $http.post("http://localhost:8081/releaseapproval",
                                {withCredentials: true}).
                                success(function(data, status, headers, config) {
                                    removeCookies();
                                }).
                                error(function(data, status, headers, config) {
                                    console.log("Error!");
                                });
                    };

                    $scope.load($scope.data);

                }]);



        function send() {

            document.cookie = "owner=carlhuk";
            document.cookie = "release=myRelease";

            $.ajax({
                url: "/data",
                type: "POST",
                data: JSON.stringify({
                    json: $('#json').val()
                }),
                contentType: "application/json; charset=utf-8",
                dataType: "text"
            }).done(function () {
                console.log("Done!")
            }).fail(function (jqXHR, textStatus) {
                alert(textStatus);
            })
        }
    </script>
</head>
<body ng-app="appModule" ng-controller="dataController">

<form onsubmit="return false;">
    Release: <input type="text" ng-model="data.release"/>
    Owner: <input type="text" ng-model="data.owner"/>
    Path: <input type="text" ng-model="data.url"/>

    <input type="submit" ng-click="load(data)" value="Load"/>
    <input type="submit" ng-click="save(data)" value="Save"/>
    <input type="submit" ng-click="approve(data)" value="Approve Release"/>
    <br/>
    <textarea rows="50" cols="100" ng-model="data.json"></textarea>
</form>

</body>


</html>