<div class="slider__modal js-collection__edit-modal">
    <div class="slider__content slider__content--padded">
        <textarea class="auto-size" id="collection-editor-name" placeholder="Enter new name">{{collection.name}}</textarea>
        <div class="select-wrap">
            <select id="editor-team">
                <option selected disabled="disabled">Edit the team the collection can be previewed by</option>
                {{#each teams}}
                    <option value="{{name}}">{{name}}</option>
                {{/each}}
            </select>
        </div>
        <ul id="editor-team-tag"></ul>
        <input type="text" class="hidden" id="editor-team-input">
        <input type="radio" id="collection-editor-scheduled" name="publishType" value="scheduledCollection" required {{#ifCond collection.type '===' 'scheduled'}}checked{{/ifCond}} ><label for="collection-editor-scheduled">Scheduled publish</label>
        <input type="radio" id="collection-editor-manual" name="publishType" value="manualCollection" required {{#ifCond collection.type '===' 'manual'}}checked{{/ifCond}}><label for="collection-editor-manual">Manual publish</label>
        <div id="collection-editor-date-block" class="overflow-hidden">
            <input type="text" id="collection-editor-date" placeholder="dd/mm/yyyy"
                   value="{{collection.publishDate}}"/>

            <div class="select-wrap select-wrap--small">
                <select id="collection-editor-hour">
                    {{> selectorHour}}
                </select>
            </div>
            <div class="select-wrap select-wrap--small">
                <select id="collection-editor-min">
                    {{> selectorMinute}}
                </select>
            </div>
        </div>
    </div>

    <div class="slider__nav">
        <div class="collection-editor__footer-div">
            <button class="btn btn--positive btn-collection-editor-save">Save changes</button>
            <button class="btn btn-collection-editor-cancel">Cancel</button>
        </div>
    </div>
</div>