<div class="table-builder builder overlay">
    <div class="table-builder__inner builder__inner">

        <div id="edit-table" class="table-builder__editor builder__editor">
            <form id="upload-table-form">
                <input type="text" id="table-title" placeholder="[Title]" value="{{title}}"/>
                <input type="file" name="files" id="files" accept=".xls">
                <button type="submit" value="Submit" class="btn btn--primary btn--flush">Submit</button>
            </form>

            <form id="table-modify-form" style="display: none; padding-top: 10px;">
                <p class="margin-right--0 margin-left--0">Submit a comma separated list of row/column numbers below to exclude rows, add table row/column headers to the generated HTML table. These changes will only apply to the HTML table generation theuploaded .xls file will not be affected.</p>
                <p class="margin-right--0 margin-left--0"><b>Note: </b><i>XLS row/column indices start from 0.</i></p>
                <input type="text" pattern="^[\d, ]+$" id="rows-excluded" placeholder="[Exclude Rows]" value="{{#comma_separated_list modifications.rowsExcluded}}{{this}}{{/comma_separated_list}}"/>
                <input type="text" pattern="^[\d, ]+$" id="header-rows" placeholder="[Table Header Rows]" value="{{#comma_separated_list modifications.headerRows}}{{this}}{{/comma_separated_list}}"/>
                <input type="text" pattern="^[\d, ]+$" id="header-columns" placeholder="[Table Header Columns]" value="{{#comma_separated_list modifications.headerColumns}}{{this}}{{/comma_separated_list}}"/>
                <input type="submit" value="Preview Modifications">
            </form>
        </div>

        <div id="preview-table" class="table-builder__preview builder__preview">

        </div>

        <div class="table-builder__footer builder__footer">
            <button class="btn btn--positive btn-table-builder-create">Save table</button>
            <button class="btn btn-table-builder-cancel">Cancel</button>
        </div>

    </div>
</div>