<div class='modal'>
    <div class='modal-box'>
        <div class='uri-input'>
            <label for='uri-input' class='uri-input__label'>What type of content would you like to add?</label>
        </div>
        <button class='btn-uri-browse' id="data-link">Timeseries</button>
        <button class='btn-uri-browse' id="item-link">News</button>
        <div class='modal-nav'>
            <button class='btn-uri-cancel'>Cancel</button>
        </div>
    </div>
</div>