<div class="change-password-overlay builder overlay">
  <div class="change-password-overlay__inner">
      <form>
          <h1>Change password</h1>
          {{#if authenticate }}
              <label for="password-old">Current password:</label><input id="password-old" type="password" cols="40"
                                                                        rows="1"/>
          {{/if}}
          <label for="password-new">New password:</label><input id="password-new" type="password" cols="40" rows="1"/>
          <label for="password-confirm">Confirm new password:</label><input id="password-confirm" type="password"
                                                                            cols="40"
                                                                            rows="1"/>
          <button id="update-password" class="btn btn--positive btn-florence-login fl-panel--user-and-access__login ">
              Update password
          </button>
          <button id="update-password-cancel" class="btn">Cancel</button>
      </form>
    </div>
  </div>
</div>