<label for="finish-at-hundred" class="checkbox-label">Finish at 100</label>
<input id="finish-at-hundred" name="Finish at 100" {{#if finishAtHundred}}checked{{/if}} type="checkbox">
<br/>
{{#each this.series}}
  <label for="series-types_{{@index}}">Series {{@index}}: {{this}}</label>
  <div class="select-wrap">
    <select id="series-types_{{@index}}" class="col--5">
      {{#select (lookup ../chartTypes this)}}
        <option value="bar">Bar</option>
        <option value="line">Line</option>
      {{/select}}
    </select>
  </div>
  <br/>
{{/each}}
