<div class="markdown-editor chart-builder">
  <div class="markdown-editor__header">
    <h1>Chart Builder</h1>
  </div>
  <div class="markdown-editor__content">
    <div id="wmd-preview" class="wmd-panel wmd-preview">
      <p><div id="chart"></div></p>
    </div>
    <div id="wmd-edit" class="wmd-panel wmd-edit col--3">
      <h2></h2>
        {{!----}}
        {{!--<form id="UploadForm" action="" method="post" enctype="multipart/form-data">--}}
        {{!--<input type="file" name="files" id="files" multiple>--}}
        {{!--</form>--}}

      <p><textarea id="chart-data" placeholder="Paste your data here" rows="4" cols="100"></textarea></p><br />
      <label>Chart Type</label>
      <select id="chart-type">
        <option value="bar">Bar Chart</option>
        <option value="line">Line Chart</option>
        <option value="rotated">Bar Chart (rotated)</option>
      </select>
      <label>Time period (if applicable)</label>
      <select id="chart-period">
        <option value="year">Yearly</option>
        <option value="quarter">Quarterly</option>
        <option value="month">Monthly</option>
      </select>

      <input type="text" id="chart-title" placeholder="[Title]" />
      <input type="text" id="chart-subtitle" placeholder="[Subtitle]" />
      <input type="text" id="chart-unit" placeholder="[Unit]" />

      <input type="text" id="chart-x-axis" placeholder="[X Axis]" />
      <input type="text" id="chart-y-axis" placeholder="[Y Axis]" />
    </div>
  </div>
  <div class="markdown-editor__footer">
    <button class="btn-chart-builder-cancel">Cancel</button>
    <button class="btn-chart-builder-create">Create Chart</button>
  </div>
</div>