<div >
  <table class="">
    <thead>
        <tr>
            {{#each headers}}<th scope ='col'>{{{this}}}</th>{{/each}}
        </tr>
    </thead>
    <tfoot>
        <tr>
            {{!-- //footer goes here --}}
        </tr>
    </tfoot>

    <tbody>
    {{#each data}}
        <tr>
            <th scope='row'>{{lookup ../categories @index}}</th>
            {{!-- //loop through each header and get its value  --}}
            {{#each ../series as |seriesName col|}}
            {{!-- //- use the header name to extract the number --}}
            <td>{{lookup ../this seriesName}}</td>
            {{/each}}
        </tr>
        {{/each}}
    </tbody>
  </table>
</div>