{{#each series}}
  <label>{{this}}</label>
  <div class="select-wrap">
    <select id="types_{{@index}}" class="col--5">
      {{#select (lookup ../chartTypes this)}}
        <option value="bar">Bar</option>
        <option value="line">Line</option>
      {{/select}}
    </select>
  </div>
  <br/>
{{/each}}