            <div id='series-panel' class="js-chart-builder-panel">

                <div class="js-show-hide">
                    <div class="show-hide show-hide--light">
                        <div class="js-show-hide__title">
                            <h2 class="show-hide__title">
                                Series 1
                            </h2>
                        </div>
                        <div class="js-show-hide__content">
                            <label>Chart type<br>
                                <div class="select-wrap">
                                    <select id="chart-type" class="refresh-chart">
                                        {{#select chartType}}
                                            <option value="bar">Bar Chart</option>
                                            <option value="rotated">Bar Chart (rotated)</option>
                                            <option value="line">Line Chart</option>
                                            <option value="area">Area Chart</option>
                                            <option value="barline">Bar + Line Chart</option>
                                            <option value="rotated-barline">Bar + Line Chart (rotated)</option>
                                            <option value="dual-axis">Dual Axis</option>
                                            <option value="scatter">Scatter Plot Chart</option>
                                            <option value="pie">Pie Chart</option>
                                            <option value="population">Population Pyramid</option>
                                            <option value="confidence-interval">Confidence Interval</option>
                                            <option value="rotated-confidence-interval">Confidence Interval (rotated)</option>
                                            <option value="box-and-whisker">Box and Whisker</option>
                                        {{/select}}
                                    </select>
                                </div>
                            </label>

                            <label>Stack bars<input type="checkbox" id="tooltip" value="tooltip_checkbox"></label>
                            <label>highlight<input type="checkbox" id="markers" value="markers_checkbox"></label>

                        </div>
                    </div>
                </div>

                <div class="js-show-hide">
                    <div class="show-hide show-hide--light">
                        <div class="js-show-hide__title">
                            <h2 class="show-hide__title">
                                Series 2
                            </h2>
                        </div>
                        <div class="js-show-hide__content">
                            <label>Chart type<br>
                                <div class="select-wrap">
                                    <select id="chart-type" class="refresh-chart">
                                        {{#select chartType}}
                                            <option value="bar">Bar Chart</option>
                                            <option value="rotated">Bar Chart (rotated)</option>
                                            <option value="line">Line Chart</option>
                                            <option value="area">Area Chart</option>
                                            <option value="barline">Bar + Line Chart</option>
                                            <option value="rotated-barline">Bar + Line Chart (rotated)</option>
                                            <option value="dual-axis">Dual Axis</option>
                                            <option value="scatter">Scatter Plot Chart</option>
                                            <option value="pie">Pie Chart</option>
                                            <option value="population">Population Pyramid</option>
                                            <option value="confidence-interval">Confidence Interval</option>
                                            <option value="rotated-confidence-interval">Confidence Interval (rotated)</option>
                                            <option value="box-and-whisker">Box and Whisker</option>
                                        {{/select}}
                                    </select>
                                </div>
                            </label>

                            <label>Stack bars<input type="checkbox" id="tooltip" value="tooltip_checkbox"></label>
                            <label>highlight<input type="checkbox" id="markers" value="markers_checkbox"></label>

                        </div>
                    </div>
                </div>
                <div class="js-show-hide">
                    <div class="show-hide show-hide--light">
                        <div class="js-show-hide__title">
                            <h2 class="show-hide__title">
                                Series 3
                            </h2>
                        </div>
                        <div class="js-show-hide__content">
                            <label>Chart type<br>
                                <div class="select-wrap">
                                    <select id="chart-type" class="refresh-chart">
                                        {{#select chartType}}
                                            <option value="bar">Bar Chart</option>
                                            <option value="rotated">Bar Chart (rotated)</option>
                                            <option value="line">Line Chart</option>
                                            <option value="area">Area Chart</option>
                                            <option value="barline">Bar + Line Chart</option>
                                            <option value="rotated-barline">Bar + Line Chart (rotated)</option>
                                            <option value="dual-axis">Dual Axis</option>
                                            <option value="scatter">Scatter Plot Chart</option>
                                            <option value="pie">Pie Chart</option>
                                            <option value="population">Population Pyramid</option>
                                            <option value="confidence-interval">Confidence Interval</option>
                                            <option value="rotated-confidence-interval">Confidence Interval (rotated)</option>
                                            <option value="box-and-whisker">Box and Whisker</option>
                                        {{/select}}
                                    </select>
                                </div>
                            </label>

                            <label>Stack bars<input type="checkbox" id="tooltip" value="tooltip_checkbox"></label>
                            <label>highlight<input type="checkbox" id="markers" value="markers_checkbox"></label>

                        </div>
                    </div>
                </div>

                <div class="js-show-hide">
                    <div class="show-hide show-hide--light">
                        <div class="js-show-hide__title">
                            <h2 class="show-hide__title">
                                Series 4
                            </h2>
                        </div>
                        <div class="js-show-hide__content">
                            <label>Chart type<br>
                                <div class="select-wrap">
                                    <select id="chart-type" class="refresh-chart">
                                        {{#select chartType}}
                                            <option value="bar">Bar Chart</option>
                                            <option value="rotated">Bar Chart (rotated)</option>
                                            <option value="line">Line Chart</option>
                                            <option value="area">Area Chart</option>
                                            <option value="barline">Bar + Line Chart</option>
                                            <option value="rotated-barline">Bar + Line Chart (rotated)</option>
                                            <option value="dual-axis">Dual Axis</option>
                                            <option value="scatter">Scatter Plot Chart</option>
                                            <option value="pie">Pie Chart</option>
                                            <option value="population">Population Pyramid</option>
                                            <option value="confidence-interval">Confidence Interval</option>
                                            <option value="rotated-confidence-interval">Confidence Interval (rotated)</option>
                                            <option value="box-and-whisker">Box and Whisker</option>
                                        {{/select}}
                                    </select>
                                </div>
                            </label>

                            <label>Stack bars<input type="checkbox" id="tooltip" value="tooltip_checkbox"></label>
                            <label>highlight<input type="checkbox" id="markers" value="markers_checkbox"></label>

                        </div>
                    </div>
                </div>
            </div>
            