<section class="panel col col--6 collection-select">
  <h1 class="text-align-center">Select a collection</h1>
  <table class="collections-select-table">
    <thead>
      <tr>
        <th id="collection-name" scope="col">Collection name</th>
        <th id="collection-date" scope="col">Collection date</th>
      </tr>
    </thead>
    <tbody>
    {{#each this}}
      <tr data-id="{{id}}">
        <td headers="collection-name" class="collection-name">{{name}}</td>
        <td headers="collection-date" class="collection-date">{{date}}</td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</section>
<section class="panel col col--6 collection-create">
  <h1 class="text-align-center">Create a collection</h1>
  <form method="post" action="" class="form-create-collection">
    <label for="collectionname" class="hidden">Scheduled publish</label>
    <input id="collectionname" type="text" placeholder="Collection name" />
    <label for="team" class="hidden">Select the team the collection can be previewed by</label>
    <select id="team">
      <option selected disabled="disabled">Select the team the collection can be previewed by</option>
      <option value="Team1">Team 1</option>
      <option value="Team2">Team 2</option>
      <option value="Team3">Team 3</option>
    </select>
    <input type="radio" id="scheduledpublish" name="publishtype" value="scheduled" checked><label for="scheduledpublish">Scheduled publish</label>
    <input type="radio" id="manualpublish" name="publishtype" value="manual" required><label for="manualpublish">Manual publish</label>
    <br>
    <div class="block text-center">
      <label for="date" class="hidden">Date</label>
      <input id="date" type="text" placeholder="dd/mm/yyyy"/>
      <br>
      <label for="time" class="hidden">Time</label>
      <select id="time" class="small">
        <option value="09:30">09:30</option>
      </select>
    </div>
    <button class="btn-collection-create">Create collection</button>
  </form>
</section>
<section class="panel col col--6 collection-selected">

</section>