<section class="panel col col--6 collection-select" xmlns="http://www.w3.org/1999/html">
  <h1 class="text-align-center">Select a collection</h1>
  <table class="collections-select-table">
    <thead>
    <tr>
      <th id="collection-name" scope="col">Collection name</th>
      <th id="collection-date" scope="col">Collection date</th>
    </tr>
    </thead>
    <tbody>
    {{#each this}}
      <tr data-id="{{id}}">
        <td headers="collection-name" class="collection-name">{{name}}</td>
        <td headers="collection-date" class="collection-date">{{date}}</td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</section>
<section class="panel col col--6 collection-create">
  <h1 class="text-align-center">Create a collection</h1>

  <form method="post" action="" class="form-create-collection">
    <label for="collectionname" class="hidden">Scheduled publish</label>
    <input id="collectionname" type="text" placeholder="Collection name"/>
    <label for="team" class="hidden">Select the team the collection can be previewed by</label>
    <div class="select-wrap">
        <select id="team">
        <option selected disabled="disabled">Select the team the collection can be previewed by</option>
        <option value="Team1">Team 1</option>
        <option value="Team2">Team 2</option>
        <option value="Team3">Team 3</option>
      </select>
    </div>
    <input type="radio" id="scheduledpublish" name="publishType" value="scheduled" checked><label
      for="scheduledpublish">Scheduled publish</label>
    <input type="radio" id="manualpublish" name="publishType" value="manual" required><label for="manualpublish">Manual
    publish</label>
    <br>

    <div id="scheduledPublishOptions" class="block scheduled-publish-options">
      <input type="radio" id="customschedule" name="scheduleType" value="custom" checked><label for="customschedule">Custom
      schedule</label>
      <input type="radio" id="releaseschedule" name="scheduleType" value="release" required><label
        for="releaseschedule">Calendar entry schedule</label>

      <div id="customScheduleOptions" class="custom-schedule-options">
        <div class="block">
          <label for="date" class="hidden">Date</label>
          <input id="date" type="text" placeholder="dd/mm/yyyy"/>
          <br>
          <label for="hour" class="hidden">Hour</label>
          <div class="select-wrap select-wrap--small">
            <select id="hour">
              {{> selectorHour}}
            </select>
          </div>
          <label for="min" class="hidden">Minutes</label>
          <div class="select-wrap select-wrap--small">
            <select id="min">
              {{> selectorMinute}}
            </select>
          </div>
        </div>
      </div>

      <div id="releaseScheduleOptions" class="block text-center hidden release-schedule-options">
        <button class="btn-select-release">Select a calendar entry</button>

        </br>
        </br>
        <span class="selected-release"></span>

      </div>

    </div>

    <button class="btn-collection-create">Create collection</button>
  </form>
</section>
<section class="panel col col--6 collection-selected">

</section>