<div class="edit-section" id="one">
    <div class="edit-section__head">
        <h1>Note</h1>
        <p>Body copy</p>
    </div>
    <div class="edit-section__content">
        <div id="sortable-one" class="edit-section__sortable">
            <div id="one" class="edit-section__sortable-item">
            <textarea class="auto-size" id="one-markdown" placeholder="Type or click edit to add
            content">{{this.markdown}}</textarea>
                <button class="btn-markdown-edit" id="one-edit">Edit</button>
                <button class="btn-page-delete" id="one-delete">Delete</button>
            </div>
        </div>
        <div class="text-center">
            <button class="btn-add-section" id="add-one">Add note</button>
        </div>
    </div>
</div>