<button class="btn-edit-save">Save</button>
{{#if this.isPageComplete}}
  <button class="btn-edit-save-and-submit-for-approval" >Save, submit for approval and back to parent</button>
{{else}}
  <button class="btn-edit-save-and-submit-for-review">Save, submit for review and back to parent</button>
{{/if}}