<div class="edit-section" id="content">
    <div class="edit-section__head">
        <h1>{{header}}</h1>
        <p>Body copy</p>
    </div>
    <div class="edit-section__content">
        <div id="sortable-content" class="edit-section__sortable">
            <div class="edit-section__item">
                <textarea class="auto-size" id="content-markdown" placeholder="Click edit to add
                content" style="display: none;">{{list}}</textarea>
                <div class="edit-section__title">To add or edit content click edit</div>
                <div class="edit-section__buttons">
                    <button class="btn-markdown-edit" id="content-edit">Edit</button>
                    <button class="btn-page-delete" id="content-delete">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>