<div class="overlay" id="js-modal-select">
    <div class='modal-select'>
        <div class="modal-select__head">
            <h1 class="modal-select__title" style="width:100%">Insert JSON</h1>
        </div>
        <form id="force-content-json-form">
            <div style="box-sizing: border-box;width:100%;display:block;padding: 0 21px;">
                <div class='json-input'>
                    <label for='force-content-json-field' class='uri-input__label'>JSON</label>
                    <textarea id="force-content-json-field" rows="24" cols="50"></textarea>
                </div>
            </div>
            <div class='modal-nav'>
                <button type="submit" class='btn btn--primary btn-modal-save'>Save</button>
                <button class='btn btn-modal-cancel'>Cancel</button>
            </div>
        </form>
    </div>
</div>