<div class='iframe-nav'>
  <button class='btn-browse-get'>Use this page</button>
  <button class='btn-browse-cancel'>Cancel</button>
  {{#if hasLatest}}
    <label for='latest' class='latest__label'>Latest release</label>
    <input id='latest' class='latest__checkbox' type='checkbox' value='value' checked='checked'>
  {{/if}}
</div>