<div class="image-builder overlay">
  <div class="image-builder__inner">

    <div id="edit-image" class="image-builder__editor">
      <form id="upload-image-form">
        <input type="text" id="image-title" placeholder="[Title]" value="{{title}}"/>
        <input type="file" name="files" id="files">
        <input type="submit" value="Submit">
      </form>
    </div>

    <div id="preview-image" class="image-builder__preview">
      <div id="image"></div>
    </div>

    <div class="image-builder__footer">
      <button class="btn-image-builder-create">Save image</button>
      <button class="btn-image-builder-cancel">Cancel</button>
    </div>

  </div>
</div>