<div class="loader {{#if_eq size 'large'}}loader--large{{/if_eq}}">
    {{!-- <svg class="circular">
         <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10"/>
     </svg> --}}
</div>