<ul class="nav nav--admin">
{{#if this.collection.name}}
    <li class="selected">Working on: {{this.collection.name}}</li>
{{/if}}
  <li class="nav--admin__item nav--admin__item--collections" {{#if this.isAuthenticated}}selected{{/if}}"><a href="#">Collections</a></li>
  <li class="nav--admin__item nav--admin__item--users"><a href="#">Users and access</a></li>
  <li class="nav--admin__item nav--admin__item--publish"><a href="#">Publish</a></li>

{{#if this.isAuthenticated}}
    <li class="nav--admin__item nav--admin__item--logout"><a href="#">Logout</a></li>
{{else}}
    <li class="nav--admin__item nav--admin__item--login selected"><a href="#">Login</a></li>
{{/if}}
</ul>
