<ul class="nav nav--admin">
    {{#if this.Authentication.isAuthenticated}}
        {{#if this.collection.name}}
          <li id="working-on" class="nav--admin__item nav--admin__item--collection selected"><a href="#">Working on: {{this.collection.name}}</a></li>
        {{/if}}

        <li class="nav--admin__item nav--admin__item--collections {{#if this.Authentication.isAuthenticated}}{{#unless this.collection.name}}selected{{/unless}}{{/if}}">
        <a href="#">Collections</a></li>
        <li class="nav--admin__item nav--admin__item--users"><a href="#">Users and access</a></li>
        <li class="nav--admin__item nav--admin__item--publish"><a href="#">Publishing queue</a></li>
        <li class="nav--admin__item nav--admin__item--reports"><a href="#">Reports</a></li>


        <li class="nav--admin__item nav--admin__item--logout"><a href="#">Logout</a></li>
    {{else}}
        <li class="nav--admin__item nav--admin__item--login selected"><a href="#">Login</a></li>
    {{/if}}
</ul>
