<nav>
  <ul class="nav">
    {{#if this}}
      <li class="selected">Working on: {{this}}</li>
    {{/if}}
    <li id="collections" class="selected">Collections</li>
    <li id="users">Users and access</li>
    <li id="publish">Publish</li>
    <li id="account">My account</li>
  </ul>
</nav>
<div class="section"></div>