<div class="markdown-editor">
  <div class="markdown-editor__header">
    <h1>Content editor</h1>
    <div class="custom-markdown-buttons">
      <button class="btn-markdown-editor-chart" title="Build chart"></button>
      <button class="btn-markdown-editor-table" title="Build table"></button>
      <button class="btn-markdown-editor-image" title="Add image"></button>
    </div>
    <div id="wmd-button-bar"></div>
  </div>
  <div class="markdown-editor__content">
    <div id="wmd-preview" class="wmd-panel wmd-preview"></div>
    <div id="wmd-edit" class="wmd-panel wmd-edit">
      <h2>Markdown:</h2>
      <textarea class="wmd-input" id="wmd-input">{{this}}</textarea>
      <div class="markdown-editor-line-numbers"></div>
    </div>
  </div>
  <div class="markdown-editor__footer">
    <button class="btn-markdown-editor-save">Save changes</button>
      <button class="btn-markdown-editor-exit">Save changes and exit</button>
      <button class="btn-markdown-editor-cancel">Cancel</button>
  </div>
</div>