<section class="panel col col--6 publish-selected">
  <div class="section-head">
    <h2>{{date}}</h2>
    <p>The following collection(s) have been approved</p>
  </div>

  <div class="section-content section-content--fullwidth">
    <div class="collections-accordion">
      <div class="collections-section">
        <div class="collections-section__head">
          <h3>{{collection.name}}</h3>
        </div>
        <div class="collections-section__content">
          <button class="btn-collection-unlock">Unlock collection</button>
          <h4>Pages in this collection</h4>
          <ul class="page-list">
            {{#each page}}
            <li><span class="page-item">{{page.name}}</span>
              <div class="page-options">
                <button class="">Remove from this publish</button>
              </div>
            </li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>

  <nav class="section-nav">
    <button class="btn-cancel">Cancel</button>
  </nav>
</section>