<div class="section-head">
    <h2>{{name}}</h2>

    <p>[NOT PUBLISHED]</p>
</div>
<div class="section-content section-content--fullwidth">
    <div class="accordion js-accordion">
        <div class="accordion__title js-accordion__title">
            <h3>Event history</h3>
        </div>
        <div class="accordion__content js-accordion__content disable-animation">
            <table class="table table--section publish-times-table">
                <thead>
                <tr>
                    <th>Action</th>
                    <th>User</th>
                    <th>Date/time</th>
                </tr>
                </thead>
                <tbody>
                {{#each events}}
                    <tr>
                        <td>
                            {{!-- COLLECTION CREATED --}}
                            {{#if_eq eventType "COLLECTION_CREATED"}}Collection created{{/if_eq}}

                            {{!-- COLLECTION APPROVED --}}
                            {{#if_eq eventType "COLLECTION_APPROVED"}}Collection approved{{/if_eq}}

                            {{!-- COLLECTION DELETED--}}
                            {{#if_eq eventType "COLLECTION_DELETED"}}Collection deleted{{/if_eq}}

                            {{!-- COLLECTION UNLOCKED --}}
                            {{#if_eq eventType "COLLECTION_UNLOCKED"}}Collection unlocked{{/if_eq}}

                            {{!-- COLLECTION PUBLISHED --}}
                            {{#if_eq eventType "COLLECTION_PUBLISHED"}}Collection published{{/if_eq}}

                            {{!-- COLLECTION EDIT - CHANGED NAME --}}
                            {{#if_eq eventType "COLLECTION_EDIT_CHANGED_NAME"}}Collection name changed{{/if_eq}}

                            {{!-- COLLECTION EDIT - RESCHEDULED --}}
                            {{#if_eq eventType "COLLECTION_EDIT_RESCHEDULED"}}Collection rescheduled{{/if_eq}}

                            {{!-- COLLECTION EDIT - ADDED TEAM --}}
                            {{#if_eq eventType "COLLECTION_EDIT_ADDED_TEAM"}}Team added to collection{{/if_eq}}

                            {{!-- COLLECTION EDIT - REMOVED TEAM--}}
                            {{#if_eq eventType "COLLECTION_EDIT_REMOVED_TEAM"}}Team removed from collection{{/if_eq}}

                        </td>
                        <td>{{user}}</td>
                        <td>{{formattedDate}}</td>
                    </tr>
                    <!--{{#if metaData}}-->
                        <!--<tr>-->
                            <!--<td>-->
                                <!--<ul>-->
                                    <!--{{#each metaData}}-->
                                        <!--<li>{{this}}</li>-->
                                    <!--{{/each}}-->
                                <!--</ul>-->
                            <!--</td>-->
                        <!--</tr>-->
                    <!--{{/if}}-->
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
<nav class="section-nav">
    <button class="btn-collection-cancel">Cancel</button>
</nav>