<section class="panel col col--6 publish-select">
  <h1 class="text-align-center">Select a published collection</h1>
  <table class="publish-select-table">
    <thead>
    <tr>
      <th id="collection-name" {{#if error}}style="color: red;" {{/if}} scope="col">Collection name</th>
      <th id="collection-date" scope="col">Publish date</th>
    </tr>
    </thead>
    <tbody>
    {{#each this}}
      <tr data-collections-order="{{this.order}}">
        <td class="collection-name">{{this.name}}</td>
        <td class="collection-date">{{this.formattedDate}}</td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</section>
<section class="panel col col--6 publish-selected">

</section>