<div class="chart-builder overlay">
  <div class="chart-builder__inner">

    <div id="edit-chart" class="chart-builder__editor">
      <form id="upload-table-form">
        <input type="text" id="table-title" placeholder="[Title]" value="{{title}}"/>
        <input type="file" name="files" id="files">
        <input type="submit" value="Submit">
      </form>
    </div>

    <div id="preview-chart" class="chart-builder__preview">
      <div id="chart"></div>
    </div>

    <div class="chart-builder__footer">
      <button class="btn-table-builder-cancel">Cancel</button>
      <button class="btn-table-builder-create">Save Chart</button>
    </div>

  </div>
</div>