<div class="table-builder overlay">
  <div class="table-builder__inner">

    <div id="edit-table" class="table-builder__editor">
      <form id="upload-table-form">
        <input type="text" id="table-title" placeholder="[Title]" value="{{title}}"/>
        <input type="file" name="files" id="files">
        <input type="submit" value="Submit">
      </form>
    </div>

    <div id="preview-table" class="table-builder__preview">
      
    </div>

    <div class="table-builder__footer">
        <button class="btn-table-builder-create">Save table</button>
        <button class="btn-table-builder-cancel">Cancel</button>
    </div>

  </div>
</div>