<div class="slider">
    <div class="slider__head">
        <h2>{{name}}</h2>
        <button class="btn btn--primary btn-team-edit-members">Add/remove members</button>
    </div>

    <div class="slider__content">
        <ul class="page-list">
            {{#unless members}}<p>This team has no members.</p>{{/unless}}
            {{#each members}}
                <li class="page-list__item">{{this}}</li>
            {{/each}}
        </ul>
    </div>

    <nav class="slider__nav">
        <button class="btn btn--warning btn-team-delete">Delete team</button>
        <button class="btn btn-team-cancel">Cancel</button>
    </nav>
</div>