<div class="section-head">
  <h2>{{name}}</h2>
</div>

<div class="section-content">
</div>

<nav class="section-nav">
  <button class="btn-user-change-password btn-collection-work-on">Change password</button>
  <button class="btn-user-delete btn-page-delete">Delete user</button>
  <button class="btn-user-cancel btn-collection-cancel">Cancel</button>
</nav>

