<div class="slider__head">
    <h2>{{name}}</h2>
    <button class="btn-user-change-password btn-collection-work-on">Change password</button>
</div>

<div class="slider__content">
    <p>{{name}} is a{{#if_eq permission 'admin'}}n{{/if_eq}} <strong>{{permission}}</strong>.</p>

    {{#if temporaryPassword}}<p id="temp-password">This user has not updated their temporary password.</p>{{/if}}
</div>

<nav class="slider__nav">
    <button class="btn-user-delete btn-page-delete">Delete user</button>
    <button class="btn-user-cancel btn-collection-cancel">Cancel</button>
</nav>
