<section class="workspace-edit">
  <div class="edit-section">
    <h1>Heading</h1>
    <p>Description</p>
    <div class="edit-section__content">
      <p>asd asd asd asd asd asd asd asdas das fas fas dasd asd asdf asd asd asd asd asd asd sad sa</p>
    </div>
  </div>
  <div class="edit-section">
    <h1>Heading</h1>
    <p>Description</p>
    <div class="edit-section__content">
      <p>asd asd asd asd asd asd asd asdas das fas fas dasd asd asdf asd asd asd asd asd asd sad sa</p>
    </div>
  </div>
  <div class="edit-section">
    <h1>Heading</h1>
    <p>Description</p>
    <div class="edit-section__content">
      <p>asd asd asd asd asd asd asd asdas das fas fas dasd asd asdf asd asd asd asd asd asd sad sa</p>
    </div>
  </div>
  <div class="edit-section">
    <h1>Heading</h1>
    <p>Description</p>
    <div class="edit-section__content">
      <p>asd asd asd asd asd asd asd asdas das fas fas dasd asd asdf asd asd asd asd asd asd sad sa</p>
    </div>
  </div>
  <div class="edit-section">
    <h1>Heading</h1>
    <p>Description</p>
    <div class="edit-section__content">
      <p>asd asd asd asd asd asd asd asdas das fas fas dasd asd asdf asd asd asd asd asd asd sad sa</p>
    </div>
  </div>
</section>
