<section class="panel workspace-create">
  <h1>New page details</h1>
  <form>
    <label for="pagetype" class="hidden">Page type</label>
    <select id="pagetype" class="selectbg" required>
      <option value="" name="">Select your option</option>
      <option value="bulletin" name="bulletin">Bulletin</option>
      <option value="article" name="article">Article</option>
      <option value="dataset" name="dataset">Dataset</option>
      <option value="compendium-landing-page" name="compendium">Compendium</option>
      <option value="static_landing_page" name="static_landing_page">Static landing page</option>
      <option value="static_page" name="static_page">Generic page</option>
      <option value="static_article" name="static_article">Methodology</option>
      <option value="static_qmi" name="qmi">QMI</option>
      <option value="static_foi" name="foi">FOI</option>
      <option value="static_adhoc" name="adhoc">Ad hoc</option>
    </select>
    <input id="location" type="text" style="display: none;"/>
    <div class="edition"></div>
    <label for="pagename" class="hidden">Page name</label>
    <input id="pagename" class="full" type="text" placeholder="Page name" />
    <button class="btn-page-create">Create page</button>
  </form>
</section>
