<section class="panel workspace-create">
  <h1>Import</h1>
  <div id="{{lastIndex}}" class="edit-section__item">
    <form id="UploadForm">
      <input type="file" title="Select a file and click Submit" name="files">
      <br>
      <button type="submit" form="UploadForm" value="submit">Submit</button>
      <button class="btn btn-page-cancel" id="file-cancel">Cancel</button>
    </form>
    <div id="response"></div>
    <ul id="list"></ul>
  </div>
</section>
