<section class="panel workspace-edit">
  <div class="edit-accordion">

    <div id="one"></div>

    <div class="edit-section">
      <div class="edit-section__head">
        <h1>Version</h1>
        <p>Title</p>
      </div>
      <div class="edit-section__content">
        <div id="sortable-version" class="edit-section__sortable">
          <div id="version"></div>
        </div>
        <div class="text-center">
          <button class="btn-add-section" id="add-version">Add version</button>
        </div>
      </div>
    </div>

    <div id="supplementary-files"></div>

    <div class="edit-section">
      <div class="edit-section__head">
        <h1>Correction</h1>
        <p>Date | Notice</p>
      </div>
      <div class="edit-section__content">
        <div id="sortable-correction" class="edit-section__sortable">
          <div id="correction"></div>
        </div>
        <div class="text-center">
          <button class="btn-add-section" id="add-correction">Add correction</button>
        </div>
      </div>
    </div>

  </div>

  <nav class="edit-nav">
    {{> editNav}}
  </nav>

</section>