
<section class="workspace-create">
  <h1>New page details</h1>
  <form>
    <label for="location" class="">Location</label>
    <input id="location" type="text" />
    <label for="pagetype" class="">Page type</label>
    <input id="pagetype" type="text" />
    <label for="pagename" class="hidden">Page type</label>
    <input id="pagename" class="full" type="text" placeholder="Page name" />
    <button class="btn-page-create">Create page</button>
  </form>

</section>
