<section class="panel workspace-browse">
    <nav class="tree-nav-holder js-browse">
        <ul class="page-list page-list--tree">
            <li class="js-browse__item" data-url="{{uri}}">
                <div class="page-container selected">
                    <span class="js-browse__item-title page-item{{#unless uri}} page-item--directory{{else}} page-item--{{type}}{{/unless}}">{{description.title}}</span>
                    {{#if_eq collectionOwner "PUBLISHING_SUPPORT"}}
                        <div class="page-options page-options--list selected">
                            <button class="btn-browse-edit">Edit</button>
                            <button class="btn-browse-create">Create</button>
                            <button class="btn-browse-delete">Delete</button>
                        </div>
                    {{/if_eq}}
                </div>
                {{#if children}} {{! Within the context of the current item }}
                    <ul class="js-browse__children">
                        {{#if_eq collectionOwner "PUBLISHING_SUPPORT"}}
                            {{> browseNode}} {{! Recursively render the partial }}
                        {{/if_eq}}
                        {{#if_eq collectionOwner "DATA_VISUALISATION"}}
                            {{> browseNodeDataVis}} {{! Recursively render the partial }}
                        {{/if_eq}}
                    </ul>
                {{/if}}
            </li>
        </ul>
    </nav>
</section>