<section class="panel workspace-browse">
    <nav class="tree-nav-holder">
        <ul class="page-list page-list--tree">
            <li data-url="{{uri}}">
                <span class="page-item{{#unless uri}} page-item--directory{{else}} page-item--{{type}}{{/unless}}">{{description.title}}</span>
                {{#if_eq collectionOwner "PUBLISHING_SUPPORT"}}
                    <div class="page-options">
                        <button class="btn btn--primary btn-browse-edit">Edit</button>
                        <button class="btn btn--positive btn-browse-create">Create</button>
                        <button class="btn btn--warning btn-browse-delete">Delete</button>
                    </div>
                {{/if_eq}}
                {{#if children}} {{! Within the context of the current item }}
                    <ul>
                        {{#if_eq collectionOwner "PUBLISHING_SUPPORT"}}
                            {{> browseNode}} {{! Recursively render the partial }}
                        {{/if_eq}}
                        {{#if_eq collectionOwner "DATA_VISUALISATION"}}
                            {{> browseNodeDataVis}} {{! Recursively render the partial }}
                        {{/if_eq}}
                    </ul>
                {{/if}}
            </li>
        </ul>
    </nav>
</section>