//_tables-and-data.scss
table {
    min-width: 100%;
    border-spacing: 0;
    border-collapse: collapse;


    // Not needed on ons.gov.uk because table builder carries through borders - uncomment if other users of this library need it
    //border-bottom: 1px solid $thunder;
    //margin-top: -1px;

    caption {
        text-align: left;
        @extend h5; // Give caption heading 4 styling
    }

    th {
        padding: 7px 0 1px 0;

        // Not needed on ons.gov.uk because table builder carries through borders - uncomment if other users of this library need it
        //&[scope="col"] {
        //    border-bottom: 1px solid $thunder;
        //}
    }

    td {
        padding: 6px 0 2px 0;
    }



}

dl {
    margin: 0;
}

dd {
    margin: 0;
}

.table-chart{
    width:700px;
    font-feature-settings: "tnum" 1;
    text-align:right;
}

// Time series data table
.table-advanced {

    display: table;
    border-collapse: collapse;
    background-color: white;
    border-bottom: 1px solid $iron;
    border-left: 1px solid $iron;
    border-right: 1px solid $iron;

    &__header {
        text-align: left;
        position: relative; //Relative container for absolutely positioned arrow
        padding: 6px $col*2 10px $col*2;
        background-color: $iron;

        button {
            line-height: $base-line-height;
            padding: 0;
            border: none;
            border-radius: 0;
            background: transparent;
            font-size: inherit;
            font-family: inherit;
            font-weight: inherit;
            text-align: left;
            display: block;
            margin: 0;
            width: 100%;
            height: 100%;

            &:hover,
            &:focus {
                text-decoration: underline;
            }
        }

        &[aria-sort='descending']:after,
        &[aria-sort='ascending']:after {
            position: absolute;
            left: ($col * 4.5);
            top: 14px;
            content: "";
            margin-left: $col;
        }

        &[aria-sort='descending']:after {
            @extend .icon;
            @extend .icon-arrow-up--dark-small;
        }

        &[aria-sort='ascending']:after {
            @extend .icon;
            @extend .icon-arrow-down--dark-small;
        }

        // Modify for when the text is aligned right
        &.text-right:after {
            left: auto;
            right: ($col * 5);
        }
    }

    tbody {

        td, th {
            padding: 7px $col*2 9px $col*2;
            vertical-align: baseline;
            font-weight: $base-font-weight;
        }

        tr:not(:last-of-type) {
            border-bottom: solid 1px $iron;
        }

        tr {

            //height: $baseline * 4;

            &:hover,
            &:focus {
                background-color: $abbey;
                color: white;

                // Change the colour of arrow buttons for show/hide sections within highlighted table rows

                // down arrow when not expanded
                button[aria-expanded=false]:after {
                    @extend .icon-arrow-down--light;
                }

                // up arrow when not expanded
                button[aria-expanded=true]:after {
                    @extend .icon-arrow-up--light;
                }

            }

        }

    }

    //&__header {
    //    padding: 4px 0 4px 0;
    //    border-bottom: 1px solid $silver;
    //    margin-bottom: -1px;
    //}

    //.sorted {
    //
    //	&-asc:after {
    //		@extend .icon;
    //		@extend .icon-arrow-up--dark-small;
    //		position: absolute;
    //		content: "";
    //		margin-left: $col;
    //	}
    //
    //	&-desc:after {
    //		@extend .icon;
    //		@extend .icon-arrow-down--dark-small;
    //		position: absolute;
    //		content: "";
    //		margin-left: $col;
    //	}
    //}
}