.ons-checkbox__other, .ons-radio__other {
  border-left: 4px solid #bcbcbd;
  display: block;
  margin: 0 1rem .5rem 1.1rem;
  padding: 0 11px 11px 21px;
}

fieldset {
  width: 100%;
  border: 0;
  margin: 0;
  padding: 0;
}

.list--neutral__chips {
  .chip {
    margin-left: 10px;
    padding: 2px;
    font-size: 12px;
    margin-bottom: 4px;

    &__text {
      font-weight: bold;
    }
  }
}

.ons-content {
  min-height: 54vh;
}

.input:disabled {
  border-color: #AEA99C;
  color: #58585B;
  background-color: #e2e2e3;
  position: relative;
}
.ons-panel {
  &--errors {
    &__title {
      background-color: #d0021b;
      color: #fff;
      padding: 20px 15px;
      font-weight: bold;
    }

    &__body {
      background: #fae6e8;
      padding: 20px 20px;

      p {
        padding: 4px 0 4px;
        span {
          color: #206095;
          text-decoration: underline;
        }
      }
    }
  }
}

.ons-separator{
  &__regular {
    border: 1px solid #AEAEAE;
  }

  &__light {
    border: 1px solid #DDDDDD;
  }
}

.list__item__title {
  display: block;
  a{
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
  }
  p {
    font-weight: 400;
    padding-top: 10px;
  }
}

.sort-container {
  label {
    padding-bottom: 7px;
    margin-right: 15px;
  }

  button {
    margin-bottom: 21px;
    margin-top: 12px;
  }

  .select-wrap {
    border: 2px solid #58585B;
    &::before {
      color: #58585B !important;
      background-color: #FFFFFF;
    }

    &--focus {
      &::before {
        border: 2px solid #58585B !important;
      }
    }
  }
}

.filters-container {
  table {
    border: 1px solid #58585B;
    th {
      text-align: left;
      background-color: #E9E9E9;
    }
    th {
      padding: 0 10px;
    }
    td {
      padding: 20px;
    }
  }
}

.list__item__statuses {
  text-align: center;
}

.list__item__buttons {
  button {
    float: right;
  }
}

span.deleteIcon {
  position: relative;
  display: inline-flex;
  align-items: center;

  span {
    position: absolute;
    display: block;
    right: 10px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    color: #fff;
    background-color: #ccc;
    font: 13px monospace;
    text-align: center;
    line-height: 1em;
    cursor: pointer;
  }
  input {
    padding-right: 18px;
    box-sizing: border-box;
  }
}
.notifications {
  bottom: 70px;
}