.ons-checkbox__other, .ons-radio__other {
  border-left: 4px solid #bcbcbd;
  display: block;
  margin: 0 1rem .5rem 1.1rem;
  padding: 0 11px 11px 21px;
}

fieldset {
  width: 100%;
  border: 0;
  margin: 0;
  padding: 0;
}

.list--neutral__chips {
  .chip {
    margin-left: 10px;
    padding: 2px;

    &__text {
      font-weight: bold;
    }
  }
}

.ons-content {
  min-height: 54vh;
}

.input:disabled {
  border-color: #AEA99C;
  color: #58585B;
  background-color: #e2e2e3;
  position: relative;
}
.ons-panel {
  &--errors {
    &__title {
      background-color: #d0021b;
      color: #fff;
      padding: 20px 15px;
      font-weight: bold;
    }

    &__body {
      background: #fae6e8;
      padding: 20px 20px;

      p {
        padding: 4px 0 4px;
        span {
          color: #206095;
          text-decoration: underline;
        }
      }
    }
  }
}