.list--definition--float {
  @extend %micro;
  @extend %cf;

  dt,
  dd {
    float: left;
    margin-left: 0;
    vertical-align: top;
  }

  dt {
    width: 35%;
    max-width: 10rem;
    clear: left;
  }

  dd {
    width: 63%;
  }
}


.list--definition {
  dt,
  dd {
    display: block;
    margin: 0;
  }

  dt {
    clear: both;
    color: $grey;
  }

  dd {
    color: $ons-black;
  }
}

.definition-emphasis {
  font-family: $font-bold;
}

.list--definition--inline {
  @extend %cf;

  dt,
  dd {
    float: left;
  }

  dt {
    padding-right: .4rem;

    @include respond-min(35em) {
      clear: none;
    }
  }

  dd {
    @include respond-min(35em) {
      padding-right: .8rem;
    }
  }
}

.list--neutral {
  padding-left: 0;
  list-style: none;
}

.list--spaced {
  li,
  dd {
    margin-bottom: 1.2rem;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.list--heavy {
  @extend %body-type--heavy;
}

.list--bullet {
  padding-left: 0;
  margin-bottom: 0;
  margin-left: 2rem;
  list-style: disc;

  li {
    margin-bottom: .75rem;
  }
}

.list--grid {
  margin-top: 1rem;
  margin-bottom: 3rem;

  @include respond-min($bp-tablet) {
    margin: 0;
  }
}
