body {
    font-family: $base-font-family;
    font-weight: 300;
    font-size: $magicnumber1 * 2;
    line-height: $lineheight;
}

h1, h2, h3, h4 {
    font-family: $heading-font-family;
    font-weight: 400;
    line-height: $lineheight * 2;
}

h1 {
    font-size: $magicnumber1 * 5;
    margin-top: $lineheight * 3;
    margin-bottom: $lineheight * 2;
    text-align: center;
}

h2 {
    font-size: $magicnumber1 * 4;
}

h3 {
    font-size: $magicnumber1 * 3;
}

h4 {
    font-size: $magicnumber1 * 2;
}

p {
    line-height: $lineheight;
}

li {
    line-height: $lineheight;
}

button {
    font-family: 'Roboto Slab', serif;
    font-size: $magicnumber1 * 2;
    font-weight: 300;
    line-height: $lineheight;
}

::-webkit-input-placeholder {
    font-style: italic;
}

:-moz-placeholder { /* Firefox 18- */
    font-style: italic;
}

::-moz-placeholder { /* Firefox 19+ */
    font-style: italic;
}

:-ms-input-placeholder {
    font-style: italic;
}

input {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: $magicnumber1 * 2;
    line-height: $lineheight + 1;
}

textarea {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: $magicnumber1 * 2;
    line-height: $lineheight;
}

select {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: $magicnumber1 * 2;
    line-height: $lineheight + 1;

    select:first-child {
        font-style: italic;
    }
}
