.margin {

    @for $i from 1 through 5 {
        $margin: $lineheight * $i;

        &-top--#{$i} {
            margin-top: $margin;
        }
        
        &-bottom--#{$i} {
            margin-bottom: $margin;
        }
    }
    
    @for $i from 1 through 5 {
        $margin: $gutter * $i;

        &-right--#{$i} {
            margin-right: $margin;
        }
        
        &-left--#{$i} {
            margin-left: $margin;
        }
    }

}

.colour {

    @each $colour-name, $colour-value in $colours {

        &--#{$colour-name} {
            color: $colour-value;
        }    
    }

}

.font-size {
    &--16 {
        font-size: 16px;
    }
}

.font-weight {
    &--600 {
        font-weight: 600;
    }
}

.inline {
    display: inline;

    &-block {
        display: inline-block;
    }
}