// SETTINGS


// ------------------------
// Breakpoints
$bp-tablet: 38em;
$bp-tablet-wide: 50em;
$bp-desktop: 56em;
$bp-widescreen: 75em;

// ------------------------
// Breakpoints for use with max-width
$bp-tablet-max: ($bp-desktop - (1/16));
$bp-desktop-max: ($bp-desktop - (1/16));

// ------------------------
// Layout
$max-width: 960px;
$max-width-unitless: 960;

$grid-columns:  full-width      1,
                one-half        .5,
                one-third       .333333333333,
                two-thirds      .666666666667,
                one-quarter     .25,
                three-quarters  .75,
                one-sixth       .166666666667,
                five-sixths     .833333333333;

$push-pull: true;

// ------------------------
// Fonts
// Different name instead of weighting due to IE6-8 concerns
// http://help.typekit.com/customer/portal/articles/6855-Using-multiple-weights-and-styles
$font-regular: "open-sans-n4", "open-sans", sans-serif;
$font-bold: "open-sans-n7", "open-sans", sans-serif;

// Subset for numbers and punctuation only. See warning in _fonts.scss
$font-light: "open-sans-n3", "open-sans", sans-serif;

$font-header: "ff-dax-web-pro", sans-serif;
