/** BUTTONS **/

// This styling on the element should be able to be removed but must tests for breakages
button {
    position: relative;
    border-radius: 4px;

    &:hover,
    &:focus {
        &:after {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            background-color: rgba(0,0,0,0.2);
            top: 0;
            left: 0;
            border-radius: 4px;
        }
    }
}

.btn {
    border-radius: 4px;
    padding: 10px $gutter;
    text-decoration: none;
    position: relative;

    /* Colours */
    &--primary {
        color: $concrete;
        background-color: $astral;
    }

    &--positive {
        color: $concrete;
        background-color: $como;
    }

    &--inverse {
        color: $mine-shaft;
        background-color: $porcelain;
    }

    &--warning {
        color: $concrete;
        background-color: $tawny-port;
    }

    &--secondary {
        color: $black;
        background-color: $iron-dark;
    }

    &--subtle {
        color: $mirage;
        background-color: $cadet-blue;
        opacity: 0.5;

        &:hover {
            opacity: 1;
            color: $pickled-bluewood;
        }
    }

    &--disabled {
        opacity: 0.65;

        // Disabled default hover/focus effects
        &:hover,
        :focus {
            cursor: default;
        }

        &:hover:after,
        :focus:after {
            display: none;
        }
    }

    &:hover,
    &:focus {
        &:after {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            background-color: rgba(0,0,0,0.2);
            top: 0;
            left: 0;
            border-radius: 4px;
        }
    }

    /* Margin */
    &--flush {
        margin: 0 !important;
    }

    /* Display */
    &--inline-block {
        display: inline-block;
    }
}
