/** INPUTS **/

// Only used for file inputs at the moment but should have rest of inputs migrated over too
.input {

    // Class has JS bound to it to handle the change event to simulate a native file input behaviour
    &__file {

        display: block;

        &:hover {
            cursor: pointer;
        }

        &:after {
            content: attr(data-file-title);
            //margin: 0;
            //float: none;
            padding: ($lineheight * 0.5) $gutter;
            color: $mine-shaft;
            display: block;
            margin-bottom: $lineheight * 0.5;
            background-color: $white;
            line-height: $lineheight;
            border: 3px solid $scarpa-flow;
            border-radius: 3px;
        }

        & input {
            position: absolute;
            left: -10000px;
        }

        &.focus:after {
            border-color: $focus;
        }
    }
}