/* ======================================================
   Base CSS
   (any add-ons to normalize)
   ======================================================*/


html {
  height: 100%; // TODO: Necessary?
  overflow-y: scroll; // TODO: Necessary?
  font-size: 62.5%; // Easier font size calculations - clagnut.com/blog/348/ (18 May 2004!!)
  line-height: 1.5; // Unitless line-height - meyerweb.com/eric/thoughts/2006/02/08/unitless-line-heights/ (8 Feb 2006!!)

}

body {
  height: 100%; // TODO: Necessary?
  background: #fff; // fend off user styles
}
