/* ------------------------------
 * Hiding things
 * MODIFIED
 * Modified as this project uses the respond-min mixin to generate a fixed width IE stylesheet without media queries
 */

/* Hide from both screenreaders and browsers: h5bp.com/u */
%hidden {
  display: none !important;
  height: 0;
  margin: 0;
  visibility: hidden;
}

.hidden {
  @extend %hidden;
}

// only use mixin if we cant @extend from inside a media query
@mixin hidden {
  display: none !important;
  visibility: hidden;
  height: 0;
  margin: 0;
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
%visuallyhidden {

  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;

  /* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
  &.focusable:active,
  &.focusable:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
  }
}

.visuallyhidden {
  @extend %visuallyhidden;
}

@mixin visuallyunhide {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* Hide visually and from screenreaders, but maintain layout */
%invisible {
  visibility: hidden;
}

.invisible {
  @extend %invisible;
}


/* For image replacement */
%ir {
  display: block;
  overflow: hidden;
  line-height: 0;
  text-align: left;
  text-indent: -999em;
  background-color: transparent;
  background-repeat: no-repeat;
  border: 0;
  direction: ltr;
}

.ir {
  @extend %ir;
}

/* Show on printed version only */
@media screen {

  %print-only,
  .print-only {
    @include hidden;
  }

}

/* Don't show in printed version
   Elements with this class can be omitted from print
   ie. call to actions like "show more", as opposed to link elements that would meaningful even if they're not links
*/
@media print {

  %screen-only,
  .screen-only {
    @include hidden;
  }

}
