/* ======================================================
   'Helper' utility classes
   includes application of these styles via SASS @extend
   ======================================================*/

// These should be authored as both classes and SASS placeholders
// Ideally these classes would be used in the DOM, but if that isnt possible,
// extending a placeholder should compile more optimally than extending a class or including a mixin


/* ------------------------------
 * Misc utilities
 */

// Clearfix (h5bp.com/q)
%cf:before,
%cf:after {
  display: table; /* 2 */
  content: " "; /* 1 */
}

%cf:after {
  clear: both;
}

.cf {
  @extend %cf;
}

// Suppress link styles for phone numbers
.phone-link {
  color: $body-color;
  text-decoration: none !important;
  cursor: default;

  &:hover {
    color: inherit;
    text-decoration: none !important;
  }
}


// Hanging indent
// In situations where you have a floated element followed by an element containing paragraphs of text, you can use this
// class to trigger a hanging indent so that the text does not wrap around the floated item.
// info: stubbornella.org/content/2009/07/23/overflow-a-secret-benefit/
// NOTE: use with caution - comes with risk of hiding overflowed content
//
%hanging-indent {
  overflow: hidden;
}


/*
 * Responsive iframes fix
 * http://stackoverflow.com/questions/12676725/responsive-iframe-google-maps-and-weird-resizing
 */
.iframe-responsive-wrap {
  position: relative;
  height: 0;
  padding-top: 30px;
  padding-bottom: 65.25%; // Relates to aspect ratio

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}


/* Horizontal rules, without <hr />
   (Might be used in conjunction with l.-gutter--top)
*/
.rule-above {
  @extend %cf;
  @include rem(padding-top, 20);
  border-top: 1px solid;
}

.rule-below {
  @extend %cf;
  @include rem(padding-bottom, 5);
  margin-bottom: 10px;
  border-bottom: 1px solid;
}
