// borders

@mixin borders-util {
	.border {
		@each $colour, $colourcode in $colours {
			&-top--#{$colour} {
				@include breakpoint(lg) {
					&-lg {
						border-top: 1px solid $colourcode ;
						margin-top: -1px ;
					}
				}
				@include breakpoint(md) {
					&-md {
						border-top: 1px solid $colourcode ;
						margin-top: -1px ;
					}
				}
				@include breakpoint(sm) {
					&-sm {
						border-top: 1px solid $colourcode ;
						margin-top: -1px ;
					}
				}
			}
			&-bottom--#{$colour} {
				@include breakpoint(lg) {
					&-lg {
						border-bottom: 1px solid $colourcode ;
						margin-bottom: -1px ;
					}
				}
				@include breakpoint(md) {
					&-md {
						border-bottom: 1px solid $colourcode ;
						margin-bottom: -1px ;
					}
				}
				@include breakpoint(sm) {
					&-sm {
						border-bottom: 1px solid $colourcode ;
						margin-bottom: -1px ;
					}
				}
			}
			&-left--#{$colour} {
				 @include breakpoint(lg) {
					 &-lg {
						 border-left: 1px solid $colourcode ;
					 }
				 }
				 @include breakpoint(md) {
					 &-md {
						 border-left: 1px solid $colourcode ;
					 }
				 }
				 @include breakpoint(sm) {
					 &-sm {
						 border-left: 1px solid $colourcode ;
					 }
				 }
			}
			&-right--#{$colour} {
				@include breakpoint(lg) {
					&-lg {
						border-right: 1px solid $colourcode ;
					}
				}
				@include breakpoint(md) {
					&-md {
						border-right: 1px solid $colourcode ;
					}
				}
				@include breakpoint(sm) {
					&-sm {
						border-right: 1px solid $colourcode ;
					}
				}
			}
		}
	}
}

@include borders-util;

