//_colours.scss

//Mono:
$thunder: 		#323132;
$ship-grey: 	#414042;
$abbey: 		#58595B;
$nevada:        #6D6E72; //tile hover colour
$aluminium: 	#A6A8AB;
$silver:        #BBBDBF; //tile hover colour
$silver-light:  rgba(187,189,191,0.3); // tile hover colour
$iron: 			#D0D2D3;
$iron-light: 	#E5E6E7;
$mercury: 		#E5E5E5;
$gallery: 		#EAEAEA;
$alabaster:   	#F9F9F9;
$haze:			#F0F1F1;
$white:			#FFFFFF;
$mine-shaft:	#222222;
$cod-gray:	    #111111;

//Colours:
$matisse: 		#206095; //links
$blumine:       #1A4C76; //hover links
$salem:			#0F8243; //active links
$poppy:         #D32F2F; //errors
$carrot:		#FF9933; //beta content
$astral:		#3B7A9E;
//$violet:        #5f01ae;
$blue:          #3a7db4;
$indigo:		#560072;
$prim:          #E8DFF0;

//Colour types
$primary:       $salem;
$secondary:     $nevada;
//$tertiary:      ;
$active:        $mine-shaft;
$disabled:      $iron;
$census:		$indigo;
$error:         $poppy;


$colours: (
		//name      	//primary 		//secondary			//tertiary
		("thunder",		$thunder, 		$iron-light,		$iron-light)
		("ship-grey", 	$ship-grey, 	$iron-light,		$iron-light)
		("abbey", 		$abbey, 		$iron-light,		$iron-light)
		("nevada", 		$nevada, 		$iron-light,		$iron-light)
		("aluminium", 	$aluminium, 	$ship-grey,			$matisse)
		("silver", 		$silver, 		$ship-grey,			$matisse)
		("iron", 		$iron, 			$ship-grey,			$matisse)
		("iron-light", 	$iron-light, 	$ship-grey,			$matisse)
		("mercury",		$mercury, 		$ship-grey,			$matisse)
		("gallery", 	$gallery, 		$ship-grey,			$matisse)
		("alabaster", 	$alabaster, 	$ship-grey,			$matisse)
		("haze", 		$haze,			$ship-grey,			$matisse)
		("white", 		$white, 		$ship-grey,			$matisse)
		("matisse",		$matisse, 		$white)
		("blumine", 	$blumine, 		$white)
		("salem",		$salem, 		$white)
		("poppy", 		$poppy, 		$white)
		("carrot", 		$carrot, 		$ship-grey)
		("astral", 		$astral, 		$haze)
        ("indigo",      $indigo,        $iron-light)
        ("prim",        $prim,        	$ship-grey)
);



@function colour($key) {
  @if map-has-key($colours, $key) {
    @return map-get($colours, $key);
  }

  @warn "Unknown `#{$key}` in $colors.";
  @return null;
}