//_ellipsis.scss

// Pure css multi line ellipsis: http://www.mobify.com/blog/multiline-ellipsis-in-pure-css/
@mixin multiline-ellipsis($height, $ellipsistextindent: 0) {

	$ellipsiswidth: 100% !default;

	overflow: hidden;
	height: $height;

	&:before {
		content:"";
		float: left;
		width: 5px; 
		height: $height; 
	}

	& > * {
		float: right;
		width: 100%;
		margin-left: -5px !important; 
	}		

	&:after {
		content: "\02026";
		float: right; 
		position: relative;
		top: -32px; 
		left: 100%; 
		width: $ellipsiswidth; 
		margin-left: -$ellipsiswidth;
		padding-right: 5px;
		padding-bottom: 24px;
		text-align: left;
		background: inherit;
		line-height: 8px;
		text-indent: $ellipsistextindent;
	}


}

