// flexbox.scss

.flexbox {

	//Children all same height
	@include breakpoint(md) {

        &__item {
            display: flex;

            &--column {
                display: flex;
                flex-direction: column;
            }
        }

        &__bottom {
            //display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            //flex: 1 0 auto;
        }
    }

}