//_print.scss


//MIXIN - displays the url of a link when printed
@mixin print-links {
    //External links displayed as is
    //a[href^="https://"]:after,
    //a[href^="http://"]:after,
    //a[href^="www."]:after {
    //	content: " (" attr(href) ")";
    //	word-wrap: break-word;
    //}
    a[href]:after {
        // A lot of '!important' to over-ride external link icon removing the links
        content: " (" attr(href) ")";
        word-wrap: break-word;
    }

	//Append 'https://www.ons.gov.uk/' to internal links using a relative path
	a[href^="/"]:after {
		content: " (https://www.ons.gov.uk" attr(href) ")";
		word-wrap: break-word;
	}

	//Don't show links for images, javascript, internal links or email addresses
	a[href^="javascript:"]:after,
	a[href^="#"]:after,
	a[href^="mailto:"]:after {
		content: "";
	}
}



@page {
	margin: 1cm;
}

@media print {

	//GLOBAL PRINT SETTINGS

	* {
		color: #000 !important; /* Black prints faster: h5bp.com/s */
		//overflow: initial !important;
		//height: auto !important;
		text-shadow: none !important;
		background: transparent !important;
		box-shadow: none !important;
		border: none;
	}

	//Forces whole grid to 100% width
	.col {
		width: 100% !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}


	article {
		@include print-links;
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	thead {
		display: table-header-group; /* h5bp.com/t */
	}

	tr,
	img,
	section,
	address {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}

	.accordion__content {
		display: block !important;
	}


  	// UTILITY PRINT CLASSES

	.print {

		// Fix for old-ie hiding mobile--hide class
		@if $old-ie == false {
			&--hide {
				display: none !important;
			}
		}

		&--break-before {
			page-break-before: always;
		}

		&--break-after {
			page-break-after: always;
		}

		&--avoid-break {
			page-break-inside: avoid;
		}

		&--links {
			@include print-links
		}

		&--only {
			display: block !important;
		}
	}

}

@media screen {

	.print {

		//Only show in print
		&--only {
			display: none;
		}

	}
}
