<div class='modal'>
    <div class='modal-box modal--tall'>
        <form class="embed__form">
            <label for="blockquote-quote" class="embed__label">Enter quote</label>
            <textarea id="blockquote-quote" class="embed__textarea" type="text" placeholder="Enter quote here" rows="3"></textarea>
            <label for="blockquote-attribution" class="embed__label">Attribution (optional)</label>
            <input id="blockquote-attribution" class="embed__input" type="text" placeholder="Enter attribution details for the quote">
        </form>
        <div class='modal-nav'>
            <button class='btn btn--positive btn-blockquote-save'>Save</button>
            <button class='btn btn-blockquote-cancel'>Cancel</button>
        </div>
    </div>
</div>