<div class="change-verification-email-overlay builder overlay">
  <div class="change-verification-email-overlay__inner">
      <form>
          <h1>Change verification email</h1>

          <p>
              <strong>Warning:</strong> The user will be required to verify the new email address to continue using Florence
          </p>

          <label for="email">Verification email:</label><input id="email" value="{{email}}" cols="40" rows="1"/>

          <button id="update-verification-email" class="btn btn--positive btn-florence-login fl-panel--user-and-access__login ">
              Update verification email
          </button>
          <button id="update-verification-email-cancel" class="btn">Cancel</button>
      </form>
    </div>
  </div>
</div>