<div class="edit-section" id="srv-msg">
  <div class="edit-section__head">
    <h1>Service message</h1>
    <p>Content</p>
  </div>
  <div class="edit-section__content">
    <div class="srv-msg-txt">
      <label for="srv-msg-txt">Title
        <textarea class="auto-size" id="srv-msg-txt" type="text" placeholder="Type content here">{{this}}</textarea>
      </label>
    </div>
    <button class="btn btn--warning btn-page-delete" id="srv-msg-delete">Delete</button>
  </div>
</div>