<div class='modal'>
    <div class='modal-box modal--tall'>
        <form class="embed__form">
            <label for="embed-url" class="embed__label">Enter url of interactive content</label>
            <input id="embed-url" class="embed__input" type="text" placeholder="eg 'https://neighbourhood.statistics.gov.uk/interactive-chart.html'">
            <label for="embed-title" class="embed__label">Title</label>
            <input id="embed-title" class="embed__input" type="text" placeholder="Enter a title for this interactive content">
            <div>
                <label for="full-width-checkbox">Make interactive full (wrapper) width</label>
                <input id="full-width-checkbox" type="checkbox" name="full-width" />
            </div>
        </form>
        <div class='modal-nav'>
            <button class='btn btn--positive btn-embed-save'>Save</button>
            <button class='btn btn-embed-cancel'>Cancel</button>
        </div>
    </div>
</div>