<div class='modal'>
    <div class='modal-box'>
        <form class="embed__form">
            <label for="embed-url" class="embed__label">Enter url of interactive content</label>
            <input id="embed-url" class="embed__input" type="text" placeholder="eg 'https://neighbourhood.statistics.gov.uk/interactive-chart.html'">
        </form>
        <div class='modal-nav'>
            <button class='btn btn--positive btn-embed-save'>Save</button>
            <button class='btn btn-embed-cancel'>Cancel</button>
        </div>
    </div>
</div>