<div class='modal'>
    <div class='modal-box'>
        <form>
            <div class='uri-input'>
                <label for='uri-input' class='uri-input__label'>Add URL</label>
                <input id='uri-input' placeholder='Enter URL' type='text' class='uri-input__input' value="{{uri}}">
                {{#if showTitleField}}
                    <label for='uri-title' class='uri-input__label'>Add title</label>
                    <input id='uri-title' placeholder='Enter title' type='text' class='uri-input__input' value="{{title}}">
                {{/if}}
            </div>
            <div class='modal-nav'>
                <button class='btn btn--primary btn-uri-get'>Save</button>
                <button class='btn btn-uri-cancel'>Cancel</button>
            </div>
        </form>
    </div>
</div>