<div class='modal'>
    <div class='modal-box'>
        <div class='uri-input'>
            <label for='uri-input' class='uri-input__label'>What type of link would you like to add?</label>
        </div>
        <button class='btn btn--primary btn-uri-browse' id="internal-link">Internal</button>
        <button class='btn btn--primary btn-uri-browse' id="external-link">External</button>
        <div class='modal-nav'>
            <button class='btn btn-uri-cancel'>Cancel</button>
        </div>
    </div>
</div>