<div class="col--4 login-wrapper">
  <h1>Login</h1>

  <form method="post" action="" class="form-login">
    <label for="email">Email:</label>
    <input id="email" type="email" class="fl-user-and-access__email" name="email" cols="40" rows="1"/>

    <label for="password">Password:</label>
    <input id="password" type="password" class="fl-user-and-access__password" name="password" cols="40" rows="1"/>

    <button type="submit" id="login" class="btn btn--primary margin-left--0 btn-florence-login fl-panel--user-and-access__login ">Sign in</button>
  </form>
</div>