<ul class="nav__list">
    <li id="network-status" class="icon-status">
        <div class="icon-status--very-poor"></div>
        <div class="icon-status--poor"></div>
        <div class="icon-status--ok"></div>
        <div class="icon-status--good"></div>
    </li>

    {{#if this.Authentication.isAuthenticated}}
        {{!-- display envirnoment if develop or sandbox --}}
        {{#if environment.name}}<li class="environment-notification">You're on {{environment.name}} environment</li>{{/if}}

        {{#if this.collection.name}}
            <li id="working-on" class="nav__item"><a class="nav__link js-nav-item js-nav-item--collection selected" href="/florence/collections/{{this.collection.id}}">Working
                on: {{this.collection.name}}</a></li>
        {{/if}}

        <li class="nav__item">
            <a class="nav__link js-nav-item js-nav-item--collections" href="javascript:void(0)">Collections</a></li>
        {{#if showDatasetsTab}}
            <li class="nav__item">
                <a class="nav__link js-nav-item js-nav-item--datasets" href="javascript:void(0)">Datasets</a>
            </li>
        {{/if}}
        <li class="nav__item"><a class="nav__link js-nav-item js-nav-item--publish" href="javascript:void(0)">Publishing queue</a></li>
        <li class="nav__item"><a class="nav__link js-nav-item js-nav-item--users" href="javascript:void(0)">Users and access</a></li>
        <li class="nav__item"><a class="nav__link js-nav-item js-nav-item--teams" href="javascript:void(0)">Teams</a></li>
        <li class="nav__item"><a class="nav__link js-nav-item js-nav-item--logout" href="javascript:void(0)">Sign out</a></li>
    {{else}}
        <li class="nav__item"><a class="nav__link js-nav-item js-nav-item--login selected" href="javascript:void(0)">Sign in</a></li>
    {{/if}}
</ul>
