<div
    class="edit-section"
    id="migration"
>
    <div class="edit-section__head">
        <h1>Migration</h1>
        <p>Manage migration path</p>
    </div>
    <div class="edit-section__content">
        <div>
            <label for="migration_link">Migration path</label>
            <div class="margin-left--1 margin-right--1">
                <span>Start with a '/' and use the format '/path/to/new/part/of/site'</span>
                <textarea
                    rows="1"
                    id="migration_link"
                >{{this.description.migrationLink}}</textarea>
            </div>
        </div>
    </div>
</div>
