<section class="panel panel--padded panel--centred col col--6">
    <h1 class="text-align-center">Select a publish date</h1>
    <table class="table table--primary table--fixed-height-27 js-selectable-table">
        <thead>
        <tr>
            <th id="publish-name" scope="col">Publish date</th>
        </tr>
        </thead>
        <tbody>
        {{#each this}}
            <tr class="publish-list__item" data-publish-date="{{this.date}}">
                <td>{{this.formattedDate}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</section>
<section class="panel panel--off-canvas col col--6">

</section>