<div class="overlay" id="js-modal-recipe">
    <div class="modal-title col--6">
      <h1>Select a dataset to connect</h1>
    </div>
    <div class="modal-recipe">
        <div class="modal-recipe__header">
            <h2>Dataset title</h2>
        </div>
        <div class="modal-recipe__body">
          <ul class="modal-recipe-list">{{{ content }}}</ul>
          <div class="modal-recipe__animation">{{ loadingAnimation large=true dark=true}}</td></tr>
        </div>
    </div>
</div>
