<div class="edit-section">
  <div class="edit-section__head">
    <h1>Tags</h1>
    <p>Topics | Subtopics</p>
  </div>
    <div class="edit-section__content">
        <div class="edit-section__sortable-item">
            <div class="ons-field" style="display:block; width:100%; margin-bottom:21px;">
                <label class="ons-label" for="select" style="font-weight:bold; margin:5px 0px;">Topic</label>
                <select id="select" name="select" class="ons-input ons-input--select" style="padding: 7px 5px; background: white;">
                    <option value="" selected disabled>Select topics</option>
                </select>
            </div>
            <div class="ons-field" style="display:block; width:100%; margin-bottom:21px;">
                <label class="ons-label" for="select" style="font-weight:bold; margin:5px 0px;">Subtopic</label>
                <select id="select" name="select" class="ons-input ons-input--select" style="padding: 7px 5px; background: white;">
                    <option value="" selected disabled>Select subtopics</option>
                </select>
            </div>
        </div>
    </div>
</div>