<div class="edit-section" id="tags">
    <div class="edit-section__head">
        <h1>Tags</h1>
        <p>Topics | Subtopics</p>
    </div>
    <div class="edit-section__content">
        <div class="edit-section__sortable-item" style="padding: 20px 10px;">
            <div class="ons-field" style="margin-bottom:21px; width:100%;">
                <label class="ons-label" for="selectTopic" style="font-weight:bold; margin:5px 0px;">Topic</label>
                <select id="selectTopic" name="selectTopic" onchange="getSubTopics()" class="ons-input ons-input--select"></select>
            </div>
            <div class="ons-field" style="margin-bottom:21px; width:100%;">
                <label class="ons-label" for="selectSubTopic" style="font-weight:bold; margin:5px 0px;">Subtopic</label>
                <select id="selectSubTopic" name="selectSubTopic" class="ons-input ons-input--select"></select>
            </div>
        </div>
    </div>
</div>