<div class="slider">
    <div class="slider__head">
        <h2>{{name}}</h2>
    </div>

    <div class="slider__content">
        <p>{{name}} is a{{#if_eq permission 'admin'}}n{{/if_eq}} <strong>{{permission}}</strong>.</p>

        {{#unless verifiedEmail}}
            <p id="temp-password">This user has not verified their email address.</p>
        {{/unless}}
    </div>

    <nav class="slider__nav">
        <button class="btn btn--warning btn-user-delete">Delete user</button>
        <button class="btn btn-user-cancel">Cancel</button>
    </nav>
</div>
