<section class="panel panel--padded col col--6">
    <h1 class="text-align-center">Select a user</h1>
    <table class="table table--primary table--fixed-height-27 js-selectable-table">
        <thead>
        <tr>
            <th id="collection-name" scope="col">Name</th>
            <th id="collection-name" scope="col">Email</th>
        </tr>
        </thead>
        <tbody>
        {{#each data}}
            <tr data-id="{{email}}">
                <td headers="username" class="collection-name">{{name}}</td>
                <td headers="email" class="collection-name">{{email}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</section>
<section class="panel panel--padded col col--6">
    <h1 class="text-align-center">Create a user</h1>

    <form autocomplete="off" method="post" action="" class="form-create-user">
        <input id="create-user-username" type="text" placeholder="Username" autocomplete="off"/>
        <input id="create-user-email" type="text" placeholder="Email" autocomplete="off"/>
        <input id="create-user-password" type="password" placeholder="Password" autocomplete="off"/>
        <div class="radioBtnDiv">
            {{#if permission.admin}}
                <input type="radio" id="admin-type" name="type" value="admin" required><label
                    for="admin-type">Administrator</label>
                <input type="radio" id="publisher-type" name="type" value="publisher" required><label
                    for="publisher-type">Publisher</label>
            {{/if}}
            {{#if permission.editor}}
                <input type="radio" id="viewer-type" name="type" value="viewer" checked><label
                    for="viewer-type">Viewer</label>
            {{/if}}
            <br>
        </div>
        <button class="btn btn--positive margin-right--0 float-right btn-collection-create">Create user</button>
    </form>
</section>
<section class="panel panel--off-canvas col col--6">

</section>