<div class="slider">
    <div class="slider__head">
        <h2>{{user.name}}</h2>
    </div>

    {{#if_eq user.email loggedUser}}
        <div class="slider__options">
            <button class="btn btn--primary btn-user-change-password">Change password</button>
        </div>
    {{/if_eq}}

    <div class="slider__content">
        <p>{{user.name}} is a{{#if_eq user.permission 'admin'}}n{{/if_eq}} <strong>{{user.permission}}</strong>.</p>

        {{#if user.temporaryPassword}}
            <p id="temp-password">This user has not updated their temporary password.</p>
        {{/if}}
    </div>

    <nav class="slider__nav">
        <button class="btn btn--warning btn-user-delete">Delete user</button>
        <button class="btn btn-user-cancel">Cancel</button>
    </nav>
</div>
