<section class="panel workspace-edit">
    <div class="edit-accordion">

        <div class="edit-section">
            <div class="edit-section__head">
                <h1>Metadata</h1>
                <p>Title | Summary | Keywords</p>
            </div>
            <div class="edit-section__content">
                <div id="metadata-list">
                    <div>
                        <label for="title">Title
                            <textarea class="auto-size" id="title">{{this.description.title}}</textarea>
                        </label>
                    </div>
                    <div id="summary-p">
                        <label for="summary">Summary
                            <textarea class="auto-size" id="summary">{{this.description.summary}}</textarea>
                        </label>
                    </div>
                    <div>
                        <label for="keywords">Keywords
                            <input name="tags" id="keywords" value="{{this.description.keywords}}"
                                   style="display: none;">
                        </label>
                        <ul id="keywordsTag"></ul>
                    </div>
                    <div>
                        <label for="metaDescription">Meta description
                            <textarea class="auto-size"
                                      id="metaDescription">{{this.description.metaDescription}}</textarea>
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div id="highlighted-content"></div>

        <div id="timeseries"></div>

        <div id="datasets"></div>

        <div id="bulletins"></div>

        <div id="articles"></div>

        <div id="qmi"></div>

        <div id="methodology"></div>

    </div>

    <nav class="edit-nav">
        {{> editNav}}
    </nav>

</section>