<section class="panel workspace-edit">
  <div class="margin-left--1 margin-bottom--1 margin-top--2"><strong>Connected dataset ID: </strong>{{this.apiDatasetId}}</div>
  <div class="margin-left--1 margin-bottom--1"><strong>Title: </strong>{{this.description.title}}</div>
  <nav class="edit-nav">
    {{> editNav}}
  </nav>
</section>
