<nav class="panel col col--1 nav nav--workspace js-workspace-nav">
    <ul class="nav__list nav__list--workspace">
        <!--<div id="nav--workspace__welsh" style="margin-top: 20px;"></div>-->
        <!--<br/>-->
        <li class="nav__item nav__item--workspace nav__item--lang js-workspace-nav__item" id="nav--workspace__welsh"></li>
        <li class="nav__item nav__item--workspace nav__item--browse js-workspace-nav__item selected" id="browse"><a class="nav__link" href="javascript:void(0)">Browse</a>
        </li>
        <li class="nav__item nav__item--workspace nav__item--create js-workspace-nav__item" id="create"><a class="nav__link" href="javascript:void(0)">Create</a>
        </li>
        <li class="nav__item nav__item--workspace nav__item--edit js-workspace-nav__item" id="edit"><a class="nav__link" href="javascript:void(0)">Edit</a></li>
    </ul>
</nav>
<div class="panel col col--4 workspace-menu" id="browse-tree">
    {{> loadingAnimation large=true}}
</div>
<section class="panel col col--7 workspace-browser">
    <div class="browser">
        <div class="addressbar">
            <button class="btn browser-btn-back">&lt;</button>
            <button class="btn browser-btn-forward">&gt;</button>
            <label for="browser-location" class="browser-location-label">Preview URL</label>
            <input id="browser-location" class="browser-location" type="text" value="">
            <div class="browser-location__select select-wrap select-wrap--browser" id='select-vis-wrapper'>
                {{!-- <label for="select-vis-preview">Preview HTML file</label> --}}
                <select id='select-vis-preview'></select>
            </div>
            <button class="btn browser-btn-mobile">Mobile</button>
        </div>
        <div class="browser__iframe">
            <iframe id="iframe" name="preview" src="{{this}}">
                {{> loadingAnimation large=true }}
            </iframe>
        </div>
    </div>
</section>
