.slider {

    /* Default slider */
    background: $quill-gray;
    height: 100%;

    &--background-primary {
        background: $pickled-bluewood;
    }

    &__head {
        background-color: $pickled-bluewood;
        overflow: hidden;
        color: $cadet-blue;
        padding-top: 0;
        padding-bottom: $lineheight * 2;
        padding-left: $col--2;
        padding-right: $col--2;
        p {
            margin-top: 0;
            margin-bottom: 10px;
        }
    }

    &__content {
        overflow-y: scroll;
        padding-top: 0;
        padding-bottom: $lineheight * 2;
        padding-left: $col--2;
        padding-right: $col--2;
        //min-height: $lineheight * 24;
        max-height: $lineheight * 27;
        color: $emperor;

        &--fullwidth {
            padding-left: 0;
            padding-right: 0;
        }
    }

    &__banner {
        background-color: $nevada;
        padding: ($lineheight / 2) $col--2;
        color: $iron-dark;

        p {
            margin-top: ($lineheight / 2);
            margin-bottom: ($lineheight / 2);
        }
    }

    &__nav {
        box-sizing: border-box;
        overflow: hidden;
        padding-top: $lineheight;
        padding-bottom: $lineheight;
        padding-left: $col--2;
        padding-right: $col--2;
        background-color: $pickled-bluewood;
        color: $cadet-blue;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: $lineheight * 5;

        button {
            margin-right: 0;
            margin-left: 10px;
            &:first-child {
                margin-right: 0;
                margin-left: 20px;
            }
        }
    }

    /* Collection details overlaid on 'Edit collection' */
    &__modal {
        background-color: $quill-gray;
        width: 100%;
        margin-top: $lineheight;
        margin-right: auto;
        margin-left: auto;
        overflow: hidden;
        position: absolute;
        z-index: 1;

        textarea {
            border: 3px solid $scarpa-flow;
        }
    }
}