<label for="finish-at-hundred" class="checkbox-label--small">Finish at 100</label>
<input id="finish-at-hundred" name="Finish at 100" {{#if finishAtHundred}}checked{{/if}} type="checkbox">

<label for="isReversed" class="checkbox-label--small">Reverse Legend</label>
<input id="isReversed" name="ReversedLegend" {{#if isReversed}}checked{{/if}} type="checkbox">
<label for="isStacked" class="checkbox-label--small">Stacked Bar</label>
<input id="isStacked" name="Stacked-Bar" {{#if isStacked}}checked{{/if}} type="checkbox">