<div class="edit-section" id="charts">
    <div id="chart-list" class="edit-section__content">
        <div id="sortable-chart" class="edit-section__sortable">
NOT CURRENTLY FUNCTIONAL
NB: the type needs to be set to Bar+Line in order to change the series
{{#each this.series}}
  <label for="series-types_{{@index}}">Series {{@index}}: {{this}}</label>
  <div class="select-wrap">
    <select id="series-types_{{@index}}" class="col--5">
      {{#select (lookup ../chartTypes this)}}
        <option value="bar">Bar</option>
        <option value="line">Line</option>
      {{/select}}
    </select>
  </div>

  <br/>
{{/each}}


        </div>
        
    </div>
</div>