<div class='modal'>
    <div class='modal-box'>
        <form id="import-ts-form">
            <div class='uri-input'>
                <label for='ts-file' class='uri-input__label'>Add .csv file</label>
                <input id='ts-file' type='file' class='uri-input__input' title="Select a file and click Submit" name="ts-file">
            </div>
            <div class='modal-nav'>
                <button type="submit" class='btn btn--primary btn-modal-save'>Save</button>
                <button class='btn btn-modal-cancel'>Cancel</button>
            </div>
        </form>
    </div>
</div>