<section class="panel workspace-edit">

  <div class="child-page">
    <p class="child-page__content">This is a sub-page of <span class="child-page__title"></span></p>
  </div>

  <div class="edit-accordion">

    <div id="one"></div>

    <div id="version"></div>

    <div id="correction"></div>

    <div id="supplementary-files"></div>

  </div>

  <nav class="edit-nav">
    {{> editNavChild}}
  </nav>

</section>