.global-footer a {
  @extend %link-muted;
}

.footer__license {
  padding-top: 1rem;
  text-align: center;
}

.footer__license__img {
  display: block;
  margin: 1rem auto;
}

.footer__license__body {
  padding-bottom: 1rem;
  margin: 0;
  font-size: 1.4rem;
  color: $grey;
}

@include respond-min($bp-tablet) {
  .footer__license {
    height: 11.5rem;
    padding-top: 3rem;
    text-align: left;
  }

  .footer__license__img,
  .footer__license__body {
    display: inline-block;
    vertical-align: middle;
  }

  .footer__license__img {
    margin-right: 2rem;
  }

  .footer__license__body {
    max-width: 82.5%;
    overflow: auto;
  }
}
