.page-header {
  position: relative;
  padding: 2rem 0;
}

.page-header__title {
  @extend %headline-type;
}

.page-header__icons {
  margin-bottom: 2rem;
  font-size: 2rem;

  .icon {
    margin: 0 .25em;
  }
}

@include respond-min($bp-tablet-wide) {
  .page-header {
    padding: 4rem 0 1rem;
  }

  .page-header__title {
    padding-right: 14rem; // to compensate for the icons
  }

  .page-header__icons {
    position: absolute;
    top: 0;
    right: 3rem;
    max-width: 13rem;
  }
}


@include respond-min($bp-desktop+6) {
  .page-header__icons {
    right: 2rem;
  }
}
