.lozenge {
  display: inline-block;
  padding: .3rem .5rem;
  border: 0 none;
  border-radius: 2px;

  font-size: 1rem;
  letter-spacing: .1em;
  color: $white;
  text-transform: uppercase;

  cursor: pointer;
  background-color: $grey-cold;

  &:hover,
  &:active,
  &:focus {
    color: $white;
    text-decoration: none!important;
    background-color: darken($grey-cold, 5%);
    outline: 0;
  }

  &.is-collapsed {
    display: inline-block;
    max-width: inherit;
    vertical-align: top;
  }
}

.lozenge--fat {
  display: inline-block;
  padding: 1rem 2rem;
  border: 0 none;
  border-radius: 2px;
}

.lozenge--semi-opaque {
  background-color: $black;
  background-color: rgba($black, .25);
}

.lozenge--cold {
  background-color: $azure;

  &:hover,
  &:active,
  &:focus {
    background-color: darken($azure, 5%);
  }
}
