.media {
  @extend %cf;
  display: block;
}

.media__img {
  float: left;
  margin-right: 2rem;
}

.media__img--reverse {
  float: right;
  margin-left: 2rem;
}

.media__body {
  overflow: hidden;

  &,
  & > :last-child {
    margin-bottom: 0;
  }
}
