.callout {
  margin-bottom: 1.5rem;
  font-size: 1.3rem;

  @include respond-min(20em) {
    font-size: 1.6rem;
    margin-bottom: 3rem;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.callout__header {
  margin-bottom: .5rem;

  @include respond-min(30em) {
    margin-bottom: 1rem;
  }
}

.callout__stat-name {
  color: $callout;
}

.callout__stats {
  padding: .5rem 0 .75rem 1rem;
  border-left: .5rem solid $callout;

  @include respond-min(20em) {
    padding-left: 2rem;
    border-left: 1rem solid $callout;
  }
}

.callout__stat {
  @extend %cf;
  margin-bottom: .5rem;
  font-family: $font-regular;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.callout__stat__figure {
  float: left;
  width: 4em;
  margin-bottom: 0;
  font-size: 1.6rem;

  @include respond-min(20em) {
    font-size: 2.1rem;
  }
}

.callout__stat__figure__unit {
  margin-left: -.25em;
  font-size: 1.2rem;

  @include respond-min(20em) {
    font-size: 1.4rem;
  }
}

.callout__stat__description {
  margin: .7rem 0 0;
  overflow: auto;
}

.callout__stat__adjective,
.callout__stat__figure {
  font-family: $font-bold;
  font-weight: 400;
}

.callout__stat__adjective {
  text-transform: uppercase;
}
