/*
============================
  Tables and tabular data
============================
*/

.table {
  width: 100%;
  table-layout: auto;

  td,
  th {
    padding: .5rem;

    @include respond-min(50em) {
      padding: 1rem;

      &:first-of-type {
        padding-left: 2rem;
      }

      &:last-of-type {
        padding-right: 2rem;
      }
    }

    @include respond-min(62.5em) {
      padding: 1rem 1.5rem;

      &:first-of-type {
        padding-left: 3rem;
      }

      &:last-of-type {
        padding-right: 3rem;
      }
    }
  }

  th.table__select--all {
    padding-right: 2.7rem;
    padding-bottom: 1.5rem;
    text-align: right;

    label {
      padding-right: 1rem;
    }

    @include respond-min(50em) {
      padding-right: 4.2rem;
    }

    @include respond-min(62.5em) {
      padding-right: 5.2rem;
    }
  }

  h3 {
    font-family: $font-bold;
    font-weight: 100; //seems weird but renders out too bold otherwise
  }

  tfoot tr,
  tbody tr {
    border-color: darken($table-color, 2.5%);
    border-top-style: solid;
    border-width: 2px 0 0;
  }

  caption {
    display: block;
    text-align: left;
  }

  tfoot {
    tr {
      border-top-color: darken($table-color, 7.5%);
      border-bottom-width: 2px;
      background-image: linear-gradient(darken($table-color, 2.5%), darken($table-color, 7.5%));
    }
  }

  .name {
    width: 35%;

    @include respond-min(37.5) {
      width: 35%;
    }

    @include respond-min(50em) {
      width: 40%;
    }

    @include respond-min(62.5em) {
      width: 45%;
    }
  }

  [class^="icon-"]:before,
  [class*=" icon-"]:before {
    margin: 0;
  }
}

.table--striped {
  tbody tr,
  .list--table__body {
    background-color: $table-color;

    &:nth-child(odd) {
      background-color: lighten($table-color, 5%);
    }
  }
}

.table--selectable {
  tbody tr,
  .list--table__body {
    &:not(.hover-override):hover {
      background-color: mix($azure, $white, 15%);
    }
  }
}

.table--striped-light {
  tbody tr,
  .list--table__body {
    background-color: $white;

    &:nth-child(even) {
      background-color: lighten($off-white, 1.25%);
    }
  }
}

.table-light--sectioned {
  > .list--table__body,
  > tr {
    border-color: $table-color;
    border-style: solid;
    border-width: 2px 2px 0;

    &:first-child {
      border-top-width: 0;
    }
  }
}

// If the table is part of another visual component (e.g. tab component)
// and you don't want certain visually separating styles to apply
.table--child {
  tbody tr:first-child {
    border-top: 0;
  }
}



/*---------------------
table actions
*/


.table__actions {
  width: 100%;

  .btn {
    @include respond-max(25em) {
      margin-top: 1rem;
    }
  }

  &.split {
    @include respond-max(25em) {
      float: left;
      text-align: left;
    }
  }
}

.table__action {
  display: inline-block;
  margin: 0 1em 0 0;
  line-height: 2.5;
  text-decoration: none;
  vertical-align: bottom;

  .table__action__text {
    text-decoration: underline;
  }

  @include respond-min($bp-tablet) {
    line-height: 3.5;
  }
}
