.tab-pane__tabs-container {
  margin: 0;
  font-size: 1.6rem;
  // Remove whitespace caused by inline-block.
  letter-spacing: -.31em;
  word-spacing: -.43em;

  @include respond-min(20em) {
    font-size: 2.1rem;
  }
}

.tab-pane__tab__header {
  @extend %body-type;
  margin: 0;
  font-size: inherit;
  font-weight: 100;
  line-height: 1.25;

  @include respond-min(40em) {
    line-height: 1;
  }
}

.tab-pane__tab-container {
  // Restore whitespace
  letter-spacing: normal;
  word-spacing: normal;
}

.tab-pane__tab {
  display: inline-block;
  width: 100%;
  padding: .5em .75em;

  @include respond-min(27.5em) {
    padding: 1em;
  }

  @include respond-min(35em) {
    padding: 1em 1.5em;
  }

  &,
  &:visited {
    color: $link-color;
    background-color: $grey-light;
  }

  /*
   * @TODO: Figure out how to avoid chaining selectors while still overriding
   * Firefox's :visited specificity taking precedence. Firefox doesn't even have
   * the basic decency to tell you that it's overriden in its computed rules.
   */
  &.tab-pane__tab--selected {
    color: $black;
    background-color: $white;
  }
}

.tab-pane__tab--selected {
  position: relative;
  top: 2px;
  border: 2px solid $grey-light;
  border-bottom: 0;
  text-decoration: none;

  > .tab-pane__tab__header {
    font-family: $font-bold;
  }
}

.tab-pane__tab:focus {
  border-color: $black;
  outline: none;
}

.tab-pane__tab--inactive {
  display: none;
}

.tab-pane__panel {
  margin-top: 0;
  border: 2px solid $grey-light;

  &:focus {
    background: $grey-light;
    outline: thin dotted;
  }
}

.tab-pane__content {
  margin-bottom: 1.5rem;
}

// For when you definitely have two panes and they need to take up 50% space
// on narrower viewports
.tab-pane--dual {
  .tab-pane__tab-container {
    display: inline-block;
    width: 50%;
    vertical-align: center;

    @include respond-min(40em) {
      width: auto;
    }
  }

  .tab-pane__tab__break {
    @include respond-min(40em) {
      display: none;
    }
  }
}
