.actionable-header {
  @extend %cf;
  position: relative;
  margin-bottom: 1.5rem;

  @include respond-min($bp-tablet) {
    margin-bottom: 3.5rem;
  }
}

.actionable-header__title {
  margin-bottom: 0;
}

.actionable-header__action {
  font-family: $font-bold;
  color: $orange;

  &:hover {
    color: lighten($orange, 15%);
  }
}

@include respond-min(34.5em) {
  .actionable-header {
    display: table;
    width: 100%;
  }

  .actionable-header__title {
    line-height: 1;
  }

  .actionable-header__title,
  .actionable-header__action {
    display: table-cell;
    vertical-align: bottom;
  }

  .actionable-header__action {
    line-height: 1.5; // compensate for the increased line-height of the bigger font
    text-align: right;
  }
}

.actionable-header--tight {
  text-align: right;
}

.actionable-header--tight__title,
.actionable-header--tight__action {
  display: inline-block;
}

.actionable-header--tight__title {
  vertical-align: middle;
}

.actionable-header--tight__action {
  margin-left: 1rem;
}
