.content-image {
  margin: 3rem 0;
}

.content-image--separated {
  padding: 2rem 0;
  border-top: 2px solid $grey-light;
  border-bottom: 2px solid $grey-light;
}

.content-image__title {
  @extend %delta;
  margin-bottom: .5rem;
}

.content-image__image {
  display: block;
  padding: .75rem;
  margin: 0 auto;
}
