.date--stacked {
  display: block;
  width: 2em;
  text-align: center;
}

.date--stacked__date,
.date--stacked__month,
.date--stacked__year {
  display: block;
}

.date--stacked__date {
  font-size: 1.6875em;
  line-height: 1;
}

.date--stacked__year {
  font-size: .875em;
  line-height: 1.5;
}

.date--stacked__date,
.date--stacked__month {
  font-family: $font-bold;
  line-height: 1;
}

.date--stacked__month--shorthand {
  text-transform: uppercase;
}
