.ons-nav {
  position: relative;
  background-color: $ons-black;

  &:before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: .5rem;
    background-color: darken($ons-black, 5%);
    content: '';
  }
}

.nav--primary {
  max-width: 59.75em;
  margin: 0 auto;
  font-size: 1.6rem;

  > li {
    border-top: 1px solid darken($grey, 15%);
    font-family: $font-bold;

    &.nav--primary__active {
      border-top: 0;
    }
  }

  a {
    padding: 1rem 1rem 1rem 1.5rem;
    line-height: 1.33;
    color: $white;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  ul {
    padding-left: 0;
    list-style: none;
  }

  .js & .js-nav-hidden {
    @include respond-max(64.4em) {
      display: none;
    }
  }

  .nav--primary__hide-small-med {
    display: none;

    @include respond-min(50em) {
      display: table-cell;
    }
  }
}

// Subnav within primary. Apply to <ul>
.nav--primary__sub {
  margin: 0;
  font-family: $font-regular;
  font-size: 1.4rem;
  background-color: darken($ons-black, 5%);

  li {
    border-bottom: 1px dotted darken($grey, 5%);

    &:last-of-type {
      border-bottom: 0;
    }
  }

  a {
    padding-right: 2rem;
    padding-left: 2rem;
    color: $white;
  }
}

.nav--primary__secondary-content {
  > a {
    padding-left: 4.8rem;
    font-family: $font-regular;
  }
}

.nav--primary__active {
  &,
  > a {
    font-family: $font-bold;
    background-color: darken($ons-black, 10%);
  }
}

.nav--primary__respondents {
  [class^="icon"] {
    margin-right: 1rem;
    margin-left: -.1rem;
  }
}

.nav--controls {
  margin: 0;

  a {
    display: block;
    padding: .5rem 1rem 1rem;
    font-family: $font-bold;
    font-size: 1.4rem;
    color: $white;
    text-decoration: none;

    &:hover,
    &:focus {
      background-color: darken($ons-black, 10%);
    }
  }

  [class^="icon"] {
    margin: 0 .5rem;
  }
}

.nav--controls__menu,
.nav--controls__search {
  width: 50%;
}

.nav--controls__menu {
  float: left;
  text-align: left;
}

.nav--controls__search {
  float: right;
  text-align: right;
}

.menu-is-expanded > a,
.search-is-expanded > a {
  color: $ons-green;
}

.nav-search {
  @extend %cf;
  position: relative;
  padding: .5rem;
  background-color: $grey;

  .nav-search__field {
    padding: .5rem 1rem;
    border-color: darken($grey, 10%);
    border-radius: 0;
  }
}

.nav-search__container {
  padding-right: 4.5rem;
}

.nav-search__field {
  width: 100%;
  font-size: 1.6rem;
}

.btn--nav-search {
  position: absolute;
  top: .6rem;
  right: .6rem;
  bottom: .6rem;
  padding: 0 .75rem;
  line-height: 1;
}


// =======================================
//  JS-specific styling
// =======================================

.js {
  @include respond-max(49.9375em) {
    .nav__expandable {
      position: relative;

      &::before {
        position: absolute;
        top: .4rem;
        left: 1.7rem;
        font-family: $font-regular;
        font-size: 2.4rem;
        color: $white;
        content: '+';
      }

      a {
        // makes room for icons, with no left active border
        padding-left: 4.75rem;
      }

      &.js-expandable-active {
        border-left: 5px solid $ons-green;

        &::before {
          top: .2rem;
          left: 1.3rem;
          color: $ons-green;
          content: '\2013';
        }

        a {
          // links in active expanded section with a .5rem border left
          padding-left: 4.25rem;
        }

        > a {
          // only colour the top-level anchor green to signal activeness
          color: $ons-green;
        }
      }
    }
  }

  .nav-search--hidden {
    @include respond-max(29.9375em) {
      display: none !important;
    }
  }

  .nav-main--hidden {
    @include respond-max(49.9375em) {
      display: none !important;
    }
  }
}

// =======================================
//  Breakpoints
// =======================================

@include respond-min(32em) {
  .nav--controls__menu {
    width: 25%;
  }

  .nav--controls__search {
    display: none;
  }

  .nav-search {
    position: absolute;
    top: 0;
    right: 0;
    width: 75%;
    background-color: $ons-black;

    .nav-search__field {
      padding-top: .75rem;
      padding-bottom: .5rem;
      border-width: 0;
    }

    .btn--nav-search {
      top: .5rem;
      bottom: .5rem;
    }
  }

  .nav--primary .nav--primary__secondary-content {
    display: none;
  }
}

@include respond-min(50em) {
  .nav--controls {
    display: none;
  }

  .nav-search {
    position: relative;
    max-width: 63rem;
    padding: 1.5rem 0;
    margin: 0 auto;
    background-color: transparent;

    .btn--nav-search {
      top: 1.8rem;
      bottom: 1.8rem;
      line-height: 1.8;
    }

    .nav-search__field {
      border-width: 3px;
    }
  }

  .nav-search__field {
    padding: 1rem;
  }

  .nav-search__container {
    padding-right: 5.5rem;
  }

  .nav--primary {
    display: table;
    width: 100%;
    padding: 0 1rem;

    a {
      padding: 1.25rem 1.5rem;
      font-size: 1.4rem;
    }

    .nav__top-level-duplicate {
      display: none;
    }

    > li {
      position: relative;
      display: table-cell;
      border-top: 0;
      border-left: 1px solid $grey;
      text-align: center;
      vertical-align: middle;

      &.nav--primary__respondents {
        border-right: 1px solid $grey;
      }

      &:hover,
      &:focus {
        background-color: $white;

        // Emulate multiple borders, 2px left, 2px right
        box-shadow: 4px -2px 0 -2px $grey-light inset,
                   -4px  0   0 -2px $grey-light inset;

        &:before {
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          z-index: 100;
          border-top: .5rem solid $ons-green;
          content: " ";
        }

        > a {
          color: $ons-black;
        }
      }

      &.nav--primary__active {
        > a,
        > a:visited {
          color: $ons-green;
        }

        &:before {
          position: absolute;
          top: 0;
          right: -1px;
          left: -1px;
          z-index: 100;
          border-top: .5rem solid $ons-green;
          content: " ";
        }

        &:hover,
        &:focus {
          border-top-color: $ons-green;
          background-color: $white;

          &:before {
            right: 0;
            left: 0;
          }

          > a {
            color: $ons-black;
            background-color: transparent;
          }
        }
      }
    }

    .nav__expandable:hover {
      // Hide section of top border on the dropdown that overlaps top-level item
      &:after {
        position: absolute;
        right: 2px;
        bottom: -2px;
        left: 2px;
        z-index: 1000;
        height: 2px;
        background-color: $white;
        content: "";
      }
    }

    > li:hover > .nav--primary__sub,
    .menu-focus {
      display: block;
    }
  }

  // The 'respondents' section needs a fair bit of custom treatment due to
  // several constraints. Not a lot of this is very DRY or elegant and should
  // probably be refactored later.
  .nav--primary__respondents {
    width: 16rem;

    > a {
      color: $white;
      text-align: left;
    }

    [class^='icon'] {
      float: left;
      margin-top: -.4rem;
      font-size: 2.2rem;
      color: $ons-green;
    }
  }

  .nav--primary__sub {
    position: absolute;
    top: 100%;
    z-index: 10;
    display: none;
    width: 28rem;
    padding: 1rem 0;
    border: 2px solid $grey-light;
    text-align: left;
    background-color: $white;
    box-shadow: 0 5px 0 $off-white;

    li {
      border-bottom: 0;

      &:hover {
        background-color: $grey-light;
      }
    }

    a {
      padding-right: 2.5rem;
      padding-left: 2.5rem;
      color: $ons-black;
    }

    .nav--primary__active > a {
      color: $ons-black;
      background-color: $white;

      &:hover {
        background-color: $grey-light;
      }
    }
  }
}

/*
 * Warning: Hacks ahead. IE9 through 11 will utterly fail to calculate the
 * height of a table with table-cells of varying heights inside, thus ensuring
 * that the standard dropdown technique of top: 100% will fail on table cells
 * that are shorter than the tallest table cells in the table. This looks
 * really wonky, so we'll have to set the top offset with magic numbers instead
 * which is not very reliable, but will work with the current menu setup.
 * If the menu changes, i.e. if Home/Respondents go away, or all table cells
 * will at one point be as tall, the second breakpoint will need tweaking.
 * The top value itself needn't change unless padding or height is tweaked.
 * Bizarrely, IE8 is fine. I have no idea whether IE12 will be.
 *
 * I'm so sorry.
 */

@include respond-min(50em) {
  // IE10-11
  _:-ms-input-placeholder,
  :root .nav--primary__sub {
    top: 73px;
  }

  .ie9 .nav--primary__sub {
    top: 73px;
  }
}

@include respond-min(56.3125em) {
  // IE10-11
  _:-ms-input-placeholder,
  :root .nav--primary__sub {
    top: 54px;
  }

  .ie9 .nav--primary__sub {
    top: 54px;
  }
}
