.panel {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;

  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

// =======================================
//  Separation panels (borders)
// =======================================

.panel--separated {
  border-top: 1px solid lighten($grey-warm, 10%);
  border-bottom: 1px solid lighten($grey-warm, 10%);
}

.panel--separated--top {
  border-top: 1px solid lighten($grey-warm, 10%);
}

.panel--separated--bottom {
  border-bottom: 1px solid lighten($grey-warm, 10%);
}

.panel--separated--top--large {
  border-top: 5px solid lighten($grey-warm, 10%);
}

.panel--separated--bottom--large {
  border-bottom: 5px solid lighten($grey-warm, 10%);
}

// =======================================
//  Padding panels
// =======================================

.panel--top-pad-small {
  padding-top: .75rem;

  @include respond-min($bp-tablet) {
    padding-top: 1.5rem;
  }
}

.panel--bottom-pad-small {
  padding-bottom: .75rem;

  @include respond-min($bp-tablet) {
    padding-bottom: 1.5rem;
  }
}

.panel--pad-small {
  padding-top: .75rem;
  padding-bottom: .75rem;

  @include respond-min($bp-tablet) {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}

.panel--pad,
.panel--top-pad {
  padding-top: 1.5rem;

  @include respond-min($bp-tablet) {
    padding-top: 3rem;
  }
}

.panel--pad,
.panel--bottom-pad {
  padding-bottom: 1.5rem;

  @include respond-min($bp-tablet) {
    padding-bottom: 3rem;
  }
}

.panel--pad-large,
.panel--top-pad-large {
  padding-top: 3rem;

  @include respond-min($bp-tablet) {
    padding-top: 6rem;
  }
}

.panel--pad-large,
.panel--bottom-pad-large {
  padding-bottom: 3rem;

  @include respond-min($bp-tablet) {
    padding-bottom: 6rem;
  }
}

// =======================================
//  Margin panels
// =======================================

.panel--mar-small,
.panel--top-mar-small {
  margin-top: .75rem;

  @include respond-min($bp-tablet) {
    margin-top: 1.5rem;
  }
}

.panel--mar-small,
.panel--bottom-mar-small {
  margin-bottom: .75rem;

  @include respond-min($bp-tablet) {
    margin-bottom: 1.5rem;
  }
}

.panel--mar,
.panel--top-mar {
  margin-top: 1.5rem;

  @include respond-min($bp-tablet) {
    margin-top: 3rem;
  }
}

.panel--mar,
.panel--bottom-mar {
  margin-bottom: 1.5rem;

  @include respond-min($bp-tablet) {
    margin-bottom: 3rem;
  }
}

.panel--mar-large,
.panel--top-mar-large {
  margin-top: 3rem;

  @include respond-min($bp-tablet) {
    margin-top: 6rem;
  }
}

.panel--mar-large,
.panel--bottom-mar-large {
  margin-bottom: 3rem;

  @include respond-min($bp-tablet) {
    margin-bottom: 6rem;
  }
}
