.accordion {
  border-bottom: 2px solid $grey-light;

  &:first-of-type {
    border-top: 2px solid $grey-light;
  }
}

.accordion__title {
  position: relative;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 0;
}

// As everything is expanded by default, all JS enabled styles go below:
.js .accordion {
  .accordion__title {
    padding-right: 20%;
    cursor: pointer;

    // set base styles for icon font for everything except the glyph.
    &:after {
      position: absolute;
      top: 1rem;
      right: 0;
      width: 20%;
      font-family: "fontello";
      font-size: 3.5rem;
      color: lighten(desaturate($blue-light, 40%), 40%);
      text-align: right;
      vertical-align: top;

      @include respond-min($bp-tablet) {
        right: 3.5rem;
      }
    }

    &:focus:after,
    &:hover:after {
      color: lighten(desaturate($blue-light, 40%), 20%);
    }
  }

  &.is-expanded {
    .accordion__content {
      display: block;
    }

    .accordion__title:after {
      content: '\e80d'; //arrow up
    }
  }

  &.is-collapsed {
    .accordion__content {
      display: none;
    }

    .accordion__title:after {
      content: '\e80b'; //arrow down
    }
  }
}
