

.accordian {

    // If more than one accordion put a border between them
    &:not(:first-of-type) {
        border-top: 3px solid transparent;
    }

    div {
        background-color: #b2b6c4;
    }

    &-header {
        background: $pickled-bluewood;
        overflow: hidden;
        color: $cadet-blue;
        font-size:21px;
        margin: 10px 10px -10px 10px;
        padding: 6px 6px 6px 6px;
    }

    &-body {
        float: left;
        padding: 10px;
        margin: 10px;
        overflow: hidden;
        background-size: 30px auto;
    }

}

.js-chart-builder-panel{
    margin-top:10px;
}
.debug-links{
    float:right;
    margin:10px;

}

