$mine-shaft: #323232;
$white: #FFFFFF;
$gray-chateau: #A1A3A5;
$porcelain: #F5F6F7;
$quill-gray: #CCCCCB;
$pickled-bluewood: #343B59;
$iron: #E7E8E9;
$cadet-blue: #B2B6C4;
$astral: #337099;
$como: #49725D;
$concrete: #F2F2F2;
$emperor: #515151;
$scarpa-flow: #58585B;
$dusty-gray: #989898;