
.collection {
	&-select {
		padding: 0 $col--1;
	}

	&-create {
		padding: 0 $col--1;
		select {
			&.small {
				/*width: 30%;*/
			}
		}

		.selectbg {
			&--small {
				width: 28%;
				float: left;

				&--margin {
					margin-right: 8%;
					margin-left: 8%;
				}
			}
		}
	}

	&-selected {

		right: -50%;
		position: absolute;
		background: $quill-gray;
		// display: none;
	}


}

.collections-select-table {

	thead {
		display: block;

		tr {
			display: block;
		}
	}


	tbody {
		max-height: $lineheight * 24;
		overflow-y: scroll;
		display: block;

		tr {
			display: block;
		}
	}

	tr {
		display: block;
	}

	th, td {
		display: inline-block;
		width: 49%;
		box-sizing: border-box;
	}
}

.publish-select-table {

  thead {
    display: block;

    tr {
      display: block;
    }
  }


  tbody {
    max-height: $lineheight * 24;
    overflow-y: scroll;
    display: block;

    tr {
      display: block;
    }
  }

  tr {
    display: block;
  }

  th, td {
    display: inline-block;
    width: 49%;
    box-sizing: border-box;
  }
}

.collections-report-table {

  thead {
    display: block;

    tr {
      display: block;
      width: 760px;
    }
  }


  tbody {
    max-height: $lineheight * 12;
    overflow-y: scroll;
    display: block;

    tr {
      display: block;
      width: 760px;
    }
  }

  tr {
    display: block;
  }

  .file-name {
    display: inline-block;
    word-wrap:break-word;
    width: 59%;
    box-sizing: border-box;
  }
  .file-size {
    display: inline-block;
    text-align: right;
    width: 19%;
    box-sizing: border-box;
  }
  .file-duration {
    display: inline-block;
    text-align: right;
    width: 19%;
    box-sizing: border-box;
  }
}
