
.publish {
	&-select {
		padding: 0 $col--1;
		margin-left: 25%;
	}

	&-create {
		padding: 0 $col--1;
		select {
			&.small {
				/*width: 30%;*/
			}
		}

		.selectbg {
			&--small {
				width: 28%;
				float: left;

				&--margin {
					margin-right: 8%;
					margin-left: 8%;
				}
			}
		}
	}

	&-selected {

		right: -50%;
		position: absolute;
		/*background: $quill-gray;*/
		background: $pickled-bluewood;
		// display: none;

		.section-content:after {
			background: -moz-linear-gradient(top,  rgba(204,204,203,0) 0%, rgba(52,59,89,1) 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(204,204,203,0)), color-stop(100%,rgba(52,59,89,1))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  rgba(204,204,203,0) 0%,rgba(52,59,89,1) 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  rgba(204,204,203,0) 0%,rgba(52,59,89,1) 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  rgba(204,204,203,0) 0%,rgba(52,59,89,1) 100%); /* IE10+ */
			background: linear-gradient(to bottom,  rgba(204,204,203,0) 0%,rgba(52,59,89,1) 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00cccccb', endColorstr='#343b59',GradientType=0 ); /* IE6-9 */

		}

		.section-content--fullwidth {
			padding-left: 0;
			padding-right: 0;
		}

		.collections-section {
			background: $quill-gray;
			 overflow: hidden;
			/*background: $gray-chateau;*/

			h3 {
				margin: 0;
				padding: ($lineheight / 2) $gutter;
			}

			h4 {
				margin-top: 0;
			}



			&__head {
				box-sizing: border-box;
				outline: none;
				position: relative;
				height: $lineheight * 3;
				background: $gray-chateau;
				padding: 0 $col--2;
				cursor: pointer;
				border-top: 2px solid $pickled-bluewood;
				/*border-bottom: 1px solid $pickled-bluewood;*/
			}

			&__content {
				padding: 0 $col--2;
				margin-top: $lineheight;
				margin-bottom: $lineheight;
			}
		}
	}
}

.publish-select-table {

	tbody {
		max-height: $lineheight * 24;
		overflow-y: scroll;
		display: block;

		tr {
			display: block;
		}
	}
}

.collections-accordion {
	border-bottom: 2px solid $pickled-bluewood;
}


.collections-accordion {
	.ui-accordion-header {
		&:before {
			content: '';
			position: absolute;
			width: 0; 
			height: 0;
			top: $lineheight;
			right: $col--2;
			background-color: transparent;
			border-top: 10px solid $emperor;
			border-left: 10px solid transparent; 
			border-right:10px solid transparent; 
		}
	}

	.ui-accordion-header-active {
		&:before {
			border-top: 0px solid transparent;
			border-bottom: 10px solid $emperor;
			border-left: 10px solid transparent; 
			border-right:10px solid transparent; 
		}
	}
}






