.nav {
	&--workspace {
		background-color: transparent;
		height: auto;
		text-align: left;

		li {
			margin-top: 0;
			margin-bottom: 0;
			margin-left: -$gutter;
			margin-right: -$gutter;
			padding: $lineheight $gutter;
			display: block;
			overflow: hidden;
			font-size: 12px;

			&:after {
				content: '';
				position: absolute;
				right: $gutter / 2;
				top: $lineheight / 2;
				width: 30px;
				height: $lineheight * 2;
				background: transparent url(../img/sprite.png);
				background-size: 30px auto;
			}

			&.selected {
				background-color: $mirage;
				position: relative;

				&:before {
					content: '';
					position: absolute;
					width: 0; 
					height: 0;
					top: $lineheight;
					right: 0;
					background-color: transparent;
					border-top: 10px solid transparent;
					border-bottom: 10px solid transparent; 
					border-right:10px solid $quill-gray; 
				}
			}
		}

		&__browse {
			&:after {
				background-position: 0px -97px !important;
			}
		}

		&__create {
			&:after {
				background-position: 0px -27px !important;
			}
		}

		&__edit {
			&:after {
				background-position: 0px -61px !important;
			}
		}

		&__review {
			&:after {
				background-position: 0px -297px !important;
			}
		}
	}
}

.workspace {

	&-nav {
		background-color: $pickled-bluewood;
	}

	&-browse {
		background-color: $quill-gray;
	}

	&-browser {
		background-color: $mine-shaft;
		padding-bottom: ($gutter / 4) * 3;
	}

	&-create {
		h1 {
			margin-top: 0;
			font-size: $magicnumber1 * 3;
			padding-top: 10px;
			margin-bottom: 10px;
		}

		form {
			margin-top: 0;
			padding: 0 $gutter;
		}

		label {
			box-sizing: border-box;
			padding-top: $lineheight / 2;
			padding-left: $gutter;
			margin-top: $lineheight;
			width: 25%;
			position: absolute;
			height: $lineheight * 2;
			background-color: $scarpa-flow;
			color: $porcelain;
			border-top-left-radius: 4px;
			border-bottom-left-radius: 4px;
		}

		input {
			margin-left: 25%;
			width: 75%;
		}

		input.full {
			margin-left: 0;
			width: 100%;
		}
	}

	&-edit {
		box-sizing: border-box;
		overflow-y: scroll;
		background-color: $quill-gray;
		padding-bottom: $lineheight * 4;
		// position: relative;

		h1 {
			margin-top: 0;
			font-size: $magicnumber1 * 3;
			padding-top: 10px;
			padding-right: $gutter;
			margin-bottom: -10px;
		}

		p {
			margin-top: 0;
		}

		.edit-nav {
			box-sizing: border-box;
			position: absolute;
			bottom: 0;
			height: $lineheight * 4;
			width: $col--4;
			padding-top: $lineheight / 2;
			padding-bottom: $lineheight / 2;
			background: $gray-chateau;
		}

		.edit-section {
			background-color: $pickled-bluewood;
			color: $porcelain;
			margin: $lineheight $gutter;
			overflow: hidden;
			position: relative;
			padding-bottom: $lineheight;

			



			// &.active {
			// 	cursor: auto;
			// 	&:before {
			// 		border-top: 0px solid transparent;
			// 		border-bottom: 10px solid $quill-gray;
			// 		border-left: 10px solid transparent; 
			// 		border-right:10px solid transparent; 
			// 	}
			// }

			// &:before {
			// 	content: '';
			// 	position: absolute;
			// 	width: 0; 
			// 	height: 0;
			// 	top: $lineheight;
			// 	right: $gutter;
			// 	background-color: transparent;
			// 	border-top: 10px solid $quill-gray;
			// 	border-left: 10px solid transparent; 
			// 	border-right:10px solid transparent; 
			// 	/*cursor: pointer;*/
			// }

			&__head {
				outline: none;
				cursor: pointer;

				&.ui-accordion-header-active {
					cursor: auto;
					&:before {
						border-top: 0px solid transparent;
						border-bottom: 10px solid $quill-gray;
						border-left: 10px solid transparent; 
						border-right:10px solid transparent; 
					}
				}

				&:before {
					content: '';
					position: absolute;
					width: 0; 
					height: 0;
					top: $lineheight;
					right: $gutter;
					background-color: transparent;
					border-top: 10px solid $quill-gray;
					border-left: 10px solid transparent; 
					border-right:10px solid transparent; 
					/*cursor: pointer;*/
				}
			}

			&__content {
				padding-top: $lineheight;
				// display: none;
			}

			&__sortable-item {
				padding: $lineheight $gutter;
				position: relative;
				text-align: right;
				background-color: $cadet-blue;
				padding-top: $lineheight / 2;
				padding-bottom: $lineheight / 2;
				padding-right: $gutter / 2;
				padding-left: ($gutter / 2) * 4;
				margin-bottom: $lineheight / 2;
				margin-right: $gutter;
				margin-left: $gutter;

				&:before {
					content: '';
					position: absolute;
					left: $gutter / 2;
					top: $lineheight / 2;
					width: 30px;
					height: $lineheight * 2;
					cursor: move;
					background: transparent url(../img/sprite.png) no-repeat 0px -135px;
					background-size: 30px auto;
				}

				input {
					margin: 0;
					// margin-right: 5px;
					width: 50%;
				}

				button {
					margin: 0 0 0 5px;
				}
			}
		}
	}
}

.markdown-editor {
	display: none;
	box-sizing: border-box;
	position: absolute;
	z-index: 900;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	padding-top: $lineheight * 4;
	padding-bottom: $lineheight * 4;
	padding-right: $gutter * 4;
	padding-left: $gutter * 4;
	background-color: rgba(0,0,0,0.85);

	&__header {
		height: $lineheight * 6;
		background-color: $pickled-bluewood;

		h1 {
			margin: 0 $gutter;
			padding-top: $lineheight / 2;
			color: $cadet-blue;
			font-family: 'Open Sans', sans-serif;
			font-weight: 300;
		}
	}

	&__content {
		box-sizing: border-box;
		padding: 0;
		// height: 100%;
		height: $lineheight * 24;
	}

	&__footer {
		height: $lineheight * 4;
		background-color: $pickled-bluewood;
	}

	.wmd-panel {
		box-sizing: border-box;
		height: 100%;
	}

	.wmd-preview {
		width: 50%;
		float: right;
		background-color: $concrete;
		overflow-y: scroll;
	}

	.wmd-edit {
		width: 50%;
		float: left;
		background-color: $ash;
		position: relative;
		overflow: hidden;
		padding-top: $lineheight * 2;

		h2 {
			margin: -($lineheight * 2) $gutter 0 $gutter;
			padding: 0;
			// color: $cadet-blue;
			font-family: 'Open Sans', sans-serif;
			font-weight: 600;
			font-size: 14px;
		}
	}

	.wmd-input {
		box-sizing: border-box;
		height: 100%;
		border: none;
		resize: none;
		background-color: $ash;
		color: $ship-gray;
		// padding: 0 ($gutter / 2) 0 70px;
		padding: 0 0 0 0;
		margin-left: 10%;
		font-family: 'Ubuntu Mono';
		font-weight: normal;
		font-size: 14px;
		line-height: $lineheight;
		width: 89%;
	}

	// .wmd-prompt-dialog {
	// 	z-index: 9005;
	// }

	#wmd-button-row {
		margin: 0;
		padding: 0;
		overflow: hidden;
		  height: auto;
	}

	#wmd-button-bar {

		li {
			box-sizing: border-box;
			display: none;
			float: left;
			position: static;
			margin: ($lineheight / 2) 0 0 $gutter;
			// position: relative;
		}

		.wmd-button {
			width: $gutter * 2;
			height: $lineheight * 2;
			// border: 2px solid $cadet-blue;
		}

		.wmd-button > span {
			display: none;
		}

		#wmd-link-button {
			display: inline-block;
			&:before {
				content: '';
				width: 30px;
				height: 30px;
				display: block;
				margin: 4px auto;
				background: transparent url(../img/sprite.png) no-repeat 0px -180px;
				background-size: 30px auto;
			}
		}

		#wmd-undo-button {
			display: inline-block;
			&:before {
				content: '';
				width: 30px;
				height: 30px;
				display: block;
				margin: 4px auto;
				background: transparent url(../img/sprite.png) no-repeat 0px -221px;
				background-size: 30px auto;
			}
		}

		#wmd-redo-button {
			display: inline-block;
			&:before {
				content: '';
				width: 30px;
				height: 30px;
				display: block;
				margin: 4px auto;
				background: transparent url(../img/sprite.png) no-repeat 0px -262px;
				background-size: 30px auto;
			}
		}
	}

	.markdown-editor-line-numbers {
		box-sizing: border-box;
		width: 8%;
		height: 100%;
		padding-bottom: $lineheight * 2;
		position: absolute;
		top: $lineheight * 2;
		background: $tea;
		border-right: 1px solid $gurkha;
		overflow: hidden;

		li {
			margin: 0 -10px 0 0;
			list-style-position: inside;
			font-family: 'Ubuntu Mono';
			font-weight: normal;
			font-size: 14px;
			text-align: right;
			color: $olive-haze;

			&.active {
				background-color: $nappa;
				color: $kabul;
			}
		}
	}

	button {
		margin-top: $lineheight;
	}
}















