/** ACCORDION **/

.accordion {

    // If more than one accordion put a border between them
    &:not(:first-of-type) {
        border-top: 3px solid transparent;
    }

    &__title {
        height: $lineheight * 3;
        background: $gray-chateau;
        box-sizing: border-box;
        position: relative;
        padding: 0 $col--2;
        cursor: pointer;

        // Handle different headings in accordion title
        h3 {
            margin: 0;
            padding: ($lineheight * 0.5) $gutter;
        }
        h4 {
            margin-top: 0;
        }

        // Arrows on accordion title
        &:before {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            top: $lineheight + 6;
            right: $col--2;
            background-color: transparent;
            border-top: 10px solid $emperor;
            border-left: 10px solid transparent;
            border-right:10px solid transparent;
        }

        &.active:before {
            border-top: 0 solid transparent;
            border-bottom: 10px solid $emperor;
            border-left: 10px solid transparent;
            border-right:10px solid transparent;
        }

        &:hover {
            background-color: darken($gray-chateau, 10%);
        }
    }

    &__content {
        overflow: scroll;
        background: $quill-gray;
        animation-name: accordion-hide;
        animation-fill-mode: forwards;
        animation-duration: 0.4s;
        animation-timing-function: ease-in-out;

        // Stop animation showing on initial render of the accordion - class removed on click
        &.disable-animation {
            display: none;
        }

        &.active {
            display: block;
            animation-name: accordion-show;
            animation-fill-mode: forwards;
            animation-duration: 0.4s;
            animation-timing-function: ease-in-out;
        }

        &--padded {
            padding: 0 $col--2;
        }
    }
}

/* Accordion animation */
@keyframes accordion-show {
    from {max-height: 0;}
    to {max-height: ($lineheight * 17);}
}
@keyframes accordion-hide {
    from {max-height: ($lineheight * 17);}
    to {max-height: 0;}
}
