.markdown-editor {
    display: none;
    box-sizing: border-box;
    position: absolute;
    z-index: 900;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding-top: $lineheight * 3;
    padding-bottom: $lineheight * 3;
    padding-right: $gutter * 3;
    padding-left: $gutter * 3;
    background-color: rgba($black, .75);

    &__header {
        height: $lineheight * 6;
        background-color: $pickled-bluewood;

        h1 {
            margin: 0 $gutter;
            padding-top: $lineheight / 2;
            color: $cadet-blue;
            font-family: 'Open Sans', sans-serif;
            font-weight: 300;
        }
    }

    &__content {
        box-sizing: border-box;
        padding: 0;
        // height: 100%;
        height: $lineheight * 31;
    }

    &__footer {
        //height: $lineheight * 4;
        background-color: $pickled-bluewood;
        padding: ($lineheight/2) 0 $lineheight 0;
    }

    &__input {
        width: 50%;
        float: left;
        background-color: $ash;
        position: relative;
        overflow: hidden;
        padding-top: $lineheight * 2;
        box-sizing: border-box;
        height: 100%;

        h2 {
            //margin: -($lineheight * 2) $gutter 0 $gutter;
            //padding: 0;
            //font-family: 'Open Sans', sans-serif;
            //font-weight: 600;
            //font-size: 14px;
        }
    }

    &__textarea {
        box-sizing: border-box;
        height: 100%;
        border: none;
        resize: none;
        background-color: $ash;
        color: $ship-gray;
        padding: 0 0 0 0;
        margin-left: 10%;
        font-family: 'Ubuntu Mono', sans-serif;
        font-weight: normal;
        font-size: 14px;
        line-height: $lineheight;
        width: 89%;

        &:focus {
            border: 0 !important;
            outline: 0;
        }
    }

    &__textarea-label {
        display: block;
        margin: -($lineheight * 1.5) $gutter 11px $gutter;
        padding: 0;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        font-size: 14px;
    }

    &__preview {
        width: 50%;
        float: right;
        background-color: $concrete;
        overflow-y: scroll;
        padding: 0 $gutter;
        box-sizing: border-box;
        height: 100%;

        h2, h3, h4, h5, h6 {
            margin-top: $lineheight;
        }

        ul, ol {
            margin: $lineheight $gutter $lineheight ($gutter * 2);

            ul, ol {
                margin: ($lineheight/2) $gutter ($lineheight/2) ($gutter * 2);
            }
        }
    }

    &__options {
        margin: 0;
        padding: 0;
        overflow: hidden;
        height: auto;
    }

    &__button {
        width: $gutter * 2;
        height: $lineheight * 2;

        box-sizing: border-box;
        display: none;
        float: left;
        position: static;
        margin: ($lineheight / 2) 0 0 $gutter;

        &:hover {
            cursor: pointer;
        }

        & > span {
            display: none;
        }

        // Default button icons created by markdown.editor.js
        &--custom {
            display: inline-block;
            position: relative;
        }

        // Different button icons
        &--chart {
            float: left;
            width: 40px;
            height: 42px;
            background: $pickled-bluewood url(../../img/sprite.png) no-repeat 0px -475px;
            background-size: 30px auto;
            margin: 10.5px 0 0 20px;

            &:hover:after {
                background-color: transparent;
            }
        }

        &--table {
            float: left;
            width: 40px;
            height: 42px;
            background: $pickled-bluewood url(../../img/sprite.png) no-repeat 0px -515px;
            background-size: 30px auto;
            margin: 10.5px 0 0 20px;

            &:hover:after {
                background-color: transparent;
            }
        }

        &--table-v2 {
            float: left;
            width: 40px;
            height: 42px;
            background: $pickled-bluewood url(../../img/sprite.png) no-repeat 0px -828px;
            background-size: 30px auto;
            margin: 10.5px 0 0 20px;

            &:hover:after {
                background-color: transparent;
            }
        }

        &--image {
            float: left;
            width: 40px;
            height: 42px;
            background: $pickled-bluewood url(../../img/sprite.png) no-repeat 0px -653px;
            background-size: 30px auto;
            margin: 10.5px 0 0 20px;

            &:hover:after {
                background-color: transparent;
            }
        }

        &--embed {
            float: left;
            background-color: transparent;
            margin: 10.5px 0 0 20px;
            width: 40px;
            height: 42px;

            // Over-ride default button hover effect
            &:after {
                font-size: 26px;
                color: $cadet-blue;
                width: 40px !important;
                height: 42px !important;
                top: 10px !important;
                left: 0 !important;
                position: absolute !important;
                content: '</>' !important;
                background-color: transparent !important;
            }

            &:hover {
                float: left;
                background-color: transparent;
                margin: 10.5px 0 0 20px;
                width: 40px;
                height: 42px;
                content: '</>';
            }
        }

        &--equation {
            float: left;
            background-color: transparent;
            margin: 10.5px 0 0 20px;
            width: 40px;
            height: 42px;

            // Over-ride default button hover effect
            &:after {
                font-size: 20px;
                color: $cadet-blue;
                width: 40px !important;
                height: 42px !important;
                top: 10px !important;
                left: 10px !important;
                position: absolute !important;
                content: 'x' !important;
                background-color: transparent !important;
            }

            &:before {
                font-size: 36px;
                color: $cadet-blue;
                width: 40px;
                height: 42px;
                top: 10px;
                left: -5px;
                position: absolute;
                content: '√';
                background-color: transparent;
            }

            &:hover {
                float: left;
                background-color: transparent;
                margin: 10.5px 0 0 20px;
                width: 40px;
                height: 42px;
                content: '√x';
            }
        }

        &--box {
            float: left;
            width: 40px;
            height: 42px;
            background: $pickled-bluewood url(../../img/sprite.png) no-repeat 0px -792px;
            background-size: 30px auto;
            margin: 10.5px 0 0 20px;

            &:hover:after {
                background-color: transparent;
            }
        }
    }

    &__line-numbers {
        box-sizing: border-box;
        width: 8%;
        height: 100%;
        padding-bottom: $lineheight * 2;
        position: absolute;
        top: $lineheight * 2;
        background: $tea;
        border-right: 1px solid $gurkha;
        overflow: hidden;

        li {
            margin: 0 -10px 0 0;
            list-style-position: inside;
            font-family: 'Ubuntu Mono', sans-serif;
            font-weight: normal;
            font-size: 14px;
            text-align: right;
            color: $olive-haze;

            &.active {
                background-color: $nappa;
                color: $kabul;
            }
        }
    }

    // Built in buttons for markdown editor
    #wmd-link-button {
        display: inline-block;
        &:before {
            content: '';
            width: 30px;
            height: 30px;
            display: block;
            margin: 4px auto;
            background: transparent url(../../img/sprite.png) no-repeat 0px -180px;
            background-size: 30px auto;
        }
    }

    #wmd-undo-button {
        display: inline-block;
        &:before {
            content: '';
            width: 30px;
            height: 30px;
            display: block;
            margin: 4px auto;
            background: transparent url(../../img/sprite.png) no-repeat 0px -221px;
            background-size: 30px auto;
        }
    }

    #wmd-redo-button {
        display: inline-block;
        &:before {
            content: '';
            width: 30px;
            height: 30px;
            display: block;
            margin: 4px auto;
            background: transparent url(../../img/sprite.png) no-repeat 0px -262px;
            background-size: 30px auto;
        }
    }
}