// _tabs.scss

.tab {

    //@include breakpoint(md){
	//	margin-top: ($baseline *6);
	//}

    //border-bottom: 1px solid $iron;
    //margin-bottom: -1px;
    background: $white;

    &--background {
        background: $white;
    }

    
    &__item {
        margin: 0;
        vertical-align: bottom;
        display: inline-block;

        //@include breakpoint(sm) {
        //    max-width: 32%;
        //}
    }

    &__link {

        font-size: 16px;
        height: ($lineheight + 4);
        background: $quill-gray;
        color: $ship-gray;
        padding: 12px;
        margin: 0;
        display: block;
        text-decoration:none;

        //@include breakpoint(sm) {
        //    padding: 9px ($col/2) 3px ($col/2);
        //    font-size: 14px;
        //    word-wrap: normal;
        //    line-height: 18px;
        //    height: ($lineheight * 7);
        //}

        &:hover,
        &:focus {
            cursor: pointer;
            background: darken($wild-sand, 15%);
        }

        &--active {
            padding-top: 20px;
            padding-bottom: 12px;
            background: $wild-sand;
            color: $ship-gray;
            height: ($lineheight + 6);

            //@include breakpoint(sm) {
            //    padding-top: 17px;
            //    height: ($lineheight * 8);
            //}

            &:hover,
            &:focus {
                cursor: default;
                background-color: $white;
                text-decoration: none;
            }

        }


    }


}
