/* This is the start of a re-usable component to make all modal's in Florence use consistent styling & naming. It'll be built first and then existing modal's should be migrated over to it in the future */

.modal {

    &-select {

        // Duplicate of builder__inner, which should later be migrated over to use modal classing
        background-color: $wild-sand;
        height: $lineheight * 37;
        width: $col--10;
        margin-top: $lineheight * 5;
        margin-right: auto;
        margin-left: auto;
        overflow: hidden;
        position: relative;

        &__head {
            padding: 0 $gutter;
        }

        &__title {
            float: left;
            margin-top: $lineheight;
            margin-left: 0;
            margin-right: 0;
        }

        &__search {
            float: right;
            width: ($gutter * 16);
        }

        &__body {
            padding: 0 16px 0 24px;
        }

        &__footer {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 63px;
            background: $gray-chateau;
        }

        &__animation {
            display: block;
            width: 100% !important;
            padding-left: 0;
            padding-right: 0;
            margin: 0 auto;
        }
    }

    &-title {
      margin: 0 auto;
      margin-top: $lineheight * 5;
      h1 {
        color:$white;
        margin: 0;
      }
    }

    &-recipe {
      // Duplicate of builder__inner, which should later be migrated over to use modal classing
      background-color: $white;
      border:3px solid $pickled-bluewood;
      width: $col--6;
      margin-top: $lineheight * 2;
      margin-right: auto;
      margin-left: auto;
      overflow: scroll;
      position: relative;
        height: 600px;
      &__header {
        background-color: $pickled-bluewood;
        padding:20px;
        h2 {
          font-family: 'Open Sans', sans-serif;
          color:$white;
          margin:0;
          padding:0;
          font-size: 18px;
        }
      }
      &__body {
        padding: 20px;
        ul {
          list-style:none;
          li {
            overflow: hidden;
            &:not(:last-child) {
              padding:0 0 20px;
              margin:0 0 20px;
              border-bottom:1px solid $ship-gray;
            }
          }
          h3 {
            font-family: 'Open Sans', sans-serif;
            font-size:14px;
            line-height: 18px;
            padding: 0;
            margin: 0;
          }
          .btn {
            float: right;
            margin: 0;
          }
        }
      }
    }
}
