//Styling for show and hide enhancement. Styles here should apply to all global uses of show and hide

.js-show-hide {

    &__title {

        // show and hide js injects a button - styled to be consistent with ordinary heading
        button {
            font-size: inherit;
            font-family: inherit;
            font-weight: inherit;
            color: inherit;
            text-transform: inherit;
            text-align: left;
            background-color: transparent;
            border: none;
            padding: ($baseline * 2) $col ($baseline * 2) 0;
            //padding: 3px 0 5px 0; //This should keep the text for the button on grid
            line-height: inherit;

            // expands to containing element
            width: 100%;
            height: 100%;

            &:hover,
            &:focus {
                text-decoration: underline;
            }
        }
    }
}

.show-hide {

    &:focus {
        border: 2px solid $thunder;
    }

    button {
        position: relative;
    }

    // down arrow when not expanded
    button[aria-expanded=false]:after {
        position: absolute;
        right: 16px;
        //top: 27px;
        top: 32%;
        content: "";
        @extend .icon;
    }

    // up arrow when not expanded
    button[aria-expanded=true]:after {
        position: absolute;
        right: 16px;
        //top: 27px;
        top: 32%;
        content: "";
        @extend .icon;
    }

    button:focus {
        outline: none;
    }

    &--dark {

        //border: 1px solid $thunder;
        //margin: (($baseline * 3) - 1) 0 ($baseline - 1px) 0;
        ////padding: ($baseline * 2) $col;
        //background-color: $ship-grey;

        button[aria-expanded=false]:after {
            @extend .icon-arrow-down--light;
        }

        // up arrow when not expanded
        button[aria-expanded=true]:after {
            @extend .icon-arrow-up--light;
        }

    }

    &--light {

        // down arrow when not expanded
        button[aria-expanded=false]:after {
            @extend .icon-arrow-down--dark;
        }

        // up arrow when not expanded
        button[aria-expanded=true]:after {
            @extend .icon-arrow-up--dark;
        }

    }

    &__title {
        margin: $baseline 0;
        height: 100%;
        width: 100%; //expands title to full width so arrow is located at end correctly

        @include breakpoint(md) {
            padding-right: ($col * 2);
        }
    }

    &__content {

        //padding: 0 0 ($baseline * 2) 0;
        padding-left: 0;
        border-bottom: 1px solid $aluminium;

        //@include breakpoint(md) {
        //    margin-right: ($col * 5);
        //}

        &:last-of-type {
            //padding: 0;
            border: none;
        }
    }

}