%btn-reset {
  @extend [ class ^= "icon-" ];
  @extend .icon--large;

  border: 0;
  border-radius: 0;
  color: $blue-alt;

  background: none;
  background-color: #fff;
}

%table-type-reset {
  @extend %type-reset;
  @extend %body-type;

  font-size: 1.6rem;
  font-weight: normal;
  text-shadow: none;
  text-transform: initial;
}

.tablesaw {
  background: #fff;
}

.tablesaw-bar,
.tablesaw-bar .tablesaw-toolbar .btn {
  @extend %table-type-reset;
}

.tablesaw-bar .tablesaw-columntoggle-btnwrap > a.btn {
  &:before {
    margin-left: -.6rem;
  }
}

.tablesaw-bar .btn-select.btn-small,
.tablesaw-bar .btn-select.btn-micro,
.tablesaw-bar .btn-select {

  &:after {
    @extend %btn-reset;
    @extend .icon--large;
    padding-right: 0;
    padding-top: 0;
    font-family: "fontello";
    content: '\e818';
    top: -4px;
  }
}

.tablesaw-bar .tablesaw-advance > .btn.left,
.icon-arrow-gray-left {
  @extend %btn-reset;
  @extend .icon-left-open-big;

  &:before {
    margin-left: -.6rem;
  }
}

.tablesaw-bar .tablesaw-advance > .btn.right,
.icon-arrow-gray-right {
  @extend %btn-reset;
  @extend .icon-right-open-big;

  &:before {
    margin-left: -.6rem;
  }
}

.tablesaw-bar .tablesaw-columntoggle-btnwrap > a.btn,
.icon-arrow-gray-down {
  @extend %btn-reset;
  @extend .icon-down-open-big;

  &.is-active {
    @extend .icon-up-open-big;
    z-index: 100010;
  }
}

.tablesaw-bar .btn-select.btn-small {
  @extend %btn-reset;
  
  &:after {
    // @extend .icon-down-open-big;
  }
}

.tablesaw-bar.mode-swipe {
  margin: 0;
}

.tablesaw-bar .tablesaw-advance a.tablesaw-nav-btn {
  margin: 0;

}

.dialog-table-coltoggle {
  border-radius: 0;
}

.tablesaw td,
table.tablesaw tbody th {
  @extend %table-type-reset;
}

.tablesaw thead tr:first-child th,
.tablesaw thead {
  @extend %body-type--heavy;
  @extend %table-type-reset;

  background-color: $table-color;
  background-image: linear-gradient(lighten($table-color, 4%), $table-color);
}

.tablesaw-enhanced .tablesaw-bar .btn {
  box-shadow: none;

  &:active {
    background: none;
  }
}

.tablesaw-columntoggle-btnwrap .dialog-content {
  @extend %table-type-reset;
  right: -0.2rem;
  width: 29rem;
  max-width: 29rem;
  padding-right: 1.6rem;
  font-size: 1.3rem;
}

.tablesaw-columntoggle-popup .btn-group > label {
  padding: 1rem 1rem 1rem 3rem;
  text-indent: -3rem;

  input {
    margin-left: .5rem;
  }
}

/*
 * This should really be for mobiles, but we don't have a mobile
 * breakpoint at the moment, so using
 */
.tablesaw-advance.minimap {
  @include respond-max(30em) {
    display: none !important;
  }
}
