.main-logo {
  display: block;
  height: 3.5rem;
  max-width: 15rem;

  @include respond-min(50em) {
    height: 6rem;
    max-width: 26rem;

    > img {
      height: 5rem;
    }
 }
}

.global-header {
  border-top: .5rem solid $ons-green;
}

.global-header__wrapper {
  position: relative;
  max-width: 59.75em;
  padding: 1rem 1rem 0;
  margin: 0 auto .5rem;

  @include respond-min(50em) {
    padding: 2rem 1rem 1rem;
  }
}

.global-header__top-nav {
  margin-right: 2rem;

  a {
    color: lighten($black, 15%);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.globaltop-nav {
  display: none;
  margin: 0;

  > li {
    float: left;
  }

  a {
    padding: 1rem 2rem;
    color: $ons-black;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &:last-of-type {
      padding-right: 0;
    }
  }

  @include respond-min(32em) {
    display: block;
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
  }
}
