{
    "env": {
        "testing": {
            "presets": [
                "@babel/preset-react", 
                "@babel/env",
            ]
        },
        "production": {
            "presets": [
                "@babel/preset-react", 
                ["@babel/env", { "modules": false, "targets": {"chrome": "58"}}],
            ]
        },
        "development": {
            "presets": [
                "@babel/preset-react", 
                ["@babel/env", { "modules": false, "targets": {"chrome": "58"}}],
            ]
        }
    }
}