.anchor-btn{
    background-color: $astral;
    color: white !important;
    display: inline-block;
    border-radius: 4px;
    padding: 15px 25px;
    font-size: 18px;
    text-decoration: none;
    max-width: 215px;
    min-width: 100px;
  }