.btn {
    font-family: 'Roboto Slab', serif;
    border-radius: 4px;
    padding: 10px $gutter;
    text-decoration: none;
    position: relative;
    background-color: $iron;

    /* Colours */
    &--primary {
        color: $concrete;
        background-color: $astral;
    }

    &--positive {
        color: $concrete;
        background-color: $como;
    }

    &--warning {
        color: $concrete;
        background-color: $tawny-port;
    }

    &--subtle {
        color: $mirage;
        background-color: $cadet-blue;
        opacity: 0.5;

        &:hover {
            opacity: 1;
            color: $pickled-bluewood;
        }
    }
    
    &--disabled,
    &:disabled {
        opacity: 0.65;

        // Disabled default hover/focus effects
        &:hover,
        :focus {
            cursor: default;
        }

        &:hover:after,
        :focus:after {
            display: none;
        }
    }

    &:hover,
    &:focus {
        &:after {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            background-color: rgba(0,0,0,0.2);
            top: 0;
            left: 0;
            border-radius: 4px;
        }
    }

    &--password {
        background: none;
        font-size: ($lineheight / 2 ) + 2;
        float: right;
        margin-top: -$lineheight * 2;

        &:hover {
            cursor: pointer;
        }

        &:hover,
        &:focus {
            text-decoration: underline;
            outline: 0;

            &:after {
                background: none;
            }
        }
    }

    /* Margin */
    &--flush {
        margin: 0 !important;
    }
    &--margin-right {
        margin-right: $gutter;
    }
    &--margin-left {
        margin-left: $gutter;
    }

    /* Display */
    &--inline-block {
        display: inline-block;
    }
}