.btn {
    font-family: 'Roboto Slab', serif;
    border-radius: 4px;
    padding: 10px $gutter;
    text-decoration: none;
    position: relative;
    background-color: $concrete;
    display: inline-block;

    &:hover,
    &:focus {
        outline: 0; //reset the default focus styling (for example those set on <a> tags)
    }

    &:hover,
    &:focus {
        &:after {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            background-color: rgba(0,0,0,0.2);
            top: 0;
            left: 0;
            border-radius: 4px;
        }
    }

    /* Colours */
    &--primary,
    &--primary:visited {
        color: $concrete;
        background-color: $astral;
    }

    &--positive,
    &--positive:visited {
        color: $concrete;
        border: 2px solid $como;
        background-color: $como;
    }

    &--warning,
    &--warning:visited {
        color: $concrete;
        background-color: $tawny-port;
    }

    &--subtle,
    &--subtle:visited {
        color: $mirage;
        background-color: $cadet-blue;
        opacity: 0.5;

        &:hover {
            opacity: 1;
            color: $pickled-bluewood;
        }
    }

    &--invert-primary,
    &--invert-primary:visited {
        color: $astral;
        background-color: $concrete;
        border: 2px solid $astral;
        box-sizing: border-box;
    }

    &--link {
        color: $primary-link;
        text-decoration: underline;
        padding: 0;
        font-family: $base-font-family;
        background-color:  transparent;

        &:focus {
            outline: 3px solid $focus;
        }

        &:hover:after,
        &:focus:after {
            display: none;
        }
    }

    &--disabled,
    &:disabled {
        opacity: 0.65;

        // Disabled default hover/focus effects
        &:hover,
        :focus {
            cursor: default;
        }

        &:hover:after,
        :focus:after {
            display: none;
        }
    }

    &--password {
        background: none;
        font-size: ($lineheight * 0.5 ) + 2;
        float: right;
        margin-top: -$lineheight * 2;

        &:hover {
            cursor: pointer;
        }

        &:hover,
        &:focus {
            text-decoration: underline;
            outline: 0;

            &:after {
                background: none;
            }
        }
    }

    /* Margin */
    &--flush {
        margin: 0 !important;
    }
    &--margin-right {
        margin-right: $gutter;
    }
    &--margin-left {
        margin-left: $gutter;
    }

    /* Display */
    &--inline-block {
        display: inline-block;
    }

    &__close {
        margin: 0 6px;
        border-radius: 100%;
        background-color: $scarpa-flow;
        font-size: 1.2rem;
        color: $white;
        width: 24px;
        height: 24px;

        &:hover {
            opacity: 0.7;
        }
    }
}
