@use "sass:math";

.form {
    &__label {
        display: block;
        margin-bottom: math.div($lineheight, 3);
        font-weight: 600;
    }

    &__input {
        margin-bottom: $lineheight;

        &--error {

            .input {
                border-color: $night-shadz;
                background-color: lighten($night-shadz, 50);
            }

            .error-msg {
                font-weight: 600;
                color: $night-shadz;
            }
        }

        &--flush {
            margin: 0;
        }
    }

    &__loader {
        top: 6px;
        left: 16px;
    }

    &--inline {
        display: flex;
        height: $lineheight * 2;
        flex-wrap: nowrap;
    }

    &-footer {
        position: fixed;
        background: $grey4;
        width: 100%;
        bottom: 0;
    }

    &-group{
        border: 3px solid $scarpa-flow;
        padding: $lineheight ;
    }
}

.fieldset {
    margin-bottom: $lineheight * 0.5;
    border: 0;

    &__legend {
        display: block;
        margin-bottom: math.div($lineheight, 3);
        font-weight: 600;
    }
}

.error-summary {
    border: 3px solid $night-shadz;
    //background-color: lighten($night-shadz, 50);
    padding: $lineheight;
    margin: $lineheight 0;

    &__list {
        margin: $lineheight 0 0 $lineheight;

        &-item {
            font-weight: 600;
            color: $night-shadz;
        }

    }
}
