.form {

    &__label {
        display: block;
        margin-bottom: $lineheight / 3;
        font-weight: 600;
    }

    &__checkbox {
        &__label{
            line-height: $lineheight * 2;
            font-weight: normal;
            margin: 0 14px;
            vertical-align: middle;
            display: inline-block;
        }
    }

    &__input {
        margin-bottom: $lineheight;

        &--error {

            .input {
                border-color: $night-shadz;
                background-color: lighten($night-shadz, 50);
            }

            .error-msg {
                font-weight: 600;
                color: $night-shadz;
            }
        }

        &--flush {
            margin: 0;
        }
    }

    &__loader {
        top: 6px;
        left: 16px;
    }

}

.fieldset {
    margin-bottom: $lineheight / 2;
    border: 0;

    &__legend {
        display: block;
        margin-bottom: $lineheight / 3;
        font-weight: 600;
    }
}

.error-summary {
    border: 3px solid $night-shadz;
    //background-color: lighten($night-shadz, 50);
    padding: $lineheight;
    margin: $lineheight 0;

    &__list {
        margin: $lineheight 0 0 $lineheight;

        &-item {
            font-weight: 600;
            color: $night-shadz;
        }

    }
}