@use "sass:math";

.form {
    &__label {
        display: block;
        margin-bottom: math.div($lineheight, 3);
        font-weight: 600;
    }

    &__input {
        margin-bottom: $lineheight;

        &--error {

            .input {
                border-color: $night-shadz;
                background-color: lighten($night-shadz, 50);
            }

            .error-msg {
                font-weight: 600;
                color: $night-shadz;
            }

            &__panel{

                span {
                    color: $ruby-red;
                    font-weight: 700;
                }

                label {
                    padding-top: 18px;
                }

                background-color: $light-pink;
                border-left: 8px solid $ruby-red;
                padding: 18px 81px 18px 26px !important;
            }
        }

        &--flush {
            margin: 0;
        }

        &__panel{
            padding: 0 81px 0px 26px;
        }
    }

    &__loader {
        top: 6px;
        left: 16px;
    }

    &--inline {
        display: flex;
        height: $lineheight * 2;
        flex-wrap: nowrap;
    }

    &__button{
        &__panel{
            padding: 0 81px 0px 26px;

            button, a {
                font-family: "Open Sans";
                font-size: 18px;
                border-bottom: 3px solid rgba(0, 0, 0, .6);
            }

            button:nth-child(1) {
                font-weight: 700;
            }

            a{
                color: $black;
                font-weight: 400;
            }
        }
    }

    &__back__button {
        padding: 0 81px 0px 26px;
        a {
            color: $black;
            display: flex;

            img {
                padding-right: 10px;
            }
        }
    }

    &-footer {
        position: fixed;
        background: $grey4;
        width: 100%;
        bottom: 0;
    }

    &-group{
        border: 3px solid $scarpa-flow;
        padding: $lineheight ;
    }
}

.fieldset {
    margin-bottom: $lineheight * 0.5;
    border: 0;

    &__legend {
        display: block;
        margin-bottom: math.div($lineheight, 3);
        font-weight: 600;
    }
}

.error-summary {
    border: 3px solid $night-shadz;
    //background-color: lighten($night-shadz, 50);
    padding: $lineheight;
    margin: $lineheight 0;

    &__list {
        margin: $lineheight 0 0 $lineheight;

        &-item {
            font-weight: 600;
            color: $night-shadz;
        }

    }
}
