.input {
    box-sizing: border-box;
    border: 3px solid $scarpa-flow;
    border-radius: 4px;
    display: inline-block;
    width: 100%;
    height: $lineheight * 2;
    padding: 7px $gutter;
    background-color: $white;

    &--has-toggle {
        padding-right: ($magicnumber1 * 10) + $gutter;
    }

    &:focus {
        border: 3px solid $focus;
    }

    &:disabled {
        border: 3px solid $nappa;
        color: $nappa;
        background-color: $quill-grey;
        position: relative;

        &:-webkit-autofill {
            -webkit-text-fill-color: $nappa;
        }

    }

}