.sort {
  display: inline-flex;
  flex-direction: column;
  padding-left: 0.75rem;
  font-size: 0.75rem;
  color: $cadet-blue;

  &__icon-up,
  &__icon-down {
    opacity: 0.3;
  }

  .active {
    opacity: 1;
  }

  &__icon-up:before {
    content: "\25B2";
  }

  &__icon-down:before {
    content: "\25BC";
  }
}
