
/*
* Required legacy SCSS - to be refactored
*/
@import "../legacy/scss/partials/reset";


/*
* Refactored SCSS
*/

* {
   box-sizing: border-box;
}

//Base styling
@import "base/variables";
@import "base/grid";
@import "base/fonts";
@import "base/typography";

//functions
@import "functions/colours";

// Components
@import "components/global-nav";
@import "components/modal";
@import "components/selectable-box";
@import "components/loader";
@import "components/drawer";
@import "components/add-remove";
@import "components/notifications";
@import "components/content-action-bar";
@import "components/progress-bar";
@import "components/log";
@import "components/pagination";
@import "components/selected-item-list";
@import "components/page";
@import "components/preview";
@import "components/simple-select-list";

@import "components/card";
@import "components/table";
@import "components/details";
@import "components/selectable-table";
@import "components/scrollable-box";
@import "components/icon";
@import "components/preview";
@import "components/panel";
@import "components/checkbox";
@import "components/chip";
@import "components/dynamic_list";
@import "components/search";
@import "components/banner";
@import "components/filterable-table";

// Elements
@import "elements/buttons";
@import "elements/inputs";
@import "elements/forms-and-labels";
@import "elements/lists";
@import "elements/anchor";
@import "elements/sort";

// High priority - should be last in cascade
@import "base/utilities";
