/** VARIOUS UTILITIES - too small to require a separate file **/

/* Overflow */
.overflow {
    &-hidden {
        overflow: hidden;
    }
}

/* Float */
.float-left {
    float: left !important;
}

.float-right {
    float: right !important;
}

/* Text align */
.text-center {
    text-align: center;
}